{% extends 'admin/admin.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">

                        <div class="single-table">
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">       <!-- Modal -->
                                            <button type="button" onclick="ClickModal()" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i>Prix Fournisseur</button>
                                            <a href="{{ path('create_slice', { 'id': priceId }) }}" class="btn btn-outline-secondary"><i class="fas fa-plus-circle"></i>Prix Client</a>
                                            <h3>Tranches FOURNISSEUR</h3>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Code</th>
                                        <td>Prix de base</td>
                                        {% for slice in slices %}
                                            <td>{{ slice.getCodePrice }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">Jours</th>
                                        <td>21</td>
                                        {% for slice in slices %}
                                            <td>{{ slice.getDays }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">Valeur</th>
                                        <td>{{ originalPriceSupplier }}</td>
                                        {% for slice in slices %}
                                            <td>{{ slice.value }}</td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped text-center">
                                    <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">       <!-- Modal -->
                                            <h3>Tranches CLIENT</h3>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Code</th>
                                        <td>Prix de base</td>
                                        {% for sliceCusto in slicesCustomer %}
                                            <td>{{ sliceCusto.getCodePrice }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">Jours</th>
                                        <td>21</td>
                                        {% for sliceCusto in slicesCustomer %}
                                            <td>{{ sliceCusto.getDays }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">Valeur</th>
                                        <td>{{ originalPrice }}</td>
                                        {% for sliceCusto in slicesCustomer %}
                                            <td>{{ sliceCusto.value }}</td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--b-submit-->
    {{ include('modal/sliceSupplierModal.html.twig') }}

    <script>
        function ClickModal() {
            let x = document.getElementById("sliceSupplierModal");
            let y = document.getElementById("CloseSupplierModal");

            x.style.display = "block";
        }

        function CloseModal() {
            let x = document.getElementById("sliceSupplierModal");
            x.style.display = "none";
        }
    </script>
{% endblock %}
