{% extends 'base.html.twig' %}

{% block body %}
    <section class="b-pageHeader">
        <div class="container">
            <h1 class="wow zoomInLeft" data-wow-delay="0.5s">Submit Your Vehicle</h1>
            <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
                <h3>Add Your Vehicle In Our Listings</h3>
            </div>
        </div>
    </section><!--b-pageHeader-->

    <div class="b-breadCumbs s-shadow">
        <div class="container wow zoomInUp" data-wow-delay="0.5s">
            <a href="{{ path('main') }}" class="b-breadCumbs__page">Accueil</a><span class="fa fa-angle-right"></span>
            <a href="#" class="b-breadCumbs__page m-active">Ajouter une voiture</a>
        </div>
    </div><!--b-breadCumbs-->


    <div class="b-submit">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                    <aside class="b-submit__aside">
                        <h3>Step 1</h3>
                        <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-submit__aside-step-inner m-active clearfix">
                                <div class="b-submit__aside-step-inner-info">
                                    <h4>Détails de la voiture</h4>
                                    <p>Informations sur la voiture</p>
                                    <div class="b-submit__aside-step-inner-info-triangle"></div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                    <div class="b-submit__main">
                        <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="">Informations sur la voiture</h2>
                        </header>
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Nom <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.name) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Description <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.description) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Accessoires<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.items) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Date de debut de commande<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.date_start) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Date de fin<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.date_end) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Prix de vente<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.sellingPrice) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Année <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.years) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Marge en %<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.margin) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Jour minimum<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.minDays) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-contacts-check">
                                        <label>Carburant<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.fuel) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Prix de la Barre de toit<span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.roofRack) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Prix des Chaines <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.chains) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Passagers <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.passenger) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Portes <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.door) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>CO2 <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.co2) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Clim <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.clim) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Message sur la disponibilité <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.contactActived) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Transmission <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.transmission) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Baguage <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.luggage) }}
                                        </div>
                                    </div>
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Image <span>*</span></label>
                                        <div class='s-relative'>
                                            {{ form_row(form.carImg) }}
                                        </div>
                                    </div>
                       {#             <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Select Drive Type <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select5">
                                                <option>Select</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>#}
                        {#            <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Select No. of Cylinders <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select6">
                                                <option>Select</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>#}
                 {#                   <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Select Fuel Type <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select7">
                                                <option>Select</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>
                                </div>#}
             {#                   <div class="col-md-6 col-xs-12">
                                    <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Enter Vehicle Model <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select8">
                                                <option>Select a Model</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>#}
                      {#              <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Select Body Type <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select9">
                                                <option>Select</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>#}
                         {#           <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>No. of Doors <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select10">
                                                <option>Select</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>#}
                  {#                  <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Vehicle Transmission Type <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select11">
                                                <option>Select</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>#}
               {#                     <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Select Engine Type <span>*</span></label>
                                        <div class='s-relative'>
                                            <select class="m-select" name="select12">
                                                <option>Select</option>
                                            </select>
                                            <span class="fa fa-caret-down"></span>
                                        </div>
                                    </div>#}
                    {#                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Enter Engine Capacity <span>*</span></label>
                                        <input placeholder="Enter Capacity" type="text" name="input1" />
                                    </div>#}
                               {#     <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                        <label>Enter VIN/Chassis Number <span>*</span></label>
                                        <input placeholder="Enter Number" type="text"  name="input2" />
                                    </div>#}
                                </div>
                            </div>
                            <button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">Sauvegarder<span class="fa fa-angle-right"></span></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div><!--b-submit-->
{% endblock %}
