{% extends 'admin/admin.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Ajouter un lieux</h4>
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label>Saisir le nom <span>*</span></label>
                                    {{ form_row(form.libelle) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir le nom en Anglais<span>*</span></label>
                                    {{ form_row(form.libelle_en) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir la Latitude<span>*</span></label>
                                    {{ form_row(form.latitude) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir la Longitude<span>*</span></label>
                                    {{ form_row(form.longitude) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir l'adresse en français<span>*</span></label>
                                    {{ form_row(form.full_adress_fr) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir l'adresse en anglais<span>*</span></label>
                                    {{ form_row(form.full_adress_en) }}
                                </div>
                                <div class="form-group">
                                    <label> PDF <span>*</span></label>
                                    {{ form_row(form.placePDF) }}
                                </div>
                                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Créer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}