{% extends 'base.html.twig' %}

{% block body %}
    <section class="b-pageHeader">
        <div class="container">
            <h1 class="wow zoomInLeft" data-wow-delay="0.5s">Submit Your Vehicle</h1>
            <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
                <h3>Add Your Vehicle In Our Listings</h3>
            </div>
        </div>
    </section><!--b-pageHeader-->

    <div class="b-breadCumbs s-shadow">
        <div class="container wow zoomInUp" data-wow-delay="0.5s">
            <a href="{{ path('main') }}" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span>
            <a href="#" class="b-breadCumbs__page m-active">Submit a Customer</a>
        </div>
    </div><!--b-breadCumbs-->


    <div class="b-infoBar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="b-infoBar__progress wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-infoBar__progress-line clearfix">
                            <div class="b-infoBar__progress-line-step">
                                <div class="b-infoBar__progress-line-step-circle">
                                    <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                                </div>
                            </div>
                            <div class="b-infoBar__progress-line-step">
                                <div class="b-infoBar__progress-line-step-circle">
                                    <div class="b-infoBar__progress-line-step-circle-inner"></div>
                                </div>
                            </div>
                            <div class="b-infoBar__progress-line-step">
                                <div class="b-infoBar__progress-line-step-circle">
                                    <div class="b-infoBar__progress-line-step-circle-inner"></div>
                                </div>
                            </div>
                            <div class="b-infoBar__progress-line-step">
                                <div class="b-infoBar__progress-line-step-circle">
                                    <div class="b-infoBar__progress-line-step-circle-inner"></div>
                                </div>
                                <div class="b-infoBar__progress-line-step-circle m-last">
                                    <div class="b-infoBar__progress-line-step-circle-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--b-infoBar-->

    <div class="b-submit">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                    <aside class="b-submit__aside">
                        <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
                            <h3>Step 1</h3>
                            <div class="b-submit__aside-step-inner m-active clearfix">
                                <div class="b-submit__aside-step-inner-icon">
                                    <span class="fa fa-car"></span>
                                </div>
                                <div class="b-submit__aside-step-inner-info">
                                    <h4>Add YOUR Informations</h4>
{#                                    <p>Select your vehicle &amp; add info</p>#}
                                    <div class="b-submit__aside-step-inner-info-triangle"></div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                    <div class="b-submit__main">
                        <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="">Add Your Customer Details</h2>
                        </header>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter name <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.customer_type) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter name <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.name) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Username<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.username) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter young name<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.name_young) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Number phone<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.phone) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Profession<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.profession) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Adress in UE<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_ue) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Adress Code in UE<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_code) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter City Adress in UE<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_city) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Country Adress in UE<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_country) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Adress not in UE <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_no_ue) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Adress Code not in UE <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_code_hue) }}
                                    </div>
                                </div>  <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter City Adress not in UE <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_city_hue) }}
                                    </div>
                                </div>  <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Country Adress not in UE <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.adress_country_hue) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Birthdays date<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.birthdays_date) }}
                                    </div>
                                </div>
                       {#         <div class="b-submit__main-contacts-check">
                                    <label>Enter Place of birth<span>*</span></label>
                                    <div class='s-relative'>
                                    </div>
                                </div>#}
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Your place of birth <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.country_birth) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Birth Postal <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.birth_postal) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter your Nationality <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.nationality) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter your Type Identity Piece <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.pice_identity) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Your Number of Piece <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.number_piece) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter your Place where Your Piece Delivery <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.delivery_piece) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Enter Your Date Delivery of Piece <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.date_piece) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Choice Your Reason <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.reason) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">Save &amp; PROCEED to next step<span class="fa fa-angle-right"></span></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div><!--b-submit-->
{% endblock %}
