{% extends 'admin/admin.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Ajouter une voiture</h4>
                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="col">
                                        <label>Nom <span>*</span></label>
                                        {{ form_row(form.name) }}
                                    </div>
                                    <div class="col">
                                        <label>Description <span>*</span></label>
                                        {{ form_row(form.description) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Accessoires<span>*</span></label>
                                        {{ form_row(form.items) }}
                                    </div>
                                    <div class="col">
                                        <label>Prix de vente<span>*</span></label>
                                        {{ form_row(form.sellingPrice) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Date de debut de commande<span>*</span></label>
                                        {{ form_row(form.date_start) }}
                                    </div>
                                    <div class="col">
                                        <label>Date de fin<span>*</span></label>
                                        {{ form_row(form.date_end) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Année <span>*</span></label>
                                        {{ form_row(form.years) }}
                                    </div>
                                    <div class="col">
                                        <label>Marge en %<span>*</span></label>
                                        {{ form_row(form.margin) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Jour minimum<span>*</span></label>
                                        {{ form_row(form.minDays) }}
                                    </div>
                                    <div class="col">
                                        <label>Carburant<span>*</span></label>
                                        {{ form_row(form.fuel) }}
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <label>Prix de la Barre de toit<span>*</span></label>
                                        {{ form_row(form.roofRack) }}
                                    </div>
                                    <div class="col">
                                        <label>Prix des Chaines <span>*</span></label>
                                        {{ form_row(form.chains) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Passagers <span>*</span></label>
                                        {{ form_row(form.passenger) }}
                                    </div>
                                    <div class="col">
                                        <label>Portes <span>*</span></label>
                                        {{ form_row(form.door) }}
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <label>CO2 <span>*</span></label>
                                        {{ form_row(form.co2) }}
                                    </div>
                                    <div class="col">
                                        <label>Clim <span>*</span></label>
                                        {{ form_row(form.clim) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Transmission <span>*</span></label>
                                        {{ form_row(form.transmission) }}
                                    </div>
                                    <div class="col">
                                        <label>Baguage <span>*</span></label>
                                        {{ form_row(form.luggage) }}
                                    </div>
                                </div>


                                <div class="form-check">
                                    <label>Message sur la disponibilité <span>*</span></label>
                                    {{ form_row(form.contactActived) }}
                                </div>
                                <div class="mb-3">
                                    <label>Image <span>*</span></label>
                                    {{ form_row(form.carImg) }}
                                </div>
                                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Créer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
