{% extends 'admin/admin.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Ajouter une promotion</h4>
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label>Marque <span>*</span></label>
                                    {{ form_row(form.mark) }}
                                </div>
                                <div class="form-group">
                                    <label>Nom de la promotion<span>*</span></label>
                                    {{ form_row(form.libelle) }}
                                </div>
                                <div class="form-group">
                                    <label>Valeur <span>*</span></label>
                                    {{ form_row(form.value) }}
                                </div>
                                <div class="form-group">
                                    <label>Description<span>*</span></label>
                                    {{ form_row(form.description) }}
                                </div>
                                <div class="form-group">
                                    <label>Type<span>*</span></label>
                                    {{ form_row(form.type) }}
                                </div>
                                <div class="form-group">
                                    <label>Début de la promotion<span>*</span></label>
                                    {{ form_row(form.start_date) }}
                                </div>
                                <div class="form-group">
                                    <label>Fin de la promotion<span>*</span></label>
                                    {{ form_row(form.end_date) }}
                                </div>
                                <div class="form-group">
                                    <label>Début de la livraison<span>*</span></label>
                                    {{ form_row(form.start_delivery) }}
                                </div>
                                <div class="form-group">
                                    <label>Fin de la livraison<span>*</span></label>
                                    {{ form_row(form.end_delivery) }}
                                </div>
                                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Créer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}