{% extends 'admin/admin.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Editer une marque</h4>
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label>Nom de la marque<span>*</span></label>
                                    {{ form_row(form.libelle) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir la marge en % <span>*</span></label>
                                    {{ form_row(form.margin) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir le délais de livraison <span>*</span></label>
                                    {{ form_row(form.deliveryDays) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir le minimum de jours <span>*</span></label>
                                    {{ form_row(form.minDays) }}
                                </div>
                                <div class="form-group">
                                    <label>Saisir le maximum de jours <span>*</span></label>
                                    {{ form_row(form.maxDays) }}
                                </div>
                                <div class="form-group">
                                    <label>Selectionner l'image de marquer <span>*</span></label>
                                    {{ form_row(form.markImg) }}
                                </div>
                                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Enregistrer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
