{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="main-content">
        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="row">
                <div class="col-lg-6 col-ml-12">
                    <div class="row">
                        <!-- Textual inputs start -->
                        <div class="col-12 mt-5">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Ajouter une voiture</h4>
                                    {{ form_start(form) }}
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="name-text-input" class="col-form-label">Nom du modèle</label>
                                            {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="year-input" class="col-form-label">Année</label>
                                            {{ form_row(form.years, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <span class="text-muted col-form-label d-block">Image</span>
                                            <div class="custom-file">
                                                {{ form_row(form.carImg, {'attr': {'class': 'custom-file-input'}}) }}
                                                <label class="custom-file-label" for="imageFile">Choisir une image</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="description-textarea-input" class="col-form-label">Description</label>
                                            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <span class="text-muted col-form-label d-block">Carburant</span>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                {{ form_row(form.fuel, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label class="col-form-label">Transmission</label>
                                            {{ form_row(form.transmission, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="passengers-number-input" class="col-form-label">Passagers</label>
                                            {{ form_row(form.passenger, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="doors-number-input" class="col-form-label">Portes</label>
                                            {{ form_row(form.door, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="luggage-number-input" class="col-form-label">Nombre de bagages</label>
                                            {{ form_row(form.luggage, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="co2-number-input" class="col-form-label">CO2</label>
                                            {{ form_row(form.co2, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <span class="text-muted col-form-label d-block">Climatisation</span>
                                            {{ form_row(form.clim, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="price-number-input" class="col-form-label">Prix de vente</label>
                                            {{ form_row(form.sellingPrice, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="margin-number-input" class="col-form-label">Marge en %</label>
                                            {{ form_row(form.margin, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <span class="text-muted col-form-label d-block">Accessoires</span>
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                {{ form_row(form.items) }}
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="bar-price-number-input" class="col-form-label">Prix de la barre de toit</label>
                                            {{ form_row(form.roofRack, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label for="chain-price-number-input" class="col-form-label">Prix des chaines</label>
                                            {{ form_row(form.chains, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="start-date-input" class="col-form-label">Date de début de commande</label>
                                            {{ form_row(form.date_start, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="end-date-input" class="col-form-label">Date de fin de commande</label>
                                            {{ form_row(form.date_end, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="minimum-days-input" class="col-form-label">Jours minimum</label>
                                            {{ form_row(form.minDays, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>


                                    <div class="form-check">
                                        <span class="text-muted col-form-label d-block">Message pour la disponibilité</span>
                                        {{ form_row(form.contactActived, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-check">
                                        <span class="text-muted col-form-label d-block">Active</span>
                                        {{ form_row(form.is_online, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Créer</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content area end -->
{% endblock %}
