{% extends 'admin/admin.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="row">
            <div class="col-lg-6 col-ml-12">
                <div class="row">
                    <!-- Textual inputs start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Editer une gamme</h4>
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label>Nom de la gamme<span>*</span></label>
                                    {{ form_row(form.libelle) }}
                                </div>
                                <div class="form-group">
                                    <label for="description-textarea-input" class="col-form-label">Description</label>
                                    {{ form_row(form.description) }}
                                </div>
                                <div class="form-group">
                                    <label>Choisir une marque <span>*</span></label>
                                    {{ form_row(form.mark) }}
                                </div>
                                <div class="form-group">
                                    <label>Extra <span>*</span></label>
                                    {{ form_row(form.extraCost) }}
                                </div>
                                <div class="form-group">
                                    <label>Image de la gamme<span>*</span></label>
                                    {{ form_row(form.rangeImg) }}
                                </div>
                                <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Modifier</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
