{% extends 'base.html.twig' %}

{% block body %}
    <section class="b-pageHeader">
        <div class="container">
            <h1 class="wow zoomInLeft" data-wow-delay="0.5s">Ajouter un code promotion</h1>
            <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
                <h3>Ajouter un prix à la voiture enregistrée</h3>
            </div>
        </div>
    </section><!--b-pageHeader-->

    <div class="b-breadCumbs s-shadow">
        <div class="container wow zoomInUp" data-wow-delay="0.5s">
            <a href="{{ path('main') }}" class="b-breadCumbs__page">Accueil</a><span class="fa fa-angle-right"></span>
            <a href="#" class="b-breadCumbs__page m-active">Ajouter un code promotion</a>
        </div>
    </div><!--b-breadCumbs-->

    <div class="b-submit">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                    <aside class="b-submit__aside">
                        <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
                            <h3>Step 1</h3>
                            <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.5s">
                                <div class="b-submit__aside-step-inner m-active clearfix">
                                    <div class="b-submit__aside-step-inner-info">
                                        <h4>Détails de la voiture</h4>
                                        <p>Informations sur la voiture</p>
                                        <div class="b-submit__aside-step-inner-info-triangle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-submit__aside-step m-active wow zoomInUp" data-wow-delay="0.3s">
                            <h3>Step 2</h3>
                            <div class="b-submit__aside-step-inner m-active clearfix">
                                <div class="b-submit__aside-step-inner-info">
                                    <h4>Ajout d'un code promotion'</h4>
                                    <p>Ajouter un code promotion</p>
                                    <div class="b-submit__aside-step-inner-info-triangle"></div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
                    <div class="b-submit__main">
                        <header class="s-headerSubmit s-lineDownLeft wow zoomInUp" data-wow-delay="0.5s">
                            <h2 class="">Ajouter un code promotion</h2>
                        </header>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>CODE <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.code) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Valeur<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.value) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Type <span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.typePromo) }}
                                    </div>
                                </div>
                                <div class="b-submit__main-element wow zoomInUp" data-wow-delay="0.5s">
                                    <label>Active<span>*</span></label>
                                    <div class='s-relative'>
                                        {{ form_row(form.active) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn m-btn pull-right wow zoomInUp" data-wow-delay="0.5s">Enregistrer<span class="fa fa-angle-right"></span></button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div><!--b-submit-->
{% endblock %}
