{% extends 'admin/admin.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <div class="col-lg-6 col-ml-12">
            <div class="row">
                <!-- Textual inputs start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Nouvel utilisateur</h4>
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col">
                                    <label>Nom<span>*</span></label>
                                    {{ form_row(form.username) }}
                                </div>
                                <div class="col">
                                    <label>Email<span>*</span></label>
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Mot de passe<span>*</span></label>
                                    {{ form_row(form.password.first) }}
                                </div>
                                <div class="col">
                                    <label>Répéter le mot de passe<span>*</span></label>
                                    {{ form_row(form.password.second) }}
                                </div>
                            </div>
                            <div class="row">
                            <div class="custom-control custom-radio">
                                <label>Rôles<span>*</span></label>
                                {{ form_row(form.roles) }}

                            </div>
                            </div>
                            {#
                            <p class="checkbox remember">
                                   <input class="checkbox-spin" type="checkbox" id="Freelance">
                                   <label for="Freelance"><span></span>accept terms & condition</label>
                               </p>#}
                            <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
