{% extends 'base.html.twig' %}

{% block body %}

    <main id="voiture">

        <section class="section bg-img">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">

                        <div class="bg-blue-transparent card mb-5">
                            <div class="p-md-5 p-3 col-lg-10 mx-auto">
                                <div class="text-center">
                                    <h1 class="title has-decoration">Marques, gammes et modèles</h1>
                                    <p><strong>Découvrez les marques, les gammes et les modèles de véhicules mis à votre
                                            disposition chez TT Car Transit.</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="bg-white-transparent card mb-5">
                            <div class="p-md-5 p-3 col-lg-12 mx-auto">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="card p-3">
                                            {% if  car.carImg %}
                                                <img src="{{ asset('build/uploads/'~ car.getCarImg) }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex flex-lg-column-flex-md-row justify-content-between my-3 my-md-0">
                                            <div class="left mb-3">
                                                <span class="badge rounded-pill mb-2">Promotion</span>
                                                <h2>{{ car.name }}</h2>
                                            </div>
                                            <div class="right">
                                                À partir de<br>
                                                <span class="d-block mt-2">{{ car.sellingPrice }}€</span>
                                            </div>
                                        </div>
                                        <p>Avec Dacia Duster, l’espace vous appartient. Véritable <strong>4x4, robuste et
                                                fiable</strong>, avec un <strong>habitacle généreux</strong>, Dacia Duster vous accompagnera partout.</p>
                                        <p>Grâce à la <strong>modularité de son habitacle</strong>, Duster peut être facilement
                                            adapté selon vos besoins, en vous offrant le maximum de confort. La position de
                                            conduite haute garantit au conducteur à la fois une <strong>meilleure visibilité</strong>
                                            et le <strong>confort sur les longs trajets</strong>. Disponible à un prix incroyable,
                                            Dacia Duster s’avère aussi <strong>écologique</strong>, grâce à ses <strong>moteurs
                                                économiques et allégés en CO2</strong>.</p>
                                    </div>
                                </div>

                                <div class="card p-5">

                                    <div class="items-wrapper d-flex flex-wrap justify-content-center mb-5">
                                        <div class="item">
                                            <img src="{{ asset('build/voiture-passagers.png') }}" alt="" class="mx-auto">
                                            Passagers
                                            <span>{{ car.passenger }}</span>
                                        </div>

                                        <div class="item">
                                            <img src="{{ asset('build/voiture-bagages.png') }}" alt="" class="mx-auto">
                                            Bagages
                                            <span>{{ car.luggage }}</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('build/voiture-portes.png') }}" alt="" class="mx-auto">
                                            Portes
                                            <span>{{ car.door }}</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('build/voiture-transmission.png') }}" alt="" class="mx-auto">
                                            Transmission
                                            <span>{{ car.transmission }}</span>
                                        </div>
                                        <div class="item">
                                            <img src="{{ asset('build/voirutre-climatisation.png') }}" alt="" class="mx-auto">
                                            Climatisation
                                            <span>{{ car.clim }}</span>
                                        </div>
                                    </div>

                                    <p>{{ car.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>

{% endblock %}
