{% extends 'base.html.twig' %}

{% block body %}

    <main id="livraison">
        <section class="bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="bg-blue-transparent card mb-3">
                            <div class="p-md-4 p-3 col-lg-8 mx-auto">
                                <div class="text-center">
                                    <h1 class="title has-decoration">Centres de livraison</h1>
                                    <p>
                                        <strong>Téléchargez les PDF des centres de livraison</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="bg-blue-transparent card mb-4">
                            <div class="p-4">
                                <div class="wrapper">
                                    <form action="" method="get">
                                        <div class="row">
                                            <div class="col-md-3 my-auto text-center">
                                                <span class="col-form-label d-inline-block p-3 mb-2 mb-lg-0">Sélectionnez une marque</span>
                                            </div>
                                            <div class="col-md-9 my-auto">
                                                <div class="inner">
                                                    <div class="form-check">
                                                        <label>
                                                            <input type="radio" name="test" value="small" checked />
                                                            <div class="brand_item"><img src="{{ asset('build/logo-renault.png') }}" alt="Logo Renault" /></div>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="test" value="small"/>
                                                            <div class="brand_item"><img src="{{ asset('build/logo-peugeot.png') }}" alt="Logo Peugeot" /></div>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="test" value="small"/>
                                                            <div class="brand_item"><img src="{{ asset('build/logo-ds.png') }}" alt="Logo Ds" /></div>
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="test" value="small"/>
                                                            <div class="brand_item"><img src="{{ asset('build/logo-citroen.png') }}" alt="Logo Citroën" /></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="w-100 overflow-hidden">
                                    <svg height="50" width="1000">
                                        <g fill="none" stroke="#FFFFFF" stroke-width="1">
                                            <path stroke-dasharray="10,15" d="M5 20 l1200 0" />
                                        </g>
                                    </svg>
                                </div>

                                <div class="wrapper">
                                    <div class="row">
                                        <div class="col-md-3 my-auto text-center">
                                            <span class="col-form-label d-inline-block p-3 mb-2 mb-lg-0">Filtrer la Recherche</span>
                                        </div>
                                        <div class="col-md-9 my-auto">
                                            <form class="row g-3">
                                                <div class="col-md-6">
                                                    <select class="form-select w-100" aria-label="">
                                                        <option value="" disabled selected>Tous les centres de livraison</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="inputPassword4" placeholder="Rechercher par nom de ville" aria-label="ville" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container bg-grey p-sm-5 p-4">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border">
                            <div class="card-body mx-auto p-4 p-md-5">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="" />
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card border">
                            <div class="card-body mx-auto p-4 p-md-5">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="" />
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border">
                            <div class="card-body mx-auto p-4 p-md-5">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="" />
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border">
                            <div class="card-body mx-auto p-4 p-md-5">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="" />
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border">
                            <div class="card-body mx-auto p-4 p-md-5">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="" />
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border">
                            <div class="card-body mx-auto p-4 p-md-5">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="" />
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
