{% extends 'base.html.twig' %}

{% block body %}

    <main id="livraison">

        <section class="bg-img">
            <div class="container mb-5">

                <div class="row">
                    <div class="col-lg-10 mx-auto">

                        <div class="bg-blue-transparent card mb-3">
                            <div class="p-md-4 p-3 col-lg-10 mx-auto">
                                <div class="text-center">
                                    <h1 class="title has-decoration">Centres de livraison</h1>
                                    <p>
                                        <strong>Téléchargez les PDF des centres de livraison</strong>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="bg-blue-transparent card mb-5">
                            <div class="p-5">
                                <div class="wrapper">
                                    <form action="" method="get">

                                        <div class="row">
                                            <div class="col-sm-2 my-auto text-center">
                                                    <span class="btn btn-primary">
                                                        Sélectionnez une marque
                                                    </span>
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="inner">
                                                    <div class="form-check">
                                                        <label class="" for="inlineRadioOptions">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                            <div class="brand_item"><img src="{{ asset('build/logo-renault.png') }}" alt=""></div>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="brand_item" for="inlineRadioOptions">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                            <img src="{{ asset('build/logo-peugeot.png') }}" alt="">
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="brand_item" for="inlineRadioOptions">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                                            <img src="{{ asset('build/logo-ds.png') }}" alt="">
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="brand_item" for="inlineRadioOptions">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                                            <img src="{{ asset('build/logo-citroen.png') }}" alt="">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>

                                <div class="w-100 overflow-hidden">
                                    <svg height="50" width="1000">
                                        <g fill="none" stroke="#FFFFFF" stroke-width="1">
                                            <path stroke-dasharray="10,15" d="M5 20 l1200 0" />
                                        </g>
                                    </svg>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row px-3">
                    <div class="col-lg-10 mx-auto bg-blue-transparent">

                    </div>
                </div>

            </div>

            <div class="container bg-grey p-sm-5 p-4">

                <div class="row row-cols-1 row-cols-md-3 g-4">

                    <div class="col">
                        <div class="card p-3 border">
                            <div class="card-body mx-auto">
                                <div class="d-flex align-items-start mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="">
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card p-3 border">
                            <div class="card-body mx-auto">
                                <div class="d-flex align-items-start mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="">
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 border">
                            <div class="card-body mx-auto">
                                <div class="d-flex align-items-start mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="">
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 border">
                            <div class="card-body mx-auto">
                                <div class="d-flex align-items-start mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="">
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 border">
                            <div class="card-body mx-auto">
                                <div class="d-flex align-items-start mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="">
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-3 border">
                            <div class="card-body mx-auto">
                                <div class="d-flex align-items-start mb-3">
                                    <div class="center_img">
                                        <img src="{{ asset('build/logo-renault.png') }}" alt="">
                                    </div>
                                    <div class="center_data">
                                        <span class="mb-2">Aéroports en France</span>
                                        <h2>Bordeaux Mérignac</h2>
                                    </div>
                                </div>
                                <a href="" class="btn btn-primary">Informations et plan d’accès</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </section>

    </main>
{% endblock %}
