{% extends 'base.html.twig' %}

{% block body %}
    <main id="groupe">

        <section class="section bg-img">

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">

                        <div class="bg-blue-transparent card mb-5">
                            <div class="p-md-5 p-3 col-lg-10 mx-auto">
                                <div class="text-center">
                                    <h1 class="title has-decoration">Le groupe</h1>
                                    <p><strong>Depuis 1972</strong>, TT CAR TRANSIT, société de services est spécialisée dans la <strong>vente hors taxes de véhicules et la location de voitures pour les expatriés français et les touristes</strong> séjournant en France.</p>
                                    <p><strong>Partenaire historique des marques automobiles françaises</strong>, TT CAR TRANSIT a toujours fait preuve de <strong>professionnalisme</strong> en gérant les plus grands centres de livraison et retour des aéroports pour les véhicules en TT. Grâce à leur expérience et leurs compétences, <strong>nos équipes sont à votre disposition</strong> pour vous conseiller et vous offrir les meilleures conditions de séjour au volant de votre prochaine voiture.</p>
                                    <p>Les loueurs Internationaux partenaires de Key Services garantissent en location de voitures les meilleurs produits à des <strong>prix et conditions exceptionnels</strong>.</p>
                                    <p>Notre savoir faire et notre rigueur sont les bases de notre métier de déclarant en douanes <strong>gérant toutes formalités d’immatriculation en TT et en W export</strong></p>
                                    <p>Nous proposons également les <strong>meilleurs tarifs</strong> pour le transport maritime de votre véhicule toutes destinations.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            <div class="col">
                                <div class="card p-3">
                                    <img src="{{ asset('build/logo-key.png') }}" class="card-img-top mx-auto" alt="...">
                                    <div class="card-body p-3">

                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-jauge.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>Kilométrage</strong><br>illimité
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-conducteur.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>2ème conducteur</strong><br>gratuit
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-franchise.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>Sans franchise</strong><br>en cas d’accident et de vol
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-point-livraison.png') }}">
                                            </div>
                                            <div class="item-content">
                                                <strong>Plus de 500 points</strong><br>de livraison et retourn en France
                                            </div>
                                        </div>

                                    </div>
                                    <a href="#" class="btn btn-primary mx-auto">Accéder au site</a>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card p-3">
                                    <img src="{{ asset('build/logo-tt.png') }}" class="card-img-top mx-auto" alt="...">
                                    <div class="card-body p-3">

                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-jauge.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>Kilométrage</strong><br>illimité
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-conducteur.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>2ème conducteur</strong><br>gratuit
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-franchise.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>Sans franchise</strong><br>en cas d’accident et de vol
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-point-livraison.png') }}">
                                            </div>
                                            <div class="item-content">
                                                <strong>Plus de 500 points</strong><br>de livraison et retourn en France
                                            </div>
                                        </div>

                                    </div>
                                    <div class="btn-wrapper">
                                        <a href="#" class="btn btn-primary">Accéder au site</a>
                                        <a href="#" class="btn btn-alt">Offres spéciales<i class="fa-solid fa-angle-right"></i></a>
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="card p-3">
                                    <img src="{{ asset('build/logo-douane-export.png') }}" class="card-img-top mx-auto" alt="...">
                                    <div class="card-body p-3">

                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-jauge.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>Kilométrage</strong><br>illimité
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-conducteur.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>2ème conducteur</strong><br>gratuit
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-franchise.png') }}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <strong>Sans franchise</strong><br>en cas d’accident et de vol
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="item-icon">
                                                <img src="{{ asset('build/icone-point-livraison.png') }}">
                                            </div>
                                            <div class="item-content">
                                                <strong>Plus de 500 points</strong><br>de livraison et retourn en France
                                            </div>
                                        </div>

                                    </div>
                                    <a href="#" class="btn btn-primary mx-auto">Accéder au site</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main>
{% endblock %}
