{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-warning flash-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="img_search">
        <img src="{{ asset('build/search_imgZoom.png') }}" alt="sliderImg" />
    </div>
    <div class="search_bar_V1">
        <div class="step_search">
            <span class="span_step1">1</span>
            <span class="span_step2">2</span>
            <span class="span_step3">3</span>
        </div>
        {{ form_start(formSearch) }}
        <div class="search_mark">
            <div class="tilte_mark">
                <span>Sélectionnez <br> une marque</span>
                {{ form_row(formSearch.mark, { 'attr': {'class': 'mark_search'} }) }}
               {# {% if formSearch.vars.value.i is not null %}
                    <img src="{{ asset('upload/dir/' ~ formSearch.vars.value.image) }}" />
                {% endif %}#}
            </div>
        </div>
        <div class="search_data">
            <div class="search_depart">
                <span>Livraison</span>
                {{ form_row(formSearch.placeDepart) }}
                {{ form_row(formSearch.date_start) }}
            </div>
            <div class="search_return">
                <span>Retour</span>
                {{ form_row(formSearch.placeReturn) }}
                {{ form_row(formSearch.date_end) }}
            </div>
            <img src="{{ asset('build/search_trait.png') }}" class="trait">
            <div class="search_promo_btn">
                <span>Code spécial</span>
                {{ form_row(formSearch.promo) }}
            </div>
            <div class="btn_search_send">
                <button id="searchBtn">Voir nos tarifs   ></button>
            </div>
        </div>
        {{ form_end(formSearch) }}
        <div class="search_promo_banner">
            <img src="{{ asset('build/quick-banner.png') }}" alt="sliderImg" />
            <div class="search_promo_banner_info">
                <span class="promo_banner_promo">Offre Promo !</span>
                <span class="promo_banner_value"><b>20 %</b> lorem ipsum dolor <br> Lorem ipsum dolor</span>
                <span class="promo_banner_date"> Offre valable du <br><b>20/12/21</b> au <b>20/01/22</b></span>
                <span class="promo_banner_btn">Je participe</span>
            </div>
        </div>
    </div>
    <div class="btn_promo_home">
        <span class="span_btn_promo">Découvrez nos promotions</span>
        <svg class="path_46" viewBox="0 0 19.324 8.338">
            <path id="trac_46" d="M 0 0 L 10.33853340148926 8.338281631469727 L 19.32394599914551 0">
            </path>
        </svg>
    </div>
    <div class="carroussel_div">
        <div class="carroussel_btn_div">
            <span class="carroussel_btn">Renault</span>
            <span class="carroussel_btn" style="color: rgba(52,95,138,1)">Peugeot</span>
            <span class="carroussel_btn" style="color: rgba(52,95,138,1)">Citroën</span>
            <span class="carroussel_btn" style="color: rgba(52,95,138,1)">DS Auto</span>
        </div>
        <div class="carroussel">
            <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="4" data-items-tablet="3" data-items-tablet-small="2">
                {% for car in cars_promo %}
                    <div class="carroussel_cars">
                        <div class="b-featured__item wow rotateIn">
                            <a href="{{ path('detail_car', { 'id': car.id }) }}">
                                <img src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mers" style="width: 285px; height: 160px;" />
                                {#                            <span class="m-premium">Premium</span>#}
                            </a>
                            <div class="carroussel_promo_span"> PROMO !</div>
                            <div class="carroussel_info">
                                <div class="carroussel_name">
                                    <a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.name|u.truncate(20, '...') }}</a>
                                </div>
                                <div class="carroussel_subtilte">
                                    {{ car.years }} - {{ car.transmission }} - {{ car.fuel }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tt_info">
        <div class="video_tt">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5DpCdHOG92s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="tt_text">
            <div class="tilte_tt">Comprendre le Transit Temporaire (TT)</div>
            <div class="trait_point">
                <img src="{{ asset('build/trait_point.png') }}" alt="ttCar" />
            </div>
            <div class="text_info">
                Le transit temporaire est une disposition douanière et fiscale qui permet à toute personne résidant hors
                du territoire communautaire (DOM TOM inclus) de disposer d’un véhicule neuf lors de son séjour en Europe et
                de l’acquérir exonéré des droits de douanes et de la TVA.
                Vous bénéficiez ainsi d’une immatriculation française spécifique permettant une libre circulation en Europe.
                <br>
                Il est aussi possible de bénéficier de ce régime sans avoir a payer l’intégralité du prix du véhicule.
                Cette formule, connue sous le terme générique d’achat-rachat, ressemble beaucoup à une location de voiture.
            </div>
        </div>
    </div>
    <div class="btn_info">
        <span class="btn_info_booking">Réserver </span>
        <span class="btn_info_question">Une question ?</span>
    </div>
    <div class="avantage">
        <div class="avantage_tilte">AVANTAGES DU TRANSIT TEMPORAIRE</div>
        <div class="avantage_carroussel">
            <div class="av1">
                <span class="item_avantage"><img src="{{ asset('build/Group_84.png') }}" alt="item"></span>
                <span class="avantage_text">Véhicule neufs</span>
            </div>
            <div class="av2">
                <span class="item_avantage2"><img src="{{ asset('build/Group_92.png') }}" alt="item"></span>
                <span class="avantage_text2">Kilométrage <br> illimité</span>
            </div>
            <div class="av3">
                <span class="item_avantage3"><img src="{{ asset('build/Group_82.png') }}" alt="item"></span>
                <span class="avantage_text3">Assistance 7j/7 <br> et 24h/24</span>
            </div>
            <div class="av4">
                <span class="item_avantage4"><img src="{{ asset('build/Group_88.png') }}" alt="item"></span>
                <span class="avantage_text4">Assurance multirisques <br>sans franchise</span>
            </div>
            <div class="av5">
                <span class="item_avantage5"><img src="{{ asset('build/Group_90.png') }}" alt="item"></span>
                <span class="avantage_text5">GPS <br>gratuit</span>
            </div>
            <div class="av6">
                <span class="item_avantage6"><img src="{{ asset('build/Group_86.png') }}" alt="item"></span>
                <span class="avantage_text6">24 mois de garantie <br> constructeur</span>
            </div>
        </div>
    </div>
    <div class="blog_home">
        <div class="blog_tilte">Notre blog</div>
        <div class="row align_blog">
            {% for post in posts %}
                <div class="blog_article">
                    <div class="img_blog">
                        <img class="img-responsive" src="{{ asset('build/uploads/'~ post.getPostImg) }}" alt="wolks" style="width: 45%" />
                    </div>
                    <div class="blog_text">
                        <span class="item_blog_tilte">{{ post.title }}</span>
                        <div class="item_text">{{ post.content |u.truncate(200, '...')|raw }}</div>
                        <a href="{{ path('see_post', { 'id': post.id }) }}" class="blog_btn">Lire la suite <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <span class="btn_blog_articles">Voir tous les articles </span>
    </div>
    <div class="newsletter_banner">
        <img src="{{ asset('build/Groupe_281.png') }}" alt="newsletter" class="newsletter_img"/>
        <div class="newsletter_tilte">Recevez les bons plans TT</div>
        <div class="newsletter_subtilte">Inscrivez-vous à notre newsletter</div>
        <div class="newsletter_form">
            {{ form_start(form_newsletter) }}
            {{ form_row(form_newsletter.email, { 'attr': {'class': 'form_news'} }) }}
            <div class="newsletter_btn1">
                <button type="submit" class="newsletter_btn" id="seachButton">OK</button>
            </div>
            {{ form_end(form_newsletter) }}
        </div>
    </div>


   {# <!--Search bar-->
        <div class="container search_bar">
            <div class="b-search__main">
                <div class="b-search__main-title wow zoomInUp" >
                    <h2>{{ 'search_tilte'|trans({}, 'messages') }}</h2>
                </div>
                <div class="b-search__main-type wow zoomInUp" >
                    {{ form_start(formSearch) }}
                    <div class="col-xs-12 col-md-10">
                        <div class="row">
                            <div class="col-xs-6">
                     #}{#       <input id="type1" type="radio" name="type" />
                            <label for="type1" class="b-search__main-type-svg">
                                <img src="{{ asset('/build/renauttrans.png') }}" width="100%">
                            </label>#}{#
#}{#
                            <h5><label for="type1"> {{ form_row(formSearch.mark) }}</label></h5>
#}{#
                                <label for="type1" class="b-search__main-type-svg">Choisir une marque</label>
                                <div  style="color: black"> {{ form_row(formSearch.mark) }}</div>
                        </div>
                            <div class="col-xs-6">
                                <p class="delay">Délai de livraison : <span>21 Jours</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-search__main-form wow zoomInUp" >
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="m-firstSelects">
                                <div class="col-xs-6">
                                    <label>Date de depart</label>
                                    <div style="color: black">
                                    {{ form_row(formSearch.date_start) }}
                                    </div>
                                    <br>
                                    {{ form_row(formSearch.placeDepart) }}
                                </div>
                                <div class="col-xs-6">
                                    <label>Date de Retour</label>
                                    <div style="color: black">
                                    {{ form_row(formSearch.date_end) }}
                                    </div>
                                    <br>
                                    {{ form_row(formSearch.placeReturn) }}
                                </div>
                            </div>
                            <div class="m-secondSelects">
                                <div class="col-xs-6" style="margin-top: 3%;">
                                    {{ form_row(formSearch.promo) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 text-left s-noPadding">
                            <div class="b-search__main-form-submit" style="margin-top: 15%">
                                <button type="submit" class="btn m-btn" id="seachButton">Search the Vehicle<span class="fa fa-angle-right"></span></button>
                            </div>
                            {{ form_end(formSearch) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--search bar-->
#}
    {% block javascripts %}
        {{ parent() }}

        <script>
            //DatePicker Search
            $(document).ready(function() {
/*
                document.getElementById("cookieBar").style.display = "none";
*/
                $("#seachButton").prop("disabled",true);


                // Place Ajax
                let placeReturn = document.getElementsByClassName("placeReturn");
                let placeDepart = document.getElementsByClassName("placeDepart");
                let dateDepart = document.getElementById("search_form_date_start");
                let dateReturn = document.getElementById("search_form_date_end");
                let btnSearch = document.getElementById("searchBtn");



                $(placeReturn).attr('disabled', 'disabled');
                $(placeDepart).attr('disabled', 'disabled');
                $(dateDepart).attr('disabled', 'disabled');
                $(dateReturn).attr('disabled', 'disabled');
                $(btnSearch).attr('disabled', 'disabled');

                let renault = document.querySelector("#search_form_mark_1");
                let peugeot = document.querySelector("#search_form_mark_2");
                let citroen = document.querySelector("#search_form_mark_3");
                let psa = document.querySelector("#search_form_mark_4");

                console.log(renault.value)

                let valueMark = null;

                $("#search_form_mark_1").change(function(){

                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(btnSearch).attr('disabled', false);

                    console.log('change renault1');
                    valueMark = 1;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);


                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datepicker-dateStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datepicker-dateEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });

                });

                $("#search_form_mark_2").change(function(){
                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(btnSearch).attr('disabled', false);
                    valueMark = 2;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);

                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datepicker-dateStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datepicker-dateEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });
                });
                $("#search_form_mark_3").change(function(){
                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(btnSearch).attr('disabled', false);
                    valueMark = 3;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);

                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datepicker-dateStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datepicker-dateEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });
                });
                $("#search_form_mark_4").change(function(){
                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(btnSearch).attr('disabled', false);
                    valueMark = 4;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);

                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datepicker-dateStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datepicker-dateEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });
                });

                console.log(valueMark);
            });
        </script>
    {% endblock %}
{% endblock %}
