{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-warning flash-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<style>
    .search_promo_banner_info {
        left: 250px;
        position: absolute;
        top: 30px;
    }
    .promo_banner_promo {
        width: 137px;
        white-space: nowrap;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(247,43,55,1);
    }

    .promo_banner_value {
        left: 0;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 141px;
        white-space: nowrap;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-size: 12px;
        color: rgba(52,95,138,1);
    }

    .promo_banner_date {
        left: 215px;
        top: 1px;
        position: absolute;
        overflow: visible;
        width: 95px;
        white-space: nowrap;
        text-align: center;
        font-family: Montserrat;
        font-style: italic;
        font-weight: normal;
        font-size: 9px;
        color: rgba(52,95,138,1);
    }

    .promo_banner_btn {
        background-color: rgba(52,95,138,1);
        left: 225px;
        top: 35px;
        padding: 5px;
        border-radius: 30px;
        position: absolute;
        overflow: visible;
        width: 80px;
        white-space: nowrap;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        color: rgba(255,255,255,1);
    }

</style>
    <div class="img_search">
        <img src="{{ asset('build/search_imgZoom.png') }}" alt="sliderImg" />
    </div>
    <div class="search_bar_V1">
        <div class="step_search">
            <span class="span_step1">1</span>
            <span class="span_step2">2</span>
            <span class="span_step3">3</span>
        </div>
        <div class="search_mark">
            <div class="tilte_mark">
                <span>Sélectionnez <br> une marque</span>
            </div>
        </div>
        <div class="search_data">
            <div class="search_depart">

            </div>
            <div class="search_return">

            </div>
            <div class="search_promo_btn">

            </div>
            <span class="trait"></span>
        </div>
        <div class="search_promo_banner">
            <img src="{{ asset('build/quick-banner.png') }}" alt="sliderImg" />
            <div class="search_promo_banner_info">
                <span class="promo_banner_promo">Offre Promo !</span>
                <span class="promo_banner_value"><b>20 %</b> lorem ipsum dolor <br> Lorem ipsum dolor</span>
                <span class="promo_banner_date"> Offre valable du <br><b>20/12/21</b> au <b>20/01/22</b></span>
                <span class="promo_banner_btn">Je participe</span>
            </div>
        </div>
    </div>
    <div class="btn_promo_home">
        <span class="span_btn_promo">Découvrez nos promotions</span>
        <svg class="path_46" viewBox="0 0 19.324 8.338">
            <path id="trac_46" d="M 0 0 L 10.33853340148926 8.338281631469727 L 19.32394599914551 0">
            </path>
        </svg>
    </div>
    <div class="carroussel_div">
        <div class="carroussel_btn_div">
            <span class="carroussel_btn">Renault</span>
            <span class="carroussel_btn" style="color: rgba(52,95,138,1)">Peugeot</span>
            <span class="carroussel_btn" style="color: rgba(52,95,138,1)">Citroën</span>
            <span class="carroussel_btn" style="color: rgba(52,95,138,1)">DS Auto</span>
        </div>
        <div class="carroussel">
            <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="4" data-items-tablet="3" data-items-tablet-small="2">
                {% for car in cars_promo %}
                    <div class="carroussel_cars">
                        <div class="b-featured__item wow rotateIn">
                            <a href="{{ path('detail_car', { 'id': car.id }) }}">
                                <img src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mers" style="width: 285px; height: 160px;" />
                                {#                            <span class="m-premium">Premium</span>#}
                            </a>
                            <div class="carroussel_promo_span"> PROMO !</div>
                            <div class="carroussel_info">
                                <div class="carroussel_name">
                                    <a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.name|u.truncate(20, '...') }}</a>
                                </div>
                                <div class="carroussel_subtilte">
                                    {{ car.years }} - {{ car.transmission }} - {{ car.fuel }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="tt_info">
        <div class="video_tt">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5DpCdHOG92s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="tt_text">
            <div class="tilte_tt">Comprendre le Transit Temporaire (TT)</div>
            <div class="trait_point">
                <img src="{{ asset('build/trait_point.png') }}" alt="ttCar" />
            </div>
            <div class="text_info">
                Le transit temporaire est une disposition douanière et fiscale qui permet à toute personne résidant hors
                du territoire communautaire (DOM TOM inclus) de disposer d’un véhicule neuf lors de son séjour en Europe et
                de l’acquérir exonéré des droits de douanes et de la TVA.
                Vous bénéficiez ainsi d’une immatriculation française spécifique permettant une libre circulation en Europe.
                <br>
                Il est aussi possible de bénéficier de ce régime sans avoir a payer l’intégralité du prix du véhicule.
                Cette formule, connue sous le terme générique d’achat-rachat, ressemble beaucoup à une location de voiture.
            </div>
        </div>
    </div>
    <div class="btn_info">
        <span class="btn_info_booking">Réserver </span>
        <span class="btn_info_question">Une question ?</span>
    </div>
    <div class="avantage">
        <div class="avantage_tilte">AVANTAGES DU TRANSIT TEMPORAIRE</div>
        <div class="avantage_carroussel">
            <div class="av1">
                <span class="item_avantage"><img src="{{ asset('build/Group_84.png') }}" alt="item"></span>
                <span class="avantage_text">Véhicule neufs</span>
            </div>
            <div class="av2">
                <span class="item_avantage2"><img src="{{ asset('build/Group_92.png') }}" alt="item"></span>
                <span class="avantage_text2">Kilométrage <br> illimité</span>
            </div>
            <div class="av3">
                <span class="item_avantage3"><img src="{{ asset('build/Group_82.png') }}" alt="item"></span>
                <span class="avantage_text3">Assistance 7j/7 <br> et 24h/24</span>
            </div>
            <div class="av4">
                <span class="item_avantage4"><img src="{{ asset('build/Group_88.png') }}" alt="item"></span>
                <span class="avantage_text4">Assurance multirisques <br>sans franchise</span>
            </div>
            <div class="av5">
                <span class="item_avantage5"><img src="{{ asset('build/Group_90.png') }}" alt="item"></span>
                <span class="avantage_text5">GPS <br>gratuit</span>
            </div>
            <div class="av6">
                <span class="item_avantage6"><img src="{{ asset('build/Group_86.png') }}" alt="item"></span>
                <span class="avantage_text6">24 mois de garantie <br> constructeur</span>
            </div>
        </div>
    </div>
    <div class="blog_home">
        <div class="blog_tilte">Notre blog</div>
        <div class="row align_blog">
            {% for post in posts %}
                <div class="blog_article">
                    <div class="img_blog">
                        <img class="img-responsive" src="{{ asset('build/uploads/'~ post.getPostImg) }}" alt="wolks" style="width: 45%" />
                    </div>
                    <div class="blog_text">
                        <span class="item_blog_tilte">{{ post.title }}</span>
                        <div class="item_text">{{ post.content |u.truncate(200, '...')|raw }}</div>
                        <a href="{{ path('see_post', { 'id': post.id }) }}" class="blog_btn">Lire la suite <span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <span class="btn_blog_articles">Voir tous les articles </span>
    </div>
    <div class="newsletter_banner">
        <img src="{{ asset('build/Groupe_281.png') }}" alt="newsletter" class="newsletter_img"/>
        <div class="newsletter_tilte">Recevez les bons plans TT</div>
        <div class="newsletter_subtilte">Inscrivez-vous à notre newsletter</div>
        <div class="newsletter_form">
            {{ form_start(form_newsletter) }}
            {{ form_row(form_newsletter.email, { 'attr': {'class': 'form_news'} }) }}
            <div class="newsletter_btn1">
                <button type="submit" class="newsletter_btn">OK</button>
            </div>
            {{ form_end(form_newsletter) }}
        </div>
    </div>


    {#    <section class="b-slider">
        <div id="carousel" class="slide carousel carousel-fade">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ asset('build/shutterstock_727915684@2x.png') }}" alt="sliderImg" />
    #}{#                <div class="container">
                        <div class="carousel-caption b-slider__info">
                            <h3>Find your dream</h3>
                            <h2>Lamborghini Aventador</h2>
                            <p>Model 2015 <span>$184,900</span></p>
                            <a class="btn m-btn" href="#">see details<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
    #}{#
                </div>
#}{#            <a class="carousel-control right" href="#carousel" data-slide="next">
                <span class="fa fa-angle-right m-control-right"></span>
            </a>
            <a class="carousel-control left" href="#carousel" data-slide="prev">
                <span class="fa fa-angle-left m-control-left"></span>
            </a>#}{#
        </div>
        </div>
    </section><!--b-slibeder-->#}
   {# <!--Search bar-->
        <div class="container search_bar">
            <div class="b-search__main">
                <div class="b-search__main-title wow zoomInUp" >
                    <h2>{{ 'search_tilte'|trans({}, 'messages') }}</h2>
                </div>
                <div class="b-search__main-type wow zoomInUp" >
                    {{ form_start(formSearch) }}
                    <div class="col-xs-12 col-md-10">
                        <div class="row">
                            <div class="col-xs-6">
                     #}{#       <input id="type1" type="radio" name="type" />
                            <label for="type1" class="b-search__main-type-svg">
                                <img src="{{ asset('/build/renauttrans.png') }}" width="100%">
                            </label>#}{#
#}{#
                            <h5><label for="type1"> {{ form_row(formSearch.mark) }}</label></h5>
#}{#
                                <label for="type1" class="b-search__main-type-svg">Choisir une marque</label>
                                <div  style="color: black"> {{ form_row(formSearch.mark) }}</div>
                        </div>
                            <div class="col-xs-6">
                                <p class="delay">Délai de livraison : <span>21 Jours</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-search__main-form wow zoomInUp" >
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="m-firstSelects">
                                <div class="col-xs-6">
                                    <label>Date de depart</label>
                                    <div style="color: black">
                                    {{ form_row(formSearch.date_start) }}
                                    </div>
                                    <br>
                                    {{ form_row(formSearch.placeDepart) }}
                                </div>
                                <div class="col-xs-6">
                                    <label>Date de Retour</label>
                                    <div style="color: black">
                                    {{ form_row(formSearch.date_end) }}
                                    </div>
                                    <br>
                                    {{ form_row(formSearch.placeReturn) }}
                                </div>
                            </div>
                            <div class="m-secondSelects">
                                <div class="col-xs-6" style="margin-top: 3%;">
                                    {{ form_row(formSearch.promo) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 text-left s-noPadding">
                            <div class="b-search__main-form-submit" style="margin-top: 15%">
                                <button type="submit" class="btn m-btn" id="seachButton">Search the Vehicle<span class="fa fa-angle-right"></span></button>
                            </div>
                            {{ form_end(formSearch) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--search bar-->
#}
  {#  <section class="b-asks">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12">
                    <div class="b-asks__first wow zoomInLeft"  data-wow-offset="100">
                        <div class="b-asks__first-circle">
#}{#                            <img src="{{ asset('build/logo-ks-ph.png') }}">#}{#
                        </div>
                        <div class="b-asks__first-info">
                            <h2>{{ 'home_doc.key_tiltle'|trans({}, 'messages') }}</h2>
                            <p>{{ 'home_doc.key_subtiltle'|trans({}, 'messages') }}</p>
                        </div>
                        <div class="b-asks__first-arrow">
#}{#                            <a href="#"><span class="fa fa-angle-right"></span></a>#}{#
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
                    <a href="{{ path('TTdouane') }}">
                    <div class="b-asks__first m-second wow zoomInRight"  data-wow-offset="100">
                        <div class="b-asks__first-circle">
                            <img src="{{ asset('build/tt-groupimg.png') }}" style="margin-top: 10%; width: 100%">
                        </div>
                        <div class="b-asks__first-info">
                            <h2>{{ 'home_doc.tt_tiltle'|trans({}, 'messages') }}</h2>
                            <p>{{ 'home_doc.tt_subtilte'|trans({}, 'messages') }}</p>
                        </div>
                        <div class="b-asks__first-arrow">
#}{#                            <a href="#"><span class="fa fa-angle-right"></span></a>#}{#
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12">
                    <p class="b-asks__call wow zoomInUp">{{ 'home_doc.question'|trans({}, 'messages') }}   : <span><a href="{{ path('contact') }}">ICI</a> </span></p>
                </div>
            </div>
        </div>
    </section>
    <!--b-asks-->
#}

   {# <section class="b-featured">
        <div class="container">
            <h2 class="s-title wow zoomInUp" >{{ 'featured_cars'|trans({}, 'messages') }}</h2>
            <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="4" data-items-tablet="3" data-items-tablet-small="2">
                {% for car in cars_promo %}
                <div style="width: 100%">
                    <div class="b-featured__item wow rotateIn">
                        <a href="{{ path('detail_car', { 'id': car.id }) }}">
                            <img src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mers" style="width: 285px" />
#}{#                            <span class="m-premium">Premium</span>#}{#
                        </a>
                        <div class="b-featured__item-price" style="background-color: red">
                            PROMO
                        </div>
                        <div class="clearfix"></div>
                        <h5><a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.mark.getlibelle }}</a></h5>
                        <div class="b-featured__item-count"><span class="fa fa-tachometer"></span>{{ car.name }}</div>
                        <div class="b-featured__item-links">
                            <a href="#">{{ car.years }}</a>
                            <a href="#">{{ car.transmission }}</a>
                            <a href="#">{{ car.fuel }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--b-featured-->#}

  {#  <section class="b-auto">
        <div class="container">
            <h5 class="s-titleBg wow zoomInLeft">GIVING OUR CUSTOMERS BEST DEALS</h5><br />
            <h2 class="s-title wow zoomInRight">BEST OFFERS FROM AUTOCLUB</h2>
            <div class="row">
                <div class="col-xs-5 col-sm-4 col-md-3">
                    <aside class="b-auto__main-nav wow zoomInLeft">
                        <ul>
                            <li><a href="javascript:void(0);" onclick="ClickAll()">All Manufacturers</a></li>
                            <li class="active"><a href="javascript:void(0);" onclick="ClickRenault()">Renault</a></li>
                            <li><a href="javascript:void(0);" data-to="#second"  onclick="ClickPeugeot()">Peugeot</a></li>
                            <li><a href="javascript:void(0);" onclick="ClickCitroen()">Citroën</a></li>
                            <li><a href="javascript:void(0);" onclick="ClickDs()">DS Automobile</a></li>
                        </ul>
               #}{#         <div class="owl-buttons">
                            <div class="owl-prev j-tab" data-to='#first'></div>
                            <div class="owl-next j-tab" data-to='#second'></div>
                        </div>#}{#
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-7">
                    <div class="b-auto__main">
                        <div class="col-md-12 col-md-offset-1 col-xs-12">
                        </div>
                        <div class="clearfix"></div>
                        <div class="row m-margin" id="renault">
                            {% for car in cars %}
                            {% if car.getMark.getLibelle == "Renault"  %}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="b-auto__main-item wow slideInUp">
                                    <img class="img-responsive"  src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mazda" />
                                    <div class="b-world__item-val">
                                        <span class="b-world__item-val-title">REGISTERED <span>{{ car.years }}</span></span>
                                    </div>
                                    <h2 style="height: 45px"><a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.name }}</a></h2>
                                    <div class="b-auto__main-item-info">
											<span class="m-price">
                                                {{ car.getMark.getLibelle }}
											</span>
                                        #}{#                 <span class="m-number">
												<span class="fa fa-tachometer"></span>35,000 KM
											</span>#}{#
                                    </div>
                                    <div class="b-featured__item-links m-auto">
                                        <a href="#">Used</a>
                                        <a href="#">{{ car.years }}</a>
                                        <a href="#">{{ car.transmission }}</a>
                                        <a href="#">Orange</a>
                                        <a href="#">{{ car.fuel }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row m-margin" id="peugeot" style="display: none">
                            {% for car in cars %}
                            {% if car.getMark.getLibelle == "Peugeot"  %}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="b-auto__main-item wow slideInUp">
                                        <img class="img-responsive"  src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mazda" />
                                        <div class="b-world__item-val">
                                            <span class="b-world__item-val-title">REGISTERED <span>{{ car.years }}</span></span>
                                        </div>
                                        <h2 style="height: 45px"><a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.name }}</a></h2>
                                        <div class="b-auto__main-item-info">
											<span class="m-price">
                                                {{ car.getMark.getLibelle }}
											</span>
                                            #}{#                 <span class="m-number">
												<span class="fa fa-tachometer"></span>35,000 KM
											</span>#}{#
                                        </div>
                                        <div class="b-featured__item-links m-auto">
                                            <a href="#">Used</a>
                                            <a href="#">{{ car.years }}</a>
                                            <a href="#">{{ car.transmission }}</a>
                                            <a href="#">Orange</a>
                                            <a href="#">{{ car.fuel }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row m-margin" id="citroen" style="display: none">
                            {% for car in cars %}
                                {% if car.getMark.getLibelle == "Citroën"  %}
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="b-auto__main-item wow slideInUp">
                                            <img class="img-responsive"  src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mazda" />
                                            <div class="b-world__item-val">
                                                <span class="b-world__item-val-title">REGISTERED <span>{{ car.years }}</span></span>
                                            </div>
                                            <h2 style="height: 45px"><a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.name }}</a></h2>
                                            <div class="b-auto__main-item-info">
											<span class="m-price">
                                                {{ car.getMark.getLibelle }}
											</span>
                                                #}{#                 <span class="m-number">
												<span class="fa fa-tachometer"></span>35,000 KM
											</span>#}{#
                                            </div>
                                            <div class="b-featured__item-links m-auto">
                                                <a href="#">Used</a>
                                                <a href="#">{{ car.years }}</a>
                                                <a href="#">{{ car.transmission }}</a>
                                                <a href="#">Orange</a>
                                                <a href="#">{{ car.fuel }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row m-margin" id="dsauto" style="display: none">
                            {% for car in cars %}
                                {% if car.getMark.getLibelle == "DS Automobile"  %}
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="b-auto__main-item wow slideInUp">
                                            <img class="img-responsive"  src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mazda" />
                                            <div class="b-world__item-val">
                                                <span class="b-world__item-val-title">REGISTERED <span>{{ car.years }}</span></span>
                                            </div>
                                            <h2 style="height: 45px"><a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.name }}</a></h2>
                                            <div class="b-auto__main-item-info">
											<span class="m-price">
                                                {{ car.getMark.getLibelle }}
											</span>
                                                #}{#                 <span class="m-number">
												<span class="fa fa-tachometer"></span>35,000 KM
											</span>#}{#
                                            </div>
                                            <div class="b-featured__item-links m-auto">
                                                <a href="#">Used</a>
                                                <a href="#">{{ car.years }}</a>
                                                <a href="#">{{ car.transmission }}</a>
                                                <a href="#">Orange</a>
                                                <a href="#">{{ car.fuel }}</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--b-auto-->
#}
 {#   <section class="b-world">
        <div class="container">
            <h6 class="wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">Notre Blog</h6><br />
            <h2 class="s-title wow zoomInRight" data-wow-delay="0.3s" data-wow-offset="100">THE WORLD OF AUTOS</h2>
            <div class="row">
                {% for post in posts %}
                <div class="col-sm-4 col-xs-12">
                    <div class="b-world__item wow zoomInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                        <img class="img-responsive" src="{{ asset('build/uploads/'~ post.getPostImg) }}" alt="wolks" style="width: 45%" />
                        <div class="b-world__item-val">
                            <span class="b-world__item-val-title">{{ post.title }}</span>
                #}{#            <div class="b-world__item-val-circles">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span class="m-empty"></span>
                            </div>#}{#
#}{#
                            <span class="b-world__item-num">4.1</span>
#}{#
                        </div>
                        <h2>{{ post.title }}</h2>
#}{#
                        <p>{{ post.content|raw }}</p>
#}{#
                        <a href="{{ path('see_post', { 'id': post.id }) }}" class="btn m-btn">READ MORE<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!--b-world-->
#}
  {#  <section class="b-contact">
        <div class="container">
            <div class="row wow zoomInLeft"  data-wow-offset="100">
                <div class="col-xs-4">
                    <div class="b-contact-title">
                        <h5>{{ 'home_deals.tilte'|trans({}, 'messages') }}</h5><br />
                        <h2>{{ 'home_deals.subtiltle'|trans({}, 'messages') }}</h2>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="b-contact__form">
                        <p>{{ 'home_deals.content'|trans({}, 'messages') }}</p>
                        {{ form_start(form_newsletter) }}
                        <label>{{ 'contact_page.email'|trans({}, 'messages') }}</label>
                        {{ form_row(form_newsletter.email, { 'attr': {'class': 'form-control'} }) }}
                            <button type="submit"><span class="fa fa-angle-right"></span></button>
                        {{ form_end(form_newsletter) }}
                    </div>
                </div>
            </div>
        </div>
    </section>#}
  {#  <!--b-contact-->
    <div class="d-flex justify-content-center mt-5 h-100 cookieBar" id="cookieBar">
        <div class="d-flex align-items-center align-self-center card p-3 text-center cookies">
            <img src="{{  asset('build/cookie.png') }}" width="50" style="display: block;margin: 0 auto;">
            <span class="mt-2">We use third party cookies to personalize content, ads and analyze site traffic.</span>
            <a class="d-flex align-items-center" href="{{ path('cookies') }}" style="margin-bottom: 3%">Manage cookie<i class="fa fa-angle-right ml-2"></i></a>
            <button class="btn btn-dark mt-3 px-4" type="button" onclick="CookieBar()">Accept alls cookies</button>
        </div>
    </div>#}
    {% block javascripts %}
        {{ parent() }}

        <script>
            //DatePicker Search
/*            $(document).ready(function() {
                document.getElementById("cookieBar").style.display = "none";

                $("#seachButton").prop("disabled",true);

                $(".m-firstSelects").hide();
                $(".m-secondSelects").hide();


                // Place Ajax
                let placeReturn = document.getElementsByClassName("placeReturn");
                let placeDepart = document.getElementsByClassName("placeDepart");

                $(placeReturn).attr('disabled', 'disabled');
                $(placeDepart).attr('disabled', 'disabled');

                let renault = document.querySelector("#search_form_mark");
                console.log(this.value)

                renault.addEventListener("change", function() {
                    $.ajax({
                        url: {#{{  path('placeAjax') }}#},
                        type:"POST",
                        dataType:"json",
                        data: {mark: this.value},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);

                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                });
                    $.ajax({
                        url: {#{{  path('markAjax') }}#},
                        type:"POST",
                        dataType:"json",
                        data: {mark: this.value},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datepicker-dateStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datepicker-dateEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });
                })
            });*/

            /*
             //CookieBar
            function CookieBar() {
                document.getElementById("cookieBar").style.display = "none";
            }*/
        </script>
    {% endblock %}
{% endblock %}
