{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-warning flash-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<style>
    #form_mark_1 {
        /*position: absolute;
        left: 240px;
        top: 70px;*/
    }
    .box_form_mark {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .box_form_mark .selected {
        align-self: center;
    }
    .logo_renault{
        /*position: absolute;
        left: 200px;
        top: -10px;*/
        width: 115px;
        height: auto;
    /* max-width: 111px; */
    /* min-width: 60px;*/
    }
    #form_mark_2 {
        /*position: absolute;
        left: 355px;
        top: 70px;*/
        
    }
    .logo_peugeot {
        /*position: absolute;
        left: 310px;
        top: 2px;*/
        width: 153px;
        margin-top: 18px;
        margin-bottom: 10px;
        /* min-width: 60px; */
        /* max-width: 171px; */
        height: auto;
    }

    #form_mark_3 {
        /*position: absolute;
        left: 480px;
        top: 70px;*/
    }

    .logo_citroen {
        /*position: absolute;
        left: 450px;
        top: -10px;*/
        width: 115px;
        height: auto;
    }

    #form_mark_4 {
        /*position: absolute;
        left: 610px;
        top: 70px;*/
    }

    .logo_ds {
        /*position: absolute;
        left: 580px;
        top: -5px;*/
        width: 125px;
        margin-top: 19px;
        margin-bottom: 10px;
        /* max-width: 100px; */
        /* min-width: 60px; */
        height: auto;
    }
    .search_data_index {
        /*position: absolute;
        left: 50px;
        top: 45px;*/
        width: 100%;
        height: auto;
        overflow: visible;
        text-align: left;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(52,95,138,1);
    }
    #form_placeDepart {
        /*position: absolute;
        left: 180px;
        top: 0;*/
        overflow: visible;
        width: 85%;
        height: 65px;
        padding: 15px;
        border-radius: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #form_date_start {
        /*position: absolute;
        left: 558px;
        top: 0;*/
        width: 85%;
        height: 65px;
        overflow: visible;
        border-radius: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #form_placeReturn {
        overflow: visible;
        width: 85%;
        height: 65px;
        padding: 15px;
        border-radius: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #form_date_end {
        /*position: absolute;
        left: 558px;
        top: 0;*/
        width: 85%;
        height: 65px;
        overflow: visible;
        border-radius: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #form_promo {
        /*position: absolute;
        left: 200px;
        top: -10px;*/
        overflow: visible;
        width: 80%;
        min-width: 100px;
        height: 38px;
        border-radius: 30px;
    }

    .checkbox-round {
        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        /*appearance: none;
        -webkit-appearance: none;*/
        clip-path: circle(40% at 50% 50%);
        outline: none;
        cursor: pointer;
    }

    .newsletter_banner_index {
        width: 100%;
        /* margin-top: 70px; */
        position: relative;
        top: 20px;
        height: 100%;
        background-color: rgba(250,250,250,1);
    }
    .owl-carousel .owl-items {
        min-width: 300px;
    }
    /* Dashed border */
    hr.dashed {
        border-top: 3px dashed #fff;
    }
    .trait_index {
        width: 90%;
    }
    
    .search_data_index {
        border-radius: 40px;
        background-color: rgba(52,95,138,0.841);
        position: relative;
        overflow: visible;
        width: 60%;
        height: auto;
        top: -700px;
        min-width: 650px;
        /*left: 265px;
        opacity: 0.841;*/
    }


    .ui-datepicker {
        background-color: white;
    }

    /* Media Queries */
    /* Desktop */
    @media (max-width : 1230.98px) {
        .tilte_mark {
            font-size: 11px;
            margin-left: 7px;
            margin-top: 17px;
        }  
        .logo_peugeot {
            width: 73px;
            margin-top: 52px;
            margin-bottom: 10px;
        }
        .logo_renault {
            width: 65px;
            margin-top: 39px;
        }
        .logo_citroen {
            width: 67px;
            margin-top: 37px;
        }
        .logo_ds {
            width: 61px;
            margin-top: 49px;
            margin-bottom: 10px;
        }
        .search_promo_btn span {
            font-size: 13px;
        }
        .btn_search_send button {
            font-size: 15px;
        }
        .blog_article {
            margin: 15px 132px;
        }
    }
    @media screen and (max-width : 992.98px) {
        .blog_home {
            margin: 980px auto 100px;
        }
        
    }

    /* Tablette */
    @media screen and (max-width : 767.98px) {
        .logo_peugeot {
            width: 73px;
            margin-top: 9px;
        }
        .logo_renault {
            margin-top: -5px;
        }
        .logo_citroen {
            margin-top: -7px;
        }
        .logo_ds {
            margin-top: 6px;
        }
        .promo_banner {
            position: relative;
            top: -1000px;
        }
        .promo_banner_promo {
            position: relative;
            left: 50px;
        }
        .promo_banner_value {
            position: relative;
            left: 50px;    
        }
        .search_promo_btn span {
            font-size: 9px;
        }
        .btn_search_send button {
            font-size: 13px;
        }
        .search_mark {
            width: 80%;
            top: -1025px;
            min-width: 0px;
        }
        .search_data_index {
            width: 80%;
            top: -1005px;
            min-width: 0px;
        }
        .tilte_mark {
            margin-top: 30px;
        }
        .icones {
            margin-top: 30px;
        }
        .img_backgroud {
            height: 1180px;
        }
        .info_promo_banner {
            top: -1080px;
        }
        .btn_promo_home {
            top: -785px;
        }
        .carroussel_div {
            margin-top: -63em;
        }
    }

    /* Smartphone */
    @media screen and (max-width : 576.98px) {

        .search_col-12 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .img_backgroud {
            height: 1180px;
        }
        .search_mark {
            width: 90%;
            
            padding-bottom: 15px;
            height: auto;
        }
        .search_data_index {
            width: 90%;
            top: -1000px;
        }
        .icones {
            width: 70%;
        }
        .btn_promo_home {
            top: -847px;
        }
        .promo_banner {
            top: -1018px;
        }
        .info_promo_banner {
            top: -1100px;
        }
        .footer_v1 {
        width: 100vh;
        }
        html,body{ /* Removes the white spaces on the sides in smartphone format */
            width:100vh;
            overflow-x:hidden;
        }

    } 

</style>
<div>
    <meta name="viewport" content="width=device-width" />
    
    <div class="search_bar_V1">
        <div class="d-flex justify-content-center">
            <div class="step_search">
                <div class="row align-items-center d-flex justify-content-around text-center">
                    <div class="col-4">
                        <span class="span_step1">1</span>
                    </div>
                    <div class="col-4">
                        <span class="span_step2">2</span>
                    </div>
                    <div class="col-4">
                        <span class="span_step3">3</span>
                    </div>

                </div>
            </div>
        </div>
    
        <img src="{{ asset('build/search_imgZoom.png') }}" class="img_backgroud" alt="sliderImg" />    

        {{ form_start(formSearch) }}
        <div class="row d-flex justify-content-center">
            <div class="search_mark">
                <div class="row align-items-center d-flex justify-content-center text-center">
                    <div class="col-md-2 col-sm-2 col-2">
                        <span class="tilte_mark">Sélectionnez <br> une marque</span>
        {#                <input type="image" id="search_form_mark_1" alt="Renault"
                            src="{{ asset('build/renault-blanc.png') }}" style="left: 200px; top: -10px;position: absolute;" value="1">
                        <input type="image" id="search_form_mark_2" alt="Peugeot"
                            src="{{ asset('build/peugeottrans.png') }}" width="70" style="position: absolute;left: 300px;top: 3px;}" value="2">
                        <input type="image" id="search_form_mark_3" alt="citroen"
                            src="{{ asset('build/citroentrans.png') }}" width="70" style="position: absolute;left: 395px;top: 0;" value="3">
                        <input type="image" id="search_form_mark_4" alt="Renault"
                            src="{{ asset('build/dstrans.png') }}" width="70" style="    position: absolute;left: 495px;top: 8px;" value="4">#}
                        {#            {{ form_row(formSearch.mark, { 'attr': {'class': 'mark_search'} }) }}
                    {% if formSearch.vars.value.i is not null %}
                            <img src="{{ asset('upload/dir/' ~ formSearch.vars.value.image) }}" />
                        {% endif %}#}
                    </div>
                    <div class="col">
                        <div class="icones">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/renault-blanc.png') }}" class="logo_renault">
                                        {{ form_row(formSearch.mark_1, { 'attr': {'class': 'mark_search, checkbox-round'}  })  }}
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/peugeottrans.png') }}" class="logo_peugeot">
                                        {{ form_row(formSearch.mark_2, { 'attr': {'class': 'mark_search,  checkbox-round'} }) }}
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/citroentrans.png') }}" class="logo_citroen">
                                        {{ form_row(formSearch.mark_3, { 'attr': {'class': 'mark_search,  checkbox-round'} }) }}
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/dstrans.png') }}" class="logo_ds">
                                        {{ form_row(formSearch.mark_4, { 'attr': {'class': 'mark_search,  checkbox-round'} }) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>    
        </div>

        <div class="d-flex justify-content-center">
            <div class="search_data_index">
                <div class="search_depart">
                    <div class="row align-items-center d-flex justify-content-center text-center">
                        <div class="col-md-3 col-lg-2 search_col-12">
                            <span>Livraison</span>
                        </div>
                        <div class="col-md-5 col-lg-5 search_col-12">
                            {{ form_row(formSearch.placeDepart) }}
                        </div>
                        <div class="col-md-4 col-lg-4 search_col-12">
                            {{ form_row(formSearch.date_start, { 'attr': {'class': 'datePickerStart'} }) }}
                        </div>
                    </div>
                </div>
                <div class="search_return">
                    <div class="row align-items-center d-flex justify-content-center text-center">
                        <div class="col-md-3 col-lg-2 search_col-12">
                            <span>Retour</span>
                        </div>
                        <div class="col-md-5 col-lg-5 search_col-12">
                            {{ form_row(formSearch.placeReturn) }}
                        </div>
                        <div class="col-md-4 col-lg-4 search_col-12">
                            {{ form_row(formSearch.date_end, { 'attr': {'class': 'datePickerEnd'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="trait_index">
                        <hr class="dashed">
                        {# <img src="{{ asset('build/search_trait.png') }}"> #}
                    </div>
                </div>
                <div class="enter_see_promo">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="search_promo_btn">
                                <div class="row align-items-center justify-content-start">
                                    <div class="col-5">
                                        <span>Code spécial</span>
                                    </div>
                                    <div class="col">
                                        {{ form_row(formSearch.promo) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="btn_search_send">
                                <button id="searchBtn">Voir nos tarifs   ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <div class="btn_promo_home">
                <div class="col align-self-center">
                <span class="span_btn_promo">Découvrez nos promotions</span>
                <svg class="path_46" viewBox="0 0 19.324 8.338">
                    <path id="trac_46" d="M 0 0 L 10.33853340148926 8.338281631469727 L 19.32394599914551 0">
                    </path>
                </svg>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            {{ form_end(formSearch) }}
            <img class="img-fluid promo_banner" src="{{ asset('build/quick-banner.png') }}" alt="sliderImg" />
        </div>

        <div class="d-flex justify-content-center">
            <div class="info_promo_banner">
                <div class="row">
                    <div class="col">
                        <span class="promo_banner_promo">Offre Promo !</span>
                        <span class="promo_banner_value"><b>20 %</b> lorem ipsum dolor <br> Lorem ipsum dolor</span>
                    </div>
                    <div class="col">
                        <span class="promo_banner_date"> Offre valable du <br><b>20/12/21</b> au <b>20/01/22</b></span>
                        <span class="promo_banner_btn">Je participe</span>
                    </div>
                </div>
            </div>
        </div>
    
   
    
   
        <div class="carroussel_div">
            <div class="carroussel_btn_div">
                <div class="row justify-content-evenly">
                    <div class="col offset-md-1">
                        <span class="carroussel_btn">Renault</span>
                    </div>
                    <div class="col">
                        <span class="carroussel_btn" style="color: rgba(52,95,138,1)">Peugeot</span>
                    </div>
                    <div class="col">
                        <span class="carroussel_btn" style="color: rgba(52,95,138,1)">Citroën</span>
                    </div>
                    <div class="col">
                        <span class="carroussel_btn" style="color: rgba(52,95,138,1)">DS Auto</span>
                    </div>
                </div>
            </div>
        
            <div class="carroussel">
                <div id="carousel-small" class="owl-carousel enable-owl-carousel" data-items="4" data-navigation="true" data-auto-play="true" data-stop-on-hover="true" data-items-desktop="4" data-items-desktop-small="4" data-items-tablet="3" data-items-tablet-small="2">
                    {% for car in cars_promo %}
                        <div class="carroussel_cars">
                            <div class="row">
                                <div class="b-featured__item wow rotateIn">
                                    <div class="col-12">
                                        <a href="{{ path('detail_car', { 'id': car.id }) }}">
                                            <img src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="mers" style="width: 285px; height: 160px;" />
                                            {#                            <span class="m-premium">Premium</span>#}
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <div class="row align-items-center d-flex justify-content-center">
                                            <div class="col-6">
                                                <div class="carroussel_promo_span"> PROMO !</div>
                                            </div>
                                            <div class="col-6">
                                                <div class="carroussel_info">
                                                    <div class="carroussel_name">
                                                        <a href="{{ path('detail_car', { 'id': car.id }) }}">{{ car.name|u.truncate(20, '...') }}</a>
                                                    </div>
                                                    <div class="carroussel_subtilte">
                                                        {{ car.years }} - {{ car.transmission }} - {{ car.fuel }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>  
    
    
        <div class="tt_info">
            <div class="row align-items-center d-flex justify-content-center text-center">
                <div class="col">                  
                    <div class="video_tt">
                        <div class="embed-responsive embed-responsive-16by9" >
                            <iframe src="https://www.youtube.com/embed/5DpCdHOG92s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="tt_text">
                        <div class="tilte_tt">Comprendre le Transit Temporaire (TT)</div>
                        <div class="trait_point">
                            <img src="{{ asset('build/trait_point.png') }}" alt="ttCar" />
                        </div>
                        <div class="text_info">
                            Le transit temporaire est une disposition douanière et fiscale qui permet à toute personne résidant hors
                            du territoire communautaire (DOM TOM inclus) de disposer d’un véhicule neuf lors de son séjour en Europe et
                            de l’acquérir exonéré des droits de douanes et de la TVA.
                            Vous bénéficiez ainsi d’une immatriculation française spécifique permettant une libre circulation en Europe.
                            <br>
                            <br>
                            Il est aussi possible de bénéficier de ce régime sans avoir a payer l’intégralité du prix du véhicule.
                            Cette formule, connue sous le terme générique d’achat-rachat, ressemble beaucoup à une location de voiture.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn_info">
                <div class="row align-items-center d-flex justify-content-center text-center">
                    <div class="col">
                        <span class="btn_info_booking">Réserver</span>
                    </div>
                    <div class="col">
                        <span class="btn_info_question">Une question ?</span>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="avantage">
            <div class="row justify-content-center">
                <div class="avantage_tilte">AVANTAGES DU TRANSIT TEMPORAIRE</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="avantage_carroussel">
                    <div class="row align-items-center d-flex justify-content-center text-center">
                        <div class="col-md-12 col-lg-2">
                            <div class="av">
                                <span class="item_avantage"><img src="{{ asset('build/Group_84.png') }}" alt="item"></span>
                                <span class="avantage_text"><br>Véhicule neufs</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <div class="av">
                                <span class="item_avantage"><img src="{{ asset('build/Group_92.png') }}" alt="item"></span>
                                <span class="avantage_text"><br>Kilométrage <br> illimité</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <div class="av">
                                <span class="item_avantage"><img src="{{ asset('build/Group_82.png') }}" alt="item"></span>
                                <span class="avantage_text"><br>Assistance 7j/7 <br> et 24h/24</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <div class="av">
                                <span class="item_avantage"><img src="{{ asset('build/Group_88.png') }}" alt="item"></span>
                                <span class="avantage_text"><br>Assurance multirisques <br>sans franchise</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <div class="av">
                                <span class="item_avantage"><img src="{{ asset('build/Group_90.png') }}" alt="item"></span>
                                <span class="avantage_text"><br>GPS <br>gratuit</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            <div class="av">
                                <span class="item_avantage"><img src="{{ asset('build/Group_86.png') }}" alt="item"></span>
                                <span class="avantage_text"><br>24 mois de garantie <br> constructeur</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog_home">
            <div class="row justify-content-center">
                <div class="blog_tilte">Notre blog</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row align-items-center d-flex justify-content-center text-center">
                    {% for post in posts %}
                        <div class="blog_article">
                            <div class="img_blog">
                                <img class="img-responsive" src="{{ asset('build/uploads/'~ post.getPostImg) }}" alt="wolks" style="width: 45%" />
                            </div>
                            <div class="blog_text">
                                <span class="item_blog_tilte">{{ post.title }}</span>
                                <div class="item_text">{{ post.content |u.truncate(200, '...')|raw }}</div>
                                <a href="{{ path('see_post', { 'id': post.id }) }}" class="blog_btn">Lire la suite <span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row align-items-center d-flex justify-content-around text-center">
                <span class="btn_blog_articles">Voir tous les articles </span>
            </div>
        </div>
   
        <div class="newsletter_banner">
            <div class="row text-center">
                <div class="col-4 col-md-1 col-sm-2">
                    <img src="{{ asset('build/Groupe_281.png') }}" alt="newsletter" class="newsletter_img"/>
                </div>
                <div class="col-6 col-md-4 col-sm-6 offset-lg-1">
                    <div class="newsletter_tilte">Recevez les bons plans TT</div>
                    <div class="newsletter_subtilte">Inscrivez-vous à notre newsletter</div>
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="newsletter_form">
                        <div class="row align-items-center d-flex justify-content-around text-center">
                            <div class="col">
                                {{ form_start(form_newsletter) }}
                                {{ form_row(form_newsletter.email, { 'attr': {'class': 'form_news'} }) }}
                            </div>
                            <div class="col-auto">
                                <div class="newsletter_btn1">
                                    <button type="submit" class="newsletter_btn" id="seachButton">OK</button>
                                </div>
                                {{ form_end(form_newsletter) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   {# <!--Search bar-->
        <div class="container search_bar">
            <div class="b-search__main">
                <div class="b-search__main-title wow zoomInUp" >
                    <h2>{{ 'search_tilte'|trans({}, 'messages') }}</h2>
                </div>
                <div class="b-search__main-type wow zoomInUp" >
                    {{ form_start(formSearch) }}
                    <div class="col-xs-12 col-md-10">
                        <div class="row">
                            <div class="col-xs-6">
                     #}{#       <input id="type1" type="radio" name="type" />
                            <label for="type1" class="b-search__main-type-svg">
                                <img src="{{ asset('/build/renauttrans.png') }}" width="100%">
                            </label>#}{#
#}{#
                            <h5><label for="type1"> {{ form_row(formSearch.mark) }}</label></h5>
#}{#
                                <label for="type1" class="b-search__main-type-svg">Choisir une marque</label>
                                <div  style="color: black"> {{ form_row(formSearch.mark) }}</div>
                        </div>
                            <div class="col-xs-6">
                                <p class="delay">Délai de livraison : <span>21 Jours</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-search__main-form wow zoomInUp" >
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="m-firstSelects">
                                <div class="col-xs-6">
                                    <label>Date de depart</label>
                                    <div style="color: black">
                                    {{ form_row(formSearch.date_start) }}
                                    </div>
                                    <br>
                                    {{ form_row(formSearch.placeDepart) }}
                                </div>
                                <div class="col-xs-6">
                                    <label>Date de Retour</label>
                                    <div style="color: black">
                                    {{ form_row(formSearch.date_end) }}
                                    </div>
                                    <br>
                                    {{ form_row(formSearch.placeReturn) }}
                                </div>
                            </div>
                            <div class="m-secondSelects">
                                <div class="col-xs-6" style="margin-top: 3%;">
                                    {{ form_row(formSearch.promo) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 text-left s-noPadding">
                            <div class="b-search__main-form-submit" style="margin-top: 15%">
                                <button type="submit" class="btn m-btn" id="seachButton">Search the Vehicle<span class="fa fa-angle-right"></span></button>
                            </div>
                            {{ form_end(formSearch) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--search bar-->
#}
    {% block javascripts %}
        {{ parent() }}
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script>
            //DatePicker Search
            $(document).ready(function() {
/*
                document.getElementById("cookieBar").style.display = "none";
*/
                $("#seachButton").prop("disabled",true);


                // Place Ajax
                let placeReturn = document.getElementsByClassName("placeReturn");
                let placeDepart = document.getElementsByClassName("placeDepart");
                let dateDepart = document.getElementById("form_date_start");
                let dateReturn = document.getElementById("form_date_end");
                let btnSearch = document.getElementById("searchBtn");



                $(placeReturn).attr('disabled', 'disabled');
                $(placeDepart).attr('disabled', 'disabled');
                $(dateDepart).attr('disabled', 'disabled');

                $(dateDepart).attr('placeholder', 'Date de départ');
                $(dateReturn).attr('placeholder', 'Date de retour');

                $(dateReturn).attr('disabled', 'disabled');
                $(btnSearch).attr('disabled', 'disabled');

                let renault = document.querySelector("#form_mark_1");
                let peugeot = document.querySelector("#form_mark_2");
                let citroen = document.querySelector("#form_mark_3");
                let psa = document.querySelector("#form_mark_4");

                console.log(renault.value)

                let valueMark = null;

                $("#form_mark_1").change(function(){

                    $(btnSearch).attr('disabled', false);

                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(peugeot).prop('checked',false)
                    $(citroen).prop('checked',false)
                    $(psa).prop('checked',false)

                    console.log('change renault1');
                    valueMark = 1;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);


                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){
                            console.log(dateDepart)

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $(".datePickerStart").datepicker({
                                minDate: '+21d',
                                maxDate: '+6M',
                                dateFormat: 'dd/mm/yy'
                            });

                            $('.datePickerEnd').datepicker({
                                minDate: '+1M',
                                maxDate: maxDatePicker,
                                dateFormat: 'dd/mm/yy'
                            });

                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });

                });

                $("#form_mark_2").change(function(){
                    $(btnSearch).attr('disabled', false);

                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(citroen).prop('checked',false)
                    $(renault).prop('checked',false)
                    $(psa).prop('checked',false)

                    valueMark = 2;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);

                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datePickerStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datePickerEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });
                });
                $("#form_mark_3").change(function(){
                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(btnSearch).attr('disabled', false);

                    $(peugeot).prop('checked',false)
                    $(renault).prop('checked',false)
                    $(psa).prop('checked',false)

                    valueMark = 3;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);

                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datePickerStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datePickerEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });
                });
                $("#form_mark_4").change(function(){
                    $(dateDepart).attr('disabled', false);
                    $(dateReturn).attr('disabled', false);
                    $(btnSearch).attr('disabled', false);

                    $(peugeot).prop('checked',false)
                    $(renault).prop('checked',false)
                    $(citroen).prop('checked',false)

                    valueMark = 4;
                    $.ajax({
                        url: {{  path('placeAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(place){

                            let places = $('#search_form_placeDepart');
                            let placesReturn = $('#search_form_placeReturn');

                            places.empty();
                            placesReturn.empty();

                            $(placeReturn).attr('disabled', false);
                            $(placeDepart).attr('disabled', false);

                            for (let i = 0; i < place.length; i++) {
                                places.append('<option value=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                                placesReturn.append('<option value=' + place[i]['id'] + ' id=' + place[i]['id'] + '>' + place[i]['libelle'] + '</option>');
                            }
                        }
                    });
                    $.ajax({
                        url: {{  path('markAjax') }},
                        type:"POST",
                        dataType:"json",
                        data: {mark: valueMark},
                        success: function(data){

                            let minDate = data[0]['minDate']
                            let maxDate = data[0]['maxDate']

                            let maxDatePicker = '+'+maxDate+'D'

                            $('.datePickerStart').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+21d',
                                endDate: '+6M'
                            });

                            $('.datePickerEnd').datepicker({
                                format: 'dd/mm/yyyy',
                                startDate: '+1M',
                                endDate: maxDatePicker
                            });


                            $("#seachButton").prop("disabled",false);
                            $(".m-firstSelects").show('slow');
                            $(".m-secondSelects").show('slow');

                        }
                    });
                });

                console.log(valueMark);
            });
        </script>
    {% endblock %}
{% endblock %}
