    {% extends 'base.html.twig' %}

    {% block body %}
        <section class="b-pageHeader">
            <div class="container">
                <h1 class="wow zoomInLeft" data-wow-delay="0.5s">Auto Listings</h1>
                <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
                    <h3>{{ 'form_order.order'|trans({}, 'messages') }}</h3>
                </div>
            </div>
        </section><!--b-pageHeader-->

        <div class="b-breadCumbs s-shadow">
            <div class="container wow zoomInUp" data-wow-delay="0.5s">
                <a href="{{ path('main') }}" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span>
            </div>
        </div><!--b-breadCumbs-->

        <div class="b-infoBar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                        <div class="b-infoBar__progress wow zoomInUp" data-wow-delay="0.5s">
                            <div class="b-infoBar__progress-line clearfix">
                                <div class="b-infoBar__progress-line-step m-active">
                                    <div class="b-infoBar__progress-line-step-circle">
                                        <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                                    </div>
                                </div>
                                <div class="b-infoBar__progress-line-step m-active">
                                    <a href="#" onclick="history.back(-1)">
                                        <div class="b-infoBar__progress-line-step-circle">
                                            <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="b-infoBar__progress-line-step">
                                    <div class="b-infoBar__progress-line-step-circle">
                                        <div class="b-infoBar__progress-line-step-circle-inner m-active"></div>
                                    </div>
                                </div>
                                <div class="b-infoBar__progress-line-step">
                                    <div class="b-infoBar__progress-line-step-circle">
                                        <div class="b-infoBar__progress-line-step-circle-inner"></div>
                                    </div>
                                    <div class="b-infoBar__progress-line-step-circle m-last">
                                        <div class="b-infoBar__progress-line-step-circle-inner"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--b-infoBar-->
        <div class="b-items">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-sm-8 col-xs-12">
                        <div class="row">
                            {# Card Cars#}
                            <div class="card" style="margin-top: 5%">
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center ">{{ car.name }} <i class="fas fa-car-side"></i></h5>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <img src="{{ asset('build/uploads/'~ car.getCarImg) }}" class="card-img-top" style="width: 75%" alt="cars">
                                        </div>
                                        <div class="col-sm-3" style="margin-top: 5%">
                                            <p class="card-text">{{ 'form_order.years'|trans({}, 'messages') }} {{ car.years }}</p>
                                            <p class="card-text">{{ 'form_order.place'|trans({}, 'messages') }} {{ car.passenger }}</p>
                                        </div>
                                        <div class="col-sm-3" style="margin-top: 5%">
                                            <p class="card-text">{{ 'form_order.bag'|trans({}, 'messages') }}</p>
                                            <p class="card-text">{{ car.transmission }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                 {#  Card Items #}

                            <div class="card" style="margin-top: 5%">
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center; margin-bottom: 5%">{{ 'form_order.item'|trans({}, 'messages') }} <i class="fas fa-gas-pump"></i></h5>

                                    {% for item in accessArray %}

                                        <div class="form-group row text-center">
                                            <div class="col-sm-3 col-sm-offset-1">
                                                {% if item.getItemImg == null %}
                                                <img src="{{ asset('build/default2.png') }}" class="card-img-top" style="width: 25%; margin-left: 10%" alt="item">
                                                {% else %}
                                                <img src="{{ asset('build/uploads/'~ item.getItemImg) }}" class="card-img-top" style="width: 25%; margin-left: 10%" alt="item">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="card-text"> {{ item.getLibelle }} : {{ item.getPrice }}€ </p>
                                            </div>
                                            <div class="col-sm-3">
                                                <select name="item" id="item-{{ item.getId }}">
                                                    <option value="0">--Please choose an option--</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="card-footer text-muted text-center">
                                        <button type="submit" class="btn btn-outline-success" onclick="ItemCalcule()">{{ 'form_order.add'|trans({}, 'messages') }}<span class="fa fa-angle-right"></span></button>
                                    </div>
                                </div>
                            </div>

                            {{ form_start(formOrder) }}
                            {% if user %}
                              {# Card User #}
                            <div class="card" style="margin-top: 5%">
                                <div class="card-header">
                                    {#                                Featured#}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center; margin-bottom: 5%">Compte <i class="fas fa-address-card"></i></h5>
                                    <div class="form-group row" style="text-align: center">
                                        <div class="col-sm-6">
                                            <p>Name : {{ user.name }}</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Username : {{ user.username }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="text-align: center">
                                        <div class="col-sm-6">
                                            <p>Birthdays : {{ user.getBirthdaysDate|date("m/d/Y") }}</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Email : {{ user.email }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% else %}

                                  {# Form New User #}
                           <div class="card" style="margin-top: 5%">
                               <div class="card-body">
                                   <h5 class="card-title" style="text-align: center">{{ 'form_order.compte'|trans({}, 'messages') }} <i class="fas fa-address-card"></i></h5>
                               </div>
                               <div class="col-md-6 center-block">
                                <a href="#" class="btn btn-primary btn-lg center-block" onclick="ClickModal()">{{ 'login.login'|trans({}, 'messages') }}</a>
                               </div>
                               <div class="container py-5">
                                    <div class="row">
                                        <div class="col-md-9 mx-auto">
                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                    {{ form_row(formOrder.customer_type, { 'attr': {'class': 'checkbox-custom'} }) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    {{ form_row(formOrder.phone, { 'attr': {'class': 'form-control'} }) }}
                                                </div>
                                            </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.email, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.plainPassword, { 'attr': {'class': 'form-control'} }) }}

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.customer_username, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.customer_name, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.customer_old_name, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.profession, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.adress_no_ue, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.adress_more_noUe, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.adress_city_hue, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.adress_country_hue, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.adress_code_hue, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.nationality, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-6">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.adress, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.adress_more, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.city, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.country, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.postal_code, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.birth_date) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.birth_city, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.birth_country, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.birth_postal, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.passport_number, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.passport_date) }}
                                        </div>
                                        <div class="col-sm-3">
                                            {{ form_row(formOrder.passport_place, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            {{ form_row(formOrder.reason, { 'attr': {'class': 'form-control form-control-sm'} }) }}
                                        </div>
                                    </div>

                                    </div>
                                </div>
                                </div>
                           </div>
                            {% endif %}
                                <div class="card" style="margin-top: 5%">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-align: center">Vol <i class="fas fa-plane-arrival"></i></h5>
                                        <span class="card-text">{{ 'form_order.important'|trans({}, 'messages') }}</span>
                                        <div class="form-group row text-center col-xs-offset-1">
                                                <div class="col-sm-3">
                                                    {{ form_row(formOrder.place_plane, { 'attr': {'class': 'form-control'} }) }}
                                                </div>
                                                <div class="col-sm-4">
                                                    {{ form_row(formOrder.number_plane, { 'attr': {'class': 'form-control'} }) }}
                                                </div>
                                                <div class="col-sm-3">
                                                    {{ form_row(formOrder.planeDate2) }}
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="card" style="margin-top: 5%">
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center">Comment <i class="far fa-comment"></i></h5>
                                    <span class="card-text"></span>
                                    <div class="form-group row text-center col-xs-offset-1">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            {{ form_row(formOrder.comment, { 'attr': {'class': 'form-control form-control-lg textarena_large'} }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted text-center">
                                    <button type="submit" class="btn btn-outline-success">{{ 'form_order.btnPayment'|trans({}, 'messages') }}<span class="fa fa-angle-right"></span></button>
                                </div>
                            </div>
                            {{ form_end(formOrder) }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-12">
                        <aside class="b-items__aside">
                            <h2 class="s-title wow zoomInUp">{{ 'form_order.detail'|trans({}, 'messages') }}</h2>
                            <div class="b-items__aside-sell-info">
                                <h3>{{ 'form_order.price'|trans({}, 'messages') }} </h3>
                                {% set price_without = price - price_depart - price_return %}
                                <p> {{ 'form_order.forfait'|trans({}, 'messages') }} {{nb_days}} {{ 'form_order.days'|trans({}, 'messages') }} : {{ price_without }}€ </p>
                                <p>{{ 'form_order.deliveryStart'|trans({}, 'messages') }} :
                                    {% if price_depart == 0 %}
                                        {{ 'form_order.free'|trans({}, 'messages') }} !
                                    {% else %}
                                        {{ price_depart }}€
                                    {% endif %}
                                </p>
                                <p>{{ 'form_order.deliveryEnd'|trans({}, 'messages') }} :
                                    {% if price_return == 0 %}
                                        {{ 'form_order.free'|trans({}, 'messages') }} !
                                    {% else %}
                                        {{ price_return }}€
                                    {% endif %}
                                </p>
                                <p id="item"></p>
                                <h3>TOTAL</h3>
                                <h3 id="priceAjax">{{ price }}€</h3>
                                <h3 id="results"></h3>

                            </div>
                            <div class="b-items__aside-sell wow zoomInUp">
                                <div class="b-items__aside-sell-info">
                                    <h3>Ce prix inclut :</h3>
                                    <p>
                                        <span><i class="fas fa-check" style="color: green"></i>{{ 'form_order.forfait'|trans({}, 'messages') }} {{nb_days}} {{ 'form_order.days'|trans({}, 'messages') }}</span>
                                        <br>
                                        <span><i class="fas fa-check" style="color: green"></i>{{ 'form_order.new'|trans({}, 'messages') }}</span>
                                        <br>
                                        <span><i class="fas fa-check" style="color: green"></i>{{ 'form_order.mileage'|trans({}, 'messages') }}</span>
                                        <br>
                                        <span><i class="fas fa-check" style="color: green"></i>{{ 'form_order.assurance'|trans({}, 'messages') }}</span>
                                        <br>
                                        <span><i class="fas fa-check" style="color: green"></i>{{ 'form_order.assistance'|trans({}, 'messages') }}</span>
                                        <br>
                                        <span><i class="fas fa-check" style="color: green"></i>{{ 'form_order.freeDelivery'|trans({}, 'messages') }}</span>
                                        <br><span style="color: red"><i class="fas fa-check" style="color: green"></i>
                                            {% if  promos|length < 1 %}
                                                {% for promo in promos %}
                                                    {{ promo.description }} : {{ promo.getValue }}€
                                                {% endfor %}
                                            {% else %}
                                                {{ promos.description }} : {{ promos.getValue }}€
                                            {% endif %}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div><!--b-items-->
        {{ include('modal/loginModal.html.twig') }}

        <script>
            function ItemCalcule() {
                let x = document.getElementById("priceAjax");
                let nbPrice = parseInt({{ price }});
                let arrayItems = {{ car.getItems|length }};
                let total = 0;
                let libelles = [];
                let nbItems = [];
                let undif = null;

                {% for item in car.getItems %}
                let value{{ item.getId }} = document.getElementById('item-'+{{ item.getId }}).value;

                let nb{{ item.getId }} = parseInt({{ item.getPrice }}) * value{{ item.getId }};
                undif = parseInt(value{{ item.getId }});
                if (undif !== 0) {
                    libelles.push('{{ item.getLibelle }}');
                    nbItems.push(value{{ item.getId }});
                }

                {% endfor %}

                if (arrayItems === 1) {
                    total = nbPrice + nb1;
                }else if (arrayItems > 1) {
                    total = nbPrice + nb1 + nb2;
                }else if (arrayItems > 2) {
                    total = nbPrice + nb1 + nb2 + nb3;
                }else if (arrayItems > 3) {
                    total = nbPrice + nb1 + nb2 + nb3 + nb4;
                }

                $.ajax({
                    url:{{ path('priceAjax') }},
                    type:"POST",
                    dataType:"json",
                    data: {price: total},
                    success: function(data2){
                        console.log(data2);
                        x.style.display = "none";
                        $('#results').html(data2 + '€'); // affichage des résultats dans le bloc
                        $('#item').html('-'+libelles); // affichage des résultats dans le bloc
                    }
                });

                $.ajax({
                    url:{{ path('itemsAjax') }},
                    type:"POST",
                    dataType:"json",
                    data: {libelleItems: libelles},
                    success: function(libelles){
                        console.log(libelles);
                    }
                });

            $.ajax({
                url:{{ path('countItemAjax') }},
                type:"POST",
                dataType:"json",
                data: {countItem: nbItems},
                success: function(nbItems){
                    console.log('ok sloth');
                    console.log(nbItems);
                }
            });
        }
            function ClickModal() {
                let x = document.getElementById("myModal");
                let y = document.getElementById("modalClose");
                x.style.display = "block";

            }

            function CloseModal() {
                let x = document.getElementById("myModal");
                x.style.display = "none";
            }
        </script>

    {% endblock %}
