{% extends 'base.html.twig' %}

{% block body %}
    <style>
    .img_promo img{
        object-fit: cover;
        width: 100%;
        text-align: center; /* ensures the image is always in the h-middle */
        overflow: hidden; /* hide the cropped portion */
        height: 1195px;
    }
    #form_mark_1 {
        /*position: absolute;
        left: 240px;
        top: 70px;*/
    }
    .box_form_mark {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .box_form_mark .selected {
        align-self: center;
    }
    .logo_renault{
        /*position: absolute;
        left: 200px;
        top: -10px;*/
        width: 115px;
        height: auto;
    /* max-width: 111px; */
    /* min-width: 60px;*/
    }
    #form_mark_2 {
        /*position: absolute;
        left: 355px;
        top: 70px;*/
        
    }
    .logo_peugeot {
        /*position: absolute;
        left: 310px;
        top: 2px;*/
        width: 153px;
        margin-top: 18px;
        margin-bottom: 10px;
        /* min-width: 60px; */
        /* max-width: 171px; */
        height: auto;
    }

    #form_mark_3 {
        /*position: absolute;
        left: 480px;
        top: 70px;*/
    }

    .logo_citroen {
        /*position: absolute;
        left: 450px;
        top: -10px;*/
        width: 115px;
        height: auto;
    }

    #form_mark_4 {
        /*position: absolute;
        left: 610px;
        top: 70px;*/
    }

    .logo_ds {
        /*position: absolute;
        left: 580px;
        top: -5px;*/
        width: 125px;
        margin-top: 19px;
        margin-bottom: 10px;
        /* max-width: 100px; */
        /* min-width: 60px; */
        height: auto;
    }
    .search_mark_promotion {
        width: 60%;
        min-height: 158px;
        opacity: 0.841;
        min-width: 650px;
        overflow: visible;
        border-radius: 40px;
        background-color: #436d8f;
        display: block;
    }
    .pos_search_mark_promo {
        position: relative;
        top: -1120px;
    }
    .info_banner_promotion {
        width: 60%;
        min-height: 158px;
        opacity: 0.841;
        min-width: 650px;
        overflow: visible;
        border-radius: 40px;
        background-color: #436d8f;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pos_info_banner_promo {
        position: relative;
        top: -1140px;
    }
    .txt_special_offer {
        white-space: nowrap;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        margin-left: 15px;
        color: rgba(255,255,255,1);
        display: flex;
    }
    .txt_special_offer_info {
        white-space: nowrap;
        line-height: 20px;
        margin-top: -3.5px;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        color: rgba(255,255,255,1);
        margin-top: 15px;
    }
    .tilte_mark {
        /*left: 36px;
        top: 12px;
        margin-top: 3%;
        position: absolute;*/
        overflow: visible;
        white-space: nowrap;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(255,255,255,1);
        
    }
    .tilte_mark {
        border-radius: 40px;
        background-color: rgba(52,95,138,1);
        /* width: 100%; */
        /* margin-left: 12px;
        margin-top: 45px; */
        height: auto;
        margin-left: 25px;
        display: inline-block;
        padding: 10px;
    }
    .icones {
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .checkbox-round {
        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        clip-path: circle(40% at 50% 50%);
        outline: none;
        cursor: pointer;
    }
    .promos_container {
        width: 80%;
        min-height: 100px;
        position: relative;
        top: -170px;
        background-color: rgba(250,250,250,0.906);
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
        border-radius: 40px;
        padding: 35px;
        padding-bottom: 20px;
    }
    .promo_card {
        width: 345px;
        height: 222px;
        background-color: white;
        border: 2px solid #ddd;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .txt_promo_card {
        margin-bottom: 0;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        color: rgba(52,95,138,1);
        font-size: 14px;
    }
    .pos_promo {
        margin-top: -917px;
    }
    .profite_button {
        white-space: nowrap;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        color: rgba(255,255,255,1);
        background: rgba(52,95,138,1);
        border-radius: 30px;
        padding: 15px;
    }
    .promo_card_contenu {
        height: 70%;
    }
    .newsletter_banner_promo {
        width: 100%;
        position: relative;
        height: 100%;
        background-color: rgba(250,250,250,1);
    }
    </style>
    <div>
        <meta name="viewport" content="width=device-width"/>
        <div class="img_promo">
            <img src="{{ asset('build/pexels-luke-webb-2738173.png') }}" alt="background_promo">
        </div>

        <div class="pos_info_banner_promo row d-flex justify-content-center">
            <div class="info_banner_promotion">
                <div class="col align-items-center text-center">
                    <div class="row align-items-center d-flex justify-content-center text-center">
                        <img src="{{ asset('build/Groupe_636.png') }}" alt="special_offer">
                        <span class="txt_special_offer">Offres spéciales</p>
                    </div>
                    <div class="row align-items-center d-flex justify-content-center text-center">
                        <span class="txt_special_offer_info"> Faites des économies en profitant des promotions
                        <br>temporaires des constructeurs !</span>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="pos_search_mark_promo row d-flex justify-content-center">
            <div class="search_mark_promotion">
            {{ form_start(formSearch) }}
                <div class="row align-items-center d-flex justify-content-center text-center">
                    <div class="col-md-2 col-sm-2 col-2">
                        <span class="tilte_mark">Sélectionnez <br> une marque</span>
        {#                <input type="image" id="search_form_mark_1" alt="Renault"
                            src="{{ asset('build/renault-blanc.png') }}" style="left: 200px; top: -10px;position: absolute;" value="1">
                        <input type="image" id="search_form_mark_2" alt="Peugeot"
                            src="{{ asset('build/peugeottrans.png') }}" width="70" style="position: absolute;left: 300px;top: 3px;}" value="2">
                        <input type="image" id="search_form_mark_3" alt="citroen"
                            src="{{ asset('build/citroentrans.png') }}" width="70" style="position: absolute;left: 395px;top: 0;" value="3">
                        <input type="image" id="search_form_mark_4" alt="Renault"
                            src="{{ asset('build/dstrans.png') }}" width="70" style="    position: absolute;left: 495px;top: 8px;" value="4">#}
                        {#            {{ form_row(formSearch.mark, { 'attr': {'class': 'mark_search'} }) }}
                    {% if formSearch.vars.value.i is not null %}
                            <img src="{{ asset('upload/dir/' ~ formSearch.vars.value.image) }}" />
                        {% endif %}#}
                    </div>
                    <div class="col">
                        <div class="icones">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/renault-blanc.png') }}" class="logo_renault">
                                        {{ form_row(formSearch.mark_1, { 'attr': {'class': 'mark_search, checkbox-round'}  })  }}
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/peugeottrans.png') }}" class="logo_peugeot">
                                        {{ form_row(formSearch.mark_2, { 'attr': {'class': 'mark_search,  checkbox-round'} }) }}
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/citroentrans.png') }}" class="logo_citroen">
                                        {{ form_row(formSearch.mark_3, { 'attr': {'class': 'mark_search,  checkbox-round'} }) }}
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label>
                                        <img src="{{ asset('build/dstrans.png') }}" class="logo_ds">
                                        {{ form_row(formSearch.mark_4, { 'attr': {'class': 'mark_search,  checkbox-round'} }) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>    
        </div>
        {{ form_end(formSearch) }}

        <div class="pos_promo d-flex justify-content-center">
            <div class="promos_container">
                <div class="row align-items-center d-flex justify-content-center">
                    {% if pagination %}
                        {% for promos in pagination %}
                        {% if date(promos.getEndDate|date('Y-m-d')) > date("now"|date('Y-m-d')) %}
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="promo_card">
                                    <div class="promo_card_contenu row align-items-center d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-center">
                                            {% if promos.getId == 1 %}
                                                <img src="{{ asset('build/Renault-LogoPNG1.png') }}" class="logo_renault">
                                            {% endif %}
                                            {% if promos.getId == 2 %}
                                                <img src="{{ asset('build/peugeottrans.png') }}" class="logo_peugeot">
                                            {% endif %}
                                            {% if promos.getId == 3 %}
                                                <img src="{{ asset('build/citroentrans.png') }}" class="logo_citroen">
                                            {% endif %}
                                            {% if promos.getId == 4 %}
                                                <img src="{{ asset('build/dstrans.png') }}" class="logo_ds">
                                            {% endif %}
                                        </div>
                                        <div class="col-6">
                                            <p class="txt_promo_card">
                                                <span style="font-size: 20px;"> {{  promos.value }} % </span> de remise sur contrats de 80 jours ou plus
                                                <br>
                                                <span style="color: rgba(247,43,55,1);">
                                                Plus que {{ date( promos.getEndDate|date('Y-m-d') ).diff( date("now"|date('Y-m-d')) ).days }} jours</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center d-flex justify-content-center">
                                        <span class="profite_button">J’en profite !</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="newsletter_banner_promo">
            <div class="row text-center">
                <div class="col-4 col-md-1 col-sm-2">
                    <img src="{{ asset('build/Groupe_281.png') }}" alt="newsletter" class="newsletter_img"/>
                </div>
                <div class="col-6 col-md-4 col-sm-6 offset-lg-1">
                    <div class="newsletter_tilte">Recevez les bons plans TT</div>
                    <div class="newsletter_subtilte">Inscrivez-vous à notre newsletter</div>
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="newsletter_form">
                        <div class="row align-items-center d-flex justify-content-around text-center">
                            <div class="col">
                                {{ form_start(form_newsletter) }}
                                {{ form_row(form_newsletter.email, { 'attr': {'class': 'form_news'} }) }}
                            </div>
                            <div class="col-auto">
                                <div class="newsletter_btn1">
                                    <button type="submit" class="newsletter_btn" id="seachButton">OK</button>
                                </div>
                                {{ form_end(form_newsletter) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            let renault = document.querySelector("#form_mark_1");
            let peugeot = document.querySelector("#form_mark_2");
            let citroen = document.querySelector("#form_mark_3");
            let psa = document.querySelector("#form_mark_4");

            let valueMark = null;

            $("#form_mark_1").change(function(){

                    $(peugeot).prop('checked',false)
                    $(citroen).prop('checked',false)
                    $(psa).prop('checked',false)

                    console.log('change renault1');
                    valueMark = 1;

            });

            $("#form_mark_2").change(function(){
                
                $(citroen).prop('checked',false)
                $(renault).prop('checked',false)
                $(psa).prop('checked',false)

                valueMark = 2;

            });
            $("#form_mark_3").change(function(){
                
                $(peugeot).prop('checked',false)
                $(renault).prop('checked',false)
                $(psa).prop('checked',false)

                valueMark = 3;

            });
            $("#form_mark_4").change(function(){
                
                $(peugeot).prop('checked',false)
                $(renault).prop('checked',false)
                $(citroen).prop('checked',false)

                valueMark = 4;

            });

            console.log(valueMark);

        });
    
    </script>
    {% endblock %}
{% endblock %}