{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <meta name="viewport" content="width=device-width"/>
        <div class="img_promo">
            <img src="{{ asset('build/pexels-luke-webb-2738173.png') }}" alt="background_promo">
        </div>

        <div class="pos_info_banner_promo row d-flex justify-content-center">
            <div class="info_banner_promotion">
                <div class="col align-items-center text-center">
                    <div class="row align-items-center d-flex justify-content-center text-center">
                        <img src="{{ asset('build/Groupe_636.png') }}" alt="special_offer">
                        <span class="txt_special_offer">Offres spéciales</p>
                    </div>
                    <div class="row align-items-center d-flex justify-content-center text-center">
                        <span class="txt_special_offer_info"> Faites des économies en profitant des promotions
                        <br>temporaires des constructeurs !</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pos_search_mark_promo row d-flex justify-content-center">
            <div class="search_mark_promotion">
                <div class="row align-items-center d-flex justify-content-center text-center">
                    <div class="col-md-2 col-sm-2 col-2">
                        <span class="tilte_mark_promo">Sélectionnez <br> une marque</span>
        {#                <input type="image" id="search_form_mark_1" alt="Renault"
                            src="{{ asset('build/renault-blanc.png') }}" style="left: 200px; top: -10px;position: absolute;" value="1">
                        <input type="image" id="search_form_mark_2" alt="Peugeot"
                            src="{{ asset('build/peugeottrans.png') }}" width="70" style="position: absolute;left: 300px;top: 3px;}" value="2">
                        <input type="image" id="search_form_mark_3" alt="citroen"
                            src="{{ asset('build/citroentrans.png') }}" width="70" style="position: absolute;left: 395px;top: 0;" value="3">
                        <input type="image" id="search_form_mark_4" alt="Renault"
                            src="{{ asset('build/dstrans.png') }}" width="70" style="    position: absolute;left: 495px;top: 8px;" value="4">#}
                        {#            {{ form_row(formSearch.mark, { 'attr': {'class': 'mark_search'} }) }}
                    {% if formSearch.vars.value.i is not null %}
                            <img src="{{ asset('upload/dir/' ~ formSearch.vars.value.image) }}" />
                        {% endif %}#}
                    </div>
                    <div class="col">
                        <div class="icones_promo">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label class="mark_search_promo">
                                        <img src="{{ asset('build/renault-blanc.png') }}" class="logo_renault_promo">
                                        <input type="checkbox" id="renault_check" class="checkbox-round_promo" checked="true">
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label class="mark_search_promo" for="peugeot_check">
                                        <img src="{{ asset('build/peugeottrans.png') }}" class="logo_peugeot_promo">
                                        <input type="checkbox" id="peugeot_check" class="checkbox-round_promo" checked="true">
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label class="mark_search_promo" for="citroen_check">
                                        <img src="{{ asset('build/citroentrans.png') }}" class="logo_citroen_promo">
                                        <input type="checkbox" id="citroen_check" class="checkbox-round_promo" checked="true">
                                    </label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-6">
                                    <label class="mark_search_promo" for="ds_check">
                                        <img src="{{ asset('build/dstrans.png') }}" class="logo_ds_promo">
                                        <input type="checkbox" id="ds_check" class="checkbox-round_promo" checked="true">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>    
        </div>

        <div class="pos_promo d-flex justify-content-center">
            <div class="promos_container">
                <div class="row align-items-center d-flex justify-content-center">
                    {% if pagination %}
                        <p id="no_promo_checked" style="display:none"> Veuillez choisir une marque </p>
                        {% for promos in pagination %}
                        {# {% if date(promos.getEndDate|date('Y-m-d')) > date("now"|date('Y-m-d')) %} #}
                            <div {% if promos.mark == 'Renault' %} class="show_renault col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3 justify-content-center" } 
                                {% elseif promos.mark == 'Peugeot' %} class="show_peugeot col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3 justify-content-center" }
                                {% elseif promos.mark == 'Citroën' %} class="show_citroen col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3 justify-content-center" }
                                {% elseif promos.mark == 'DS' %} class="show_ds col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3 justify-content-center" }
                                {% elseif promos.mark == null %} class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3 justify-content-center"
                                {% endif %} >
                                <div class="promo_card">
                                    <div class="promo_card_contenu row align-items-center d-flex justify-content-center">
                                        <div class="col-6 d-flex justify-content-center">
                                            {% if promos.mark == 'Renault' %}
                                                <img src="{{ asset('build/Renault-LogoPNG1.png') }}" class="logo_renault_promo logo_promo">
                                            {% endif %}
                                            {% if promos.mark == 'Peugeot' %}
                                                <img src="{{ asset('build/peugeottrans.png') }}" class="logo_peugeot_promo logo_promo">
                                            {% endif %}
                                            {% if promos.mark == 'Citroën' %}
                                                <img src="{{ asset('build/citroentrans.png') }}" class="logo_citroen_promo logo_promo">
                                            {% endif %}
                                            {% if promos.mark == 'DS' %}
                                                <img src="{{ asset('build/dstrans.png') }}" class="logo_ds_promo logo_promo">
                                            {% endif %}
                                            {% if promos.mark == null %}
                                                <img src="{{ asset('build/tt-groupimg.png') }}" class="logo_promo">
                                            {% endif %}
                                            
                                        </div>
                                        <div class="col-6">
                                            <p class="txt_promo_card">
                                                <span style="font-size: 20px;"> {{  promos.value }} % </span> de remise sur contrats de 80 jours ou plus
                                                <br>
                                                <span style="color: rgba(247,43,55,1);">
                                                Plus que {{ date( promos.getEndDate|date('Y-m-d') ).diff( date("now"|date('Y-m-d')) ).days }} jours</span>
                                            </p>
                                        </div>
                                        <div class="col-12 offset-5 offset-lg-0 align-items-center d-flex justify-content-center">
                                            <span class="profite_button">J’en profite !</span>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        {# {% endif %} #}
                        {% endfor %}
                    {% else %}
                    <p id="no_promo_checked" style="display:none"> Aucune promotion disponible </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="newsletter_banner_promo">
            <div class="row text-center">
                <div class="col-4 col-md-1 col-sm-2">
                    <img src="{{ asset('build/Groupe_281.png') }}" alt="newsletter" class="newsletter_img"/>
                </div>
                <div class="col-6 col-md-4 col-sm-6 offset-lg-1">
                    <div class="newsletter_tilte">Recevez les bons plans TT</div>
                    <div class="newsletter_subtilte">Inscrivez-vous à notre newsletter</div>
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="newsletter_form">
                        <div class="row align-items-center d-flex justify-content-around text-center">
                            <div class="col">
                                {{ form_start(form_newsletter) }}
                                {{ form_row(form_newsletter.email, { 'attr': {'class': 'form_news'} }) }}
                            </div>
                            <div class="col-auto">
                                <div class="newsletter_btn1">
                                    <button type="submit" class="newsletter_btn" id="seachButton">OK</button>
                                </div>
                                {{ form_end(form_newsletter) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $(function () {

            let show_renault = document.getElementsByClassName("show_renault");
            let show_peugeot = document.getElementsByClassName("show_peugeot");
            let show_citroen = document.getElementsByClassName("show_citroen");
            let show_ds = document.getElementsByClassName("show_ds");

            var no_promo_checked = document.getElementById("no_promo_checked");

            $("#renault_check").click(function () {
                if ($(this).is(":checked")) {
                    $(show_renault).show();
                    no_promo_checked.style.display = "none";
                } else {
                    $(show_renault).hide();
                }
                if ($("input:checkbox[name=cb1]").is(":checked")){
                    no_promo_checked.style.display = "none";
                } else {
                    no_promo_checked.style.display = "block";
                }
            });

            $("#peugeot_check").click(function () {
                if ($(this).is(":checked")) {
                    $(show_peugeot).show();
                    no_promo_checked.style.display = "none";
                } else {
                    $(show_peugeot).hide();
                }
                if ($("input:checkbox[name=cb1]").is(":checked")){
                    no_promo_checked.style.display = "none";
                } else {
                    no_promo_checked.style.display = "block";
                }
            });

            $("#citroen_check").click(function () {
                if ($(this).is(":checked")) {
                    $(show_citroen).show();
                    no_promo_checked.style.display = "none";
                } else {
                    $(show_citroen).hide();
                }
                if ($("input:checkbox[name=cb1]").is(":checked")){
                    no_promo_checked.style.display = "none";
                } else {
                    no_promo_checked.style.display = "block";
                }
            });

            $("#ds_check").click(function () {
                if ($(this).is(":checked")) {
                    $(show_ds).show();
                    no_promo_checked.style.display = "none";
                } else {
                    $(show_ds).hide();
                }
                if ($("input:checkbox[name=cb1]").is(":checked")){
                    no_promo_checked.style.display = "none";
                } else {
                    no_promo_checked.style.display = "block";
                }
            });



        });
    
    </script>
    {% endblock %}
{% endblock %}