{% extends 'base.html.twig' %}
{% block body %}
    <section class="b-pageHeader">
        <div class="container">
            <h1 class="wow zoomInLeft" data-wow-delay="0.7s">{{ 'promo_page.tiltle'|trans({}, 'messages') }}</h1>
            <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.7s">
                <h3>The Largest Auto Dealer Online</h3>
            </div>
        </div>
    </section><!--b-pageHeader-->

    <div class="b-breadCumbs s-shadow">
        <div class="container">
            <a href="{{ path('main') }}" class="b-breadCumbs__page">Home</a><span class="fa fa-angle-right"></span><a href="{{ path('main') }}" class="b-breadCumbs__page m-active">Promotions</a>
        </div>
    </div><!--b-breadCumbs-->
    <div class="b-auto__main">

    <div class="col-md-11 col-md-offset-3 col-xs-12">
        <a href="javascript:void(0);"  class="b-auto__main-toggle s-lineDownCenter m-active j-tab wow zoomInLeft" onclick="ClickAll()">{{ 'promo_page.all'|trans({}, 'messages') }}</a>
        <a href="javascript:void(0);" class="b-auto__main-toggle j-tab wow zoomInRight" onclick="ClickRenault()">Renault</a>
        <a href="javascript:void(0);" class="b-auto__main-toggle j-tab wow zoomInRight" onclick="ClickPeugeot()">Peugeot</a>
        <a href="javascript:void(0);" class="b-auto__main-toggle j-tab wow zoomInRight" onclick="ClickCitroen()">Citroën</a>
        <a href="javascript:void(0);" class="b-auto__main-toggle j-tab wow zoomInRight" onclick="ClickDs()">DS Automobile</a>
    </div>
    <div class="row" style="margin-left: 5%; margin-bottom: 10%; margin-top: 5%">
        {% for promo in pagination %}
            {% if promo.mark != null %}
                {% if promo.mark.getlibelle == "Renault" %}
            <div class="col-sm-4" id="renault">
                <div class="card" style="align-items: center; margin-bottom: 5%">
                    <img class="card-img-top" src="{{ asset('build/uploads/'~ promo.mark.getMarkImg) }}" alt="Card image cap" style="width: 20%">
                    <div class="card-body">
                        <h5 class="card-title">{{ promo.libelle }}</h5>
                        <p class="card-text" style="font-weight: bold"> {{ promo.mark.getlibelle }}</p>
                        <p class="card-text">{{ promo.description }}</p>
                        <p class="card-text" style="font-weight: lighter">{{ promo.getEndDate|since }} {{ 'promo_page.day'|trans({}, 'messages') }}</p>
                        <a href="#" class="btn btn-primary">{{ 'promo_page.btn'|trans({}, 'messages') }}</a>
                    </div>
                </div>
            </div>
                {% endif %}
                {% if promo.mark.getlibelle == "Peugeot" %}
                    <div class="col-sm-4" id="peugeot">
                        <div class="card" style="align-items: center; margin-bottom: 5%">
                            <img class="card-img-top" src="{{ asset('build/uploads/'~ promo.mark.getMarkImg) }}" alt="Card image cap" style="width: 20%">
                            <div class="card-body">
                                <h5 class="card-title">{{ promo.libelle }}</h5>
                                <p class="card-text" style="font-weight: bold"> {{ promo.mark.getlibelle }}</p>
                                <p class="card-text">{{ promo.description }}</p>
                                <p class="card-text" style="font-weight: lighter">{{ promo.getEndDate|since }} {{ 'promo_page.day'|trans({}, 'messages') }}</p>
                                <a href="#" class="btn btn-primary">{{ 'promo_page.btn'|trans({}, 'messages') }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if promo.mark.getlibelle == "Citroën" %}
                    <div class="col-sm-4" id="citroen">
                        <div class="card" style="align-items: center; margin-bottom: 5%">
                            <img class="card-img-top" src="{{ asset('build/uploads/'~ promo.mark.getMarkImg) }}" alt="Card image cap" style="width: 20%">
                            <div class="card-body">
                                <h5 class="card-title">{{ promo.libelle }}</h5>
                                <p class="card-text" style="font-weight: bold"> {{ promo.mark.getlibelle }}</p>
                                <p class="card-text">{{ promo.description }}</p>
                                <p class="card-text" style="font-weight: lighter">{{ promo.getEndDate|since }} {{ 'promo_page.day'|trans({}, 'messages') }}</p>
                                <a href="#" class="btn btn-primary">{{ 'promo_page.btn'|trans({}, 'messages') }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if promo.mark.getlibelle == "DS Automobile" %}
                    <div class="col-sm-4" id="dsauto">
                        <div class="card" style="align-items: center; margin-bottom: 5%">
                            <img class="card-img-top" src="{{ asset('build/uploads/'~ promo.mark.getMarkImg) }}" alt="Card image cap" style="width: 20%">
                            <div class="card-body">
                                <h5 class="card-title">{{ promo.libelle }}</h5>
                                <p class="card-text" style="font-weight: bold"> {{ promo.mark.getlibelle }}</p>
                                <p class="card-text">{{ promo.description }}</p>
                                <p class="card-text" style="font-weight: lighter">{{ promo.getEndDate|since }} {{ 'promo_page.day'|trans({}, 'messages') }}</p>
                                <a href="#" class="btn btn-primary">{{ 'promo_page.btn'|trans({}, 'messages') }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
        <div class="b-items__pagination wow zoomInUp">
            <div class="b-items__pagination-main">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <script>
        let w = document.getElementById("renault");
        let x = document.getElementById("peugeot");
        let y = document.getElementById("citroen");
        let z = document.getElementById("dsauto");

        function ClickAll() {
            w.style.display = "block";
            x.style.display = "block";
            y.style.display = "block";
            z.style.display = "block";

        }
        function ClickRenault() {
            w.style.display = "block";
            x.style.display = "none";
            y.style.display = "none";
            z.style.display = "none";
        }
        function ClickPeugeot() {
            x.style.display = "block";
            w.style.display = "none";
            y.style.display = "none";
            z.style.display = "none";
        }
        function ClickCitroen() {
            y.style.display = "block";
            w.style.display = "none";
            x.style.display = "none";
            z.style.display = "none";
        }
        function ClickDs() {
            z.style.display = "block";
            w.style.display = "none";
            x.style.display = "none";
            y.style.display = "none";
        }
    </script>
{% endblock %}
