{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .footer_v1 {
            margin-top: 2122px;
        }
        .container_result {
            width: 100%;
            height: 100%;
        }
        .img_new {
            width: 100%;
            height: 833px;
        }
        .div_result_search {
            position: absolute;
            width: 1041px;
            height: 294px;
            left: 60px;
            top: 289px;
            background: rgba(52,95,138,1);
            opacity: 0.837;
            border-radius: 30px;
        }
        .div_info_search {
            position: absolute;
            padding: 25px;
            width: 229px;
            height: 294px;
            left: 1150px;
            top: 289px;
            background: rgba(52,95,138,1);
            opacity: 0.837;
            border-radius: 30px;
        }
        .price_info {
            width: 106px;
            white-space: nowrap;
            line-height: 20px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        .ul_info li {
            line-height: 22px;
            margin-top: 5px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: rgba(255,255,255,1);
        }
        .result_search {
            background-color: rgba(255,255,255,1);
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 1059px;
            height: 60px;
            left: 55px;
            border-radius: 20px;
            top: 603px;
        }
        .filtre {
            background-color: rgba(52,95,138,1);;
            position: absolute;
            overflow: visible;
            width: 186px;
            height: 100%;
            border-radius: 20px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
            padding: 20px;
        }
        .cars {
            position: absolute;
            width: 1041px;
            left: 65px;
            top: 685px;
            border-radius: 20px;
            border: solid 2px grey;
            background-color: white;
        }
        .car_result {

        }
        .car_container {
            padding: 45px;
        }
        .car_tilte  {
            width: 323px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            color: rgba(52,95,138,1);
            margin-top: 15px;
        }
        .car_desc {
            line-height: 20px;
            margin-top: 15px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(52,95,138,1);
            width: 417px;
            height: 120px;
        }
        .car_icon {
            margin-top: 20px;
            display: inline-block;
        }

        .car_icon span {
            margin-left: 15px;
            width: 11px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            color: rgba(52,95,138,1);
        }
        .car_img {
            position: absolute;
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            overflow: visible;
            width: 435px;
            height: 274px;
            left: 520px;
            top: 40px;
            border-radius: 60px;
            padding: 18px;
        }

        .car_img img{
       width: 90%;
        }

        .car_btn {
            background-color: rgb(240 240 240);
            height: 90px;
            border-radius: 15px;
            padding-top: 25px;
        }

        .btn_car {
            left: 64px;
            top: 380px;
            position: absolute;
            overflow: visible;
            width: 237px;
            font-family: Montserrat;
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
            color: rgba(52,95,138,1);
        }
        .dispo {
            white-space: nowrap;
            line-height: 22px;
            margin-top: -5px;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            color: rgba(255,255,255,1);
            background-color: red;
            padding: 10px;
            border-radius: 30px;
        }
        .soon {
            width: 291px;
            height: 42px;
            background-color: white;
            border-radius: 20px;
            margin-left: 550px;
            padding: 15px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(52,95,138,1);
        }
        .contact {
            width: 291px;
            height: 42px;
            background-color: white;
            border-radius: 20px;
            margin-left: 550px;
            padding: 15px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(52,95,138,1);
        }
        .btn_price {
            margin-left: 550px;
            overflow: visible;
            width: 90px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: rgba(247,43,55,1);
        }
        .reservez {
            width: 291px;
            height: 42px;
            background-color: rgb(52 95 138);;
            border-radius: 20px;
            margin-left: 65px;
            padding: 15px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(255,255,255,1);
        }
        .logo_renault_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_peugeot_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_citroen_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_ds_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            padding: 10px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .trait_result {
            width: 100%;
        }
        .search_depart_result {
            margin-left: 275px;
            margin-top: 45px;
        }
        .search_depart_result span{
            background-color: rgba(52,95,138,1);
            border-radius: 30px;
            padding: 5px;
            overflow: visible;
            width: 67px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        .search_return_result {
            margin-left: 275px;
            margin-top: 60px;
            margin-bottom: 45px;
        }
        .search_return_result span{
            background-color: rgba(52,95,138,1);
            border-radius: 30px;
            padding: 5px;
            overflow: visible;
            width: 67px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        #form_placeDepart {
            position: absolute;
            overflow: visible;
            width: 301px;
            height: 55px;
            padding: 15px;
            left: 380px;
            border-radius: 30px;
            top: 35px;
        }
        #form_date_start {
            position: absolute;
            width: 167px;
            height: 55px;
            left: 745px;
            top: 35px;
            overflow: visible;
            border-radius: 30px;
        }
        #form_placeReturn {
            position: absolute;
            overflow: visible;
            width: 301px;
            height: 55px;
            padding: 15px;
            left: 380px;
            border-radius: 30px;
            top: 110px;
        }
        #form_date_end {
            position: absolute;
            width: 167px;
            height: 55px;
            left: 745px;
            top: 110px;
            overflow: visible;
            border-radius: 30px;
        }
        .search_promo_btn_result {
            margin-top: 15px;
            margin-left: 20px;
        }
        .span_code_result {
            border-radius: 40px;
            background-color: rgba(52,95,138,1);
            height: 60px;
            width: 170px;
            padding-top: 18px;
            padding-left: 40px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            color: rgba(255,255,255,1);
        }
        #form_promo {
            position: absolute;
            overflow: visible;
            width: 216px;
            height: 38px;
            left: 190px;
            border-radius: 30px;
            top: 230px;
        }
        .btn_search_send_resul button {
            left: 635px;
            top: 225px;
            position: absolute;
            overflow: visible;
            height: 50px;
            padding: 15px;
            width: 215px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(247,43,55,1);
            border-radius: 40px;
            border: none;
            background-color: rgba(255,255,255,1);
        }

        #form_mark {
            position: absolute;
            width: 75px;
            left: 180px;
            top: 50px;
            overflow: visible;
        }

        #form_mark  label{
            overflow: visible;
            width: 61px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
    </style>
    <div class="container_result">

<div class="img_new">
    <img src="{{ asset('build/img04.png') }}" alt="ttcar_search">
</div>
    <div class="step_search">
        <span class="span_step1">1</span>
        <span class="span_step2">2</span>
        <span class="span_step3">3</span>
    </div>
    <div class="div_result_search">
        <img src="{{ asset('build/renault-blanc.png') }}" alt="renaultlogo" class="logo_renault_form">
        <img src="{{ asset('build/peugeottrans.png') }}" alt="peugeotlogo" class="logo_peugeot_form hidden">
        <img src="{{ asset('build/citroentrans.png') }}" alt="citroenlogo" class="logo_citroen_form hidden">
        <img src="{{ asset('build/dstrans.png') }}" alt="dslogo" class="logo_ds_form hidden">

        {{ form_start(formSearch) }}
        <div class="search_mark_result">
            {{ form_row(formSearch.mark) }}
        </div>

        <div class="search_depart_result">
            <span>Livraison</span>
            {{ form_row(formSearch.placeDepart) }}
            {{ form_row(formSearch.date_start) }}
        </div>

        <div class="search_return_result">
            <span>Retour</span>
            {{ form_row(formSearch.placeReturn) }}
            {{ form_row(formSearch.date_end) }}
        </div>

        <img src="{{ asset('build/search_trait.png') }}" class="trait_result">

        <div class="search_promo_btn_result">
            <span class="span_code_result">Code spécial</span>
            {{ form_row(formSearch.promo) }}
        </div>
        <div class="btn_search_send_resul">
            <button id="searchBtn_resul">Modifier ma recherche</button>
        </div>
        {{ form_end(formSearch) }}
    </div>
    <div class="div_info_search">
        <span class="price_info">Ce prix inclut :</span>
        <br>
        <ul class="ul_info">
            <li> <img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Un forfait 6 jours</li>
            <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Un véhicule neuf</li>
            <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> L’assurance multirisques
                sans franchise</li>
            <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Le kilométrage illimité</li>
            <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> L’assistance 7j / 7
                et 24h / 24</li>
            <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Les frais de livraison
                et de restitution</li>
        </ul>
    </div>
        <div class="result_search" style="display:none;">
            <span class="filtre">Filtrer par :</span>
        </div>
        {% if pagination %}
        <div class="cars">
            {% for car in pagination %}
                <div class="car_result">
              <div class="car_container">
                <span class="dispo">Disponible !</span>
                <div class="car_tilte">{{ car.mark.getlibelle }}</div>
                <div class="car_desc">
                    Le design intérieur gagne en attractivité. Dacia Sandero inaugure une nouvelle planche de bord carbone
                    foncé ou bi-ton (selon versions) à l’instrumentation complète et au traité moderne avec des contours
                    de cadrans chromés (selon versions) et des commandes dont l’ergonomie a été complètement repensée.
                </div>
                <div class="car_icon">
                    <span>
                        <img src="{{ asset('build/Groupe_259.png') }}" alt="car" class="car_icon">
                        x {{ car.door }}
                    </span>
                    <span>
                        <img src="{{ asset('build/Groupe_261.png') }}" alt="car" class="car_icon">
                        x {{ car.door }}
                    </span>
                    <span>
                        <img src="{{ asset('build/Groupe_263.png') }}" alt="car" class="car_icon">
                        x {{ car.door }}
                    </span>
                    <span>
                        <img src="{{ asset('build/Groupe_265.png') }}" alt="car" class="car_icon">
                    </span>
                    <span>
                        <img src="{{  asset('build/Groupe_267.png') }}" alt="car" class="car_icon">
                    </span>
                </div>
             </div>
                <img src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="car" class="car_img">
                    <span class="btn_car">{{ car.name|u.truncate(25, '...') }}</span>
                <div class="car_btn">
                    {% if car.getDateStart > today %}
                    <a href="#" class="soon">Disponible à partir du : 01 Apr 2022</a>
                {% elseif car.isContactActived == true %}
                    <a href="#" class="contact">Contact</a>
                {% else %}
                    <span class="btn_price">{{ carsResult[loop.index-1]}}€
                    <a href="{{ path('order', { 'id': car.id }) }}" class="reservez">Reservez</a>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        let renaultLogo = document.getElementsByClassName("logo_renault_form");
        let peugeotLogo = document.getElementsByClassName("logo_peugeot_form");
        let citroenLogo = document.getElementsByClassName("logo_citroen_form");
        let dsLogo = document.getElementsByClassName("logo_ds_form");

        let markRenault = document.getElementById("form_mark_1");
        let markPeugeot = document.getElementById("form_mark_2");
        let markCitroen = document.getElementById("form_mark_3");
        let markDs = document.getElementById("form_mark_4");


        if (markRenault.checked) {
            $(renaultLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        }else if (markPeugeot.checked) {
            $(peugeotLogo).removeClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        }else if (markCitroen.checked) {
            $(citroenLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        }else if (markDs.checked) {
            $(dsLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
        }

        $(markRenault).change(function() {
            $(renaultLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        });
        $(markPeugeot).change(function() {
            $(peugeotLogo).removeClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        });
        $(markCitroen).change(function() {
            $(citroenLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        });
        $(markDs).change(function() {
            $(dsLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
        });

    });
</script>
    {% endblock %}
{% endblock %}
