{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .footer_v1 {
            /*margin-top: 2122px;*/
        }
        .container_result {
            width: 100%;
            height: 100%;
        }
        .img_new {
            object-fit: cover;
            width: 100%;
            text-align: center; /* ensures the image is always in the h-middle */
            overflow: hidden; /* hide the cropped portion */
        }
        .img_new img {
            height: 833px;
        }
        .div_result_search {
            position: relative;
            width: 100%;
            max-width: 1034px;
            margin-left: 20%;
            max-height: 305px;
            height:100%;
            /* left: 60px; */
            top: -673px;
            background: rgba(52,95,138,0.841);
            border-radius: 30px;
        }
        .div_info_search {
            position: relative;
            padding: 25px;
            width: 100%;
            height: 100%;
            min-height: 294px;
            /* left: 1150px; */
            top: -673px;
            background: rgba(52,95,138,0.841);
            border-radius: 30px;
        }
        .price_info {
            width: 100%;
            white-space: nowrap;
            line-height: 20px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        .ul_info li {
            line-height: 22px;
            margin-top: 5px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: rgba(255,255,255,1);
        }
        .result_search {
            background-color: rgba(255,255,255,1);
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            position: relative;
            overflow: visible;
            width: 65%;
            height: 60px;
            max-width: 1041px;
            /* left: 55px; */
            border-radius: 20px;
            top: -650px;
        }
        .filtre {
            background-color: rgba(52,95,138,1);
            position: absolute;
            overflow: visible;
            width: 186px;
            height: 60px;
            border-radius: 20px;
            white-space: nowrap;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
            padding: 20px;
        }
        .cars {
            position: relative;
            /* left: 65px; */
            top: -625px;
            max-width: 1041px;
            width: 65%;
            border-radius: 20px;
            border: solid 2px grey;
            background-color: white;
        }
        .car_result {
            width: 100%;
        }
        .car_container {
            padding: 45px;
        }
        .car_tilte  {
            width: 323px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            color: rgba(52,95,138,1);
            margin-top: 15px;
        }
        .car_desc {
            line-height: 20px;
            margin-top: 15px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(52,95,138,1);
            max-width: 417px;
            height: 120px;
        }
        .car_icon {
            margin-top: 20px;
            display: inline-block;
        }

        .car_icon span {
            margin-left: 15px;
            width: 11px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            color: rgba(52,95,138,1);
        }
        .car_img {
            /*position: absolute;*/
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            overflow: visible;
            max-width: 435px;
            max-height: 274px;
            width: 100%;
            height: auto;
            left: 520px;
            top: 40px;
            border-radius: 60px;
            padding: 18px;
        }

        .car_img img{
            width: 90%;
        }

        .car_btn {
            background-color: rgb(240 240 240);
            height: 90px;
            border-radius: 15px;
            padding-top: 25px;
        }

        .btn_car {
            left: 64px;
            top: 380px;
            overflow: visible;
            width: 237px;
            font-family: Montserrat;
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
            color: rgba(52,95,138,1);
        }
        .dispo {
            white-space: nowrap;
            line-height: 22px;
            margin-top: -5px;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            color: rgba(255,255,255,1);
            background-color: red;
            padding: 10px;
            border-radius: 30px;
        }
        .soon {
            width: 291px;
            height: 42px;
            background-color: white;
            border-radius: 20px;
            margin-left: 550px;
            padding: 15px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(52,95,138,1);
        }
        .contact {
            width: 291px;
            height: 42px;
            background-color: white;
            border-radius: 20px;
            margin-left: 550px;
            padding: 15px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(52,95,138,1);
        }
        .btn_price {
            overflow: visible;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: rgba(247,43,55,1);
        }
        .reservez {
            width: 291px;
            height: 42px;
            background-color: rgb(52 95 138);
            border-radius: 20px;
            margin-left: 65px;
            padding: 15px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(255,255,255,1);
        }
        .logo_renault_form {
            position: relative;
            width: 130px;
            height: 130px;
            left: 20px;
            top: 30px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_peugeot_form {
            position: relative;
            width: 130px;
            height: 130px;
            left: 20px;
            top: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_citroen_form {
            position: relative;
            width: 130px;
            height: 130px;
            left: 20px;
            top: 30px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_ds_form {
            position: relative;
            width: 130px;
            height: 130px;
            left: 20px;
            top: 30px;
            padding: 10px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .trait_result {
            width: 100%;
            margin-top: 15px;
        }
        .search_depart_result {
            /*margin-left: 275px;*/
            margin-top: 45px;
        }
        .search_depart_result span{
            background-color: rgba(52,95,138,1);
            border-radius: 30px;
            padding: 8px;
            overflow: visible;
            width: 67px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        .search_return_result {
            /*margin-left: 275px;*/
            margin-top: 25px;
            /*margin-bottom: 45px;*/
        }
        .search_return_result span{
            background-color: rgba(52,95,138,1);
            border-radius: 30px;
            padding: 8px 16px;
            overflow: visible;
            width: 67px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        #form_placeDepart {
            /*position: absolute;*/
            overflow: visible;
            width: 90%;
            height: 55px;
            padding: 15px;
            left: 380px;
            border-radius: 30px;
            top: 35px;
        }
        #form_date_start {
            /*position: absolute;*/
            width: 90%;
            height: 55px;
            left: 745px;
            top: 35px;
            overflow: visible;
            border-radius: 30px;
        }
        #form_placeReturn {
            /*position: absolute;*/
            overflow: visible;
            width: 90%;
            height: 55px;
            padding: 15px;
            left: 380px;
            border-radius: 30px;
            top: 110px;
        }
        #form_date_end {
            /*position: absolute;*/
            width: 90%;
            height: 55px;
            left: 745px;
            top: 110px;
            overflow: visible;
            border-radius: 30px;
        }
        .search_promo_btn_result {
            margin-top: 15px;
            /*margin-left: 20px;*/
        }
        .span_code_result {
            border-radius: 40px;
            background-color: rgba(52,95,138,1);
            height: 60px;
            width: 170px;
            padding: 10px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            color: rgba(255,255,255,1);
        }
        .special_code {
            margin-top: 10px;
            margin-bottom: 10px;

        }
        #form_promo {
            /*position: absolute;*/
            overflow: visible;
            width: 100%;
            height: 38px;
            left: 190px;
            border-radius: 30px;
            top: 230px;
        }
        .btn_search_send_resul button {
            overflow: visible;
            height: 50px;
            padding: 15px;
            width: 100%;
            max-width: 184px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(247,43,55,1);
            border-radius: 40px;
            border: none;
            background-color: rgba(255,255,255,1);
        }

        #form_mark {
            position: relative;
            width: 75px;
            left: 70px;
            top: 46px;
            overflow: visible;
        }

        #form_mark  label{
            overflow: visible;
            width: 61px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        .flex-rectangle{
            width: 100%;
            background: #ca0164;
        }
        .flex-rectangle:before{
            content: "";
            display: block;
            padding-top: 25%;
        }
        .listing_V1 {
            width: 100%;
            height: 100%;
            margin-top: -31px;
        }
        /* Dashed border */
        hr.dashed {
            border-top: 3px dashed #fff;
        }

        /* media queries */
        /* Desktop */
        @media screen and (max-width:1199.98px){
            .div_info_search {
                min-height: 0px;
                width: 90%;
                margin-top: 20px;
            }
            .div_result_search {
                margin-left: 0px;
                width: 90%;
            }
            .result_search {
                margin-top: 20px;
                width: 87%;
            }
            .cars {
                width: 87%;
            }
        }

        /* Tablette */
        @media screen and (max-width:767.98px){
            .div_result_search {
                max-height: 100%
            }
            #form_mark {
                left: -58px;
                top: 84px;
                overflow: visible;
                display: inline-flex;
            }
            #form_mark label {
                margin-right: 22px;
            }
            .car_img {
                margin-top: 25px;
                max-width: 100%;
                max-height: 100%;
            }
        }

        /* Smartphone */
        @media screen and (max-width:576.98px){
            #form_mark {
                left: 70px;
                top: 45px;
                overflow: visible;
                display: block;
            }
            #form_mark label {
                margin-right: 0px;
            }
            #form_placeDepart {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            #form_placeReturn {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .btn_search_send_resul button {
                margin-top: 15px;
            }
            .logo_renault_form {
                left: 30px;
            }
            .logo_peugeot_form {
                left: 30px;
            }
            .logo_citroen_form {
                left: 30px;
            }
            .logo_ds_form {
                left: 30px;
            }
            .img_new img {
                height: 1274px;
            }
            .div_result_search {
                top: -1110px;
            }
            .div_info_search {
                top: -1100px;
            }
            .result_search {
                top: -1070px;
                display: flex;
                justify-content: center;
            }
            .cars {
                top: -1041px;
            }
        }
    </style>
<div>
    <div class="listing_V1">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <div class="d-flex justify-content-center">
            <div class="step_search">
                <div class="row align-items-center d-flex justify-content-center text-center">
                    <div class="col-4">
                        <span class="span_step1">1</span>
                    </div>
                    <div class="col-4">
                        <span class="span_step2">2</span>
                    </div>
                    <div class="col-4">
                        <span class="span_step3">3</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="img_new">
            <img src="{{ asset('build/img04.png') }}" alt="ttcar_search">
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col-12 col-lg-12 col-xl-10 d-flex justify-content-center">
                    <div class="div_result_search">
                        <div class="row">   
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{{ asset('build/renault-blanc.png') }}" alt="renaultlogo" class="logo_renault_form">
                                        <img src="{{ asset('build/peugeottrans.png') }}" alt="peugeotlogo" class="logo_peugeot_form hidden">
                                        <img src="{{ asset('build/citroentrans.png') }}" alt="citroenlogo" class="logo_citroen_form hidden">
                                        <img src="{{ asset('build/dstrans.png') }}" alt="dslogo" class="logo_ds_form hidden">
                                    </div>
                                    
                                    <div class="col-6">
                                        {{ form_start(formSearch) }}
                                        <div class="search_mark_result">
                                            {{ form_row(formSearch.mark) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="search_depart_result">
                                    <div class="row align-items-center d-flex justify-content-center text-center">
                                        <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                                            <span>Livraison</span>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            {{ form_row(formSearch.placeDepart) }}
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3">
                                            {{ form_row(formSearch.date_start) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="search_return_result">
                                    <div class="row align-items-center d-flex justify-content-center text-center">
                                        <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                                            <span>Retour</span>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            {{ form_row(formSearch.placeReturn) }}
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3">
                                            {{ form_row(formSearch.date_end) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="col">
                                <hr class="dashed">
                                {# <img src="{{ asset('build/search_trait.png') }}" class="trait_result"> #}
                            </div>
                        </div>
                        <div class="special_code">
                            <div class="row align-items-center d-flex justify-content-center text-center">
                                {# <div class="search_promo_btn_result"> #}
                                    <div class="col-6 col-sm-3 col-md-3">
                                        <span class="span_code_result">Code spécial</span>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-4">
                                        {{ form_row(formSearch.promo) }}
                                    </div>
                                {# </div> #}
                                <div class="col-12 col-sm-5 col-md-5">
                                    <div class="btn_search_send_resul">
                                        <button id="searchBtn_resul">Modifier ma recherche</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(formSearch) }}
                    </div>
                </div>
        
                <div class="col-12 col-lg-12 col-xl-2 d-flex justify-content-center">
                    <div class="div_info_search">
                        <div class="row">
                            <span class="price_info">Ce prix inclut :</span>
                            <br>
                            <div class="col-4 col-md-4 col-lg-4 col-xl-12">
                                <ul class="ul_info">
                                    <li> <img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Un forfait 6 jours</li>
                                    <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Un véhicule neuf</li>
                                </ul>
                            </div>
                            <div class="col-4 col-md-4 col-lg-4 col-xl-12">
                                <ul class="ul_info">
                                    <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> L’assurance multirisques
                                        sans franchise</li>
                                    <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Le kilométrage illimité</li>
                                </ul>
                            </div>
                            <div class="col-4 col-md-4 col-lg-4 col-xl-12">
                                <ul class="ul_info">
                                    <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> L’assistance 7j / 7
                                        et 24h / 24</li>
                                    <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Les frais de livraison
                                        et de restitution</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">    
            <div class="result_search">
                <span class="filtre">Filtrer par :</span>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="cars">
                <div class="row">
                    {% for car in cars %}
                    <div class="car_result">
                        <div class="car_container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6">
                                <span class="dispo">Disponible !</span>
                                <div class="car_tilte">{{ car.mark.getlibelle }}</div>
                                <div class="car_desc">
                                    Le design intérieur gagne en attractivité. Dacia Sandero inaugure une nouvelle planche de bord carbone
                                    foncé ou bi-ton (selon versions) à l’instrumentation complète et au traité moderne avec des contours
                                    de cadrans chromés (selon versions) et des commandes dont l’ergonomie a été complètement repensée.
                                </div>
                                <div class="car_icon">
                                    <span>
                                        <img src="{{ asset('build/Groupe_259.png') }}" alt="car" class="car_icon">
                                        x {{ car.door }}
                                    </span>
                                    <span>
                                        <img src="{{ asset('build/Groupe_261.png') }}" alt="car" class="car_icon">
                                        x {{ car.door }}
                                    </span>
                                    <span>
                                        <img src="{{ asset('build/Groupe_263.png') }}" alt="car" class="car_icon">
                                        x {{ car.door }}
                                    </span>
                                    <span>
                                        <img src="{{ asset('build/Groupe_265.png') }}" alt="car" class="car_icon">
                                    </span>
                                    <span>
                                        <img src="{{  asset('build/Groupe_267.png') }}" alt="car" class="car_icon">
                                    </span>
                                </div>
                            </div>
                        
                            <div class="col-12 col-sm-12 col-md-6 align-self-center d-flex justify-content-center">
                                <img src="{{ asset('build/uploads/'~ car.getCarImg) }}" alt="car" class="car_img">
                            </div>
                        </div>
                        </div>
                            
                        <div class="car_btn">
                            <div class="row">
                                <div class="col-6">
                                    <span class="btn_car">{{ car.name|u.truncate(25, '...') }}</span>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <span class="btn_price">
                                    <a href="{{ path('order', { 'id': car.id }) }}" class="reservez">Reservez</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>        
</div>
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function() {
        let renaultLogo = document.getElementsByClassName("logo_renault_form");
        let peugeotLogo = document.getElementsByClassName("logo_peugeot_form");
        let citroenLogo = document.getElementsByClassName("logo_citroen_form");
        let dsLogo = document.getElementsByClassName("logo_ds_form");

        let markRenault = document.getElementById("form_mark_1");
        let markPeugeot = document.getElementById("form_mark_2");
        let markCitroen = document.getElementById("form_mark_3");
        let markDs = document.getElementById("form_mark_4");


        if (markRenault.checked) {
            $(renaultLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        }else if (markPeugeot.checked) {
            $(peugeotLogo).removeClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        }else if (markCitroen.checked) {
            $(citroenLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        }else if (markDs.checked) {
            $(dsLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
        }

        $(markRenault).change(function() {
            $(renaultLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        });
        $(markPeugeot).change(function() {
            $(peugeotLogo).removeClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        });
        $(markCitroen).change(function() {
            $(citroenLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
            $(dsLogo).addClass('hidden');
        });
        $(markDs).change(function() {
            $(dsLogo).removeClass('hidden');
            $(peugeotLogo).addClass('hidden');
            $(citroenLogo).addClass('hidden');
            $(renaultLogo).addClass('hidden');
        });

    });
</script>
    {% endblock %}
{% endblock %}
