{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        <!-- Striped table start -->
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">All Accessories</h4>
                    <a href="{{ path('create_accessory') }}" style="color: darkslategrey; margin-left: 5%" class="btn btn-light"><i class="fas fa-hat-wizard"></i> Add Accessory</a>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">year</th>
                                    <th scope="col">price</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for accessory in accessories %}
                                    <tr>
                                        <th scope="row">{{ accessory.id }}</th>
                                        <td>{{ accessory.libelle }}</td>
                                        <td>{{ accessory.year }}</td>
                                        <td>{{ accessory.price }}€</td>
                                        <td>
                                            <a href="{{ path('edit_accessory', { 'id': accessory.id }) }}"> <i class="far fa-edit"></i></a>
                                            <br>
                                            <a href="{{ path('delete_accessory', { 'id': accessory.id }) }}"
                                               onclick="return confirm(' you want to delete?');" class="action-delete"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
