{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        {# read and display all flash messages #}
{#        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}#}
        <!-- Striped table start -->
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tout les docs</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                            {#    {% for customer in customers %}
                                    <tr>
                                        <th scope="row">{{ customer.id }}</th>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.username }}</td>
                                        <td>
                                            <a href="{{ path('edit_customer_bo', { 'id': customer.id }) }}" ><i class="far fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
