{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <!-- Striped table start -->
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Toutes les commandes</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Voitures</th>
                                    <th scope="col">Date de depart</th>
                                    <th scope="col">Lieux de depart</th>
                                    <th scope="col">Date de retour</th>
                                    <th scope="col">Lieu de retour</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <th scope="row">{{ order.id }}</th>
                                        <td><i class="fas fa-check-circle" style="color: green"></i></td>
                                        <td>{{ order.getCustomerName }}</td>
                                        <td>{{ order.email }}</td>
                                        <td>{{ order.getCarLibelle }}</td>
                                        <td>{{ order.getDepartDate|date("m/d/Y") }}</td>
                                        <td>{{ order.getDepartPlace }}</td>
                                        <td>{{ order.getReturnDate|date("m/d/Y") }}</td>
                                        <td>{{ order.getReturnPlace }}</td>
                                        <td>{{ order.price }}€</td>
                                        <td>
                                            <a href="{{ path('view_order_admin', { 'id': order.id }) }}"><i class="fas fa-eye"></i></a>
                                            <br>
                                            <a href="{{ path('dowloadPDFXml', { 'id': order.id }) }}"><i class="fas fa-download"></i></a>
                                            <a href="#"><i class="fa-solid fa-reply"></i></a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
