{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        <!-- Striped table start -->
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">All Contacts</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">Status</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Content</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for contact in contacts %}
                                    <tr>
                                            {% if contact.isread == true %}
                                        <td><i class="fas fa-check-circle" style="color: green"></i></td>
                                        {% else %}
                                            <td><i class="fas fa-times" style="color: red"></i></td>
                                        {% endif %}
                                        <th scope="row">{{ contact.id }}</th>
                                        <td>{{ contact.getCreateAt|date("m/d/Y") }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>{{ contact.name }}</td>
                                        <td>{{ contact.content }}</td>
                                        <td>

                                            <a href="{{ path('delete_contact', { 'id': contact.id }) }}"
                                               onclick="return confirm(' you want to delete?');" class="action-delete"><i class="ti-trash"></i></a>
                                            <br>
                                            <a href="{{ path('view_contact', { 'id': contact.id }) }}"><i class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
