{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <!-- Striped table start -->
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Toutes les tranches de prix</h4>
                    {#
                    <a href="{{ path('create_work') }}" style="color: darkslategrey; margin-left: 5%" class="btn btn-light"><i class="fas fa-map-marked-alt"></i> Ajouté une raison</a>
                    #}
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Voiture</th>
                                    <th scope="col">Prix Client</th>
                                    <th scope="col">Prix Fournisseur</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for car in cars %}
                                    <tr>
                                        <th>{{ car.getPrice.id }}</th>
                                        <th>{{ car.getName }}</th>
                                        <th>{{ car.getPrice.getPrice }}€</th>
                                        <th>{{ car.getPrice.getPriceSupplierValue }}€</th>
                                        {% if car.getPrice.getPriceSupplierValue > 0  %}
                                        <td>
                                            <a href="{{ path('manage_slice', { 'id': car.getPrice.id }) }}"> Voir les tranches de prix</a>
                                        </td>
                                            {% else %}
                                                <td><i class="fas fa-ban" style="color: red"></i></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
