{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        <!-- Striped table start -->
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tout les lieux de livraisons</h4>
                    <a href="{{ path('create_place') }}" style="color: darkslategrey; margin-left: 5%" class="btn btn-light"><i class="fas fa-map-marked-alt"></i> Ajouté un lieu</a>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nom FR</th>
                                    <th scope="col">Longétude</th>
                                    <th scope="col">Lattitude</th>
                                    <th scope="col">Extra</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th scope="col">
                                    <h3>Renault</h3>
                                </th>
                                {% for place in arrayRenaut %}
                                    <tr>
                                        <th scope="row">{{ place.id }}</th>
                                        <td>{{ place.libelle }}</td>
                                        <td>{{ place.longitude }}</td>
                                        <td>{{ place.latitude }}</td>
                                        <td>{{ place.getPlace.count }}</td>
                                        <td>
                                            {% if place.getPlace.count > 0 %}
                                            <a href="{{ path('manage_extra_place', { 'id': place.id() }) }}"> <i class="far fa-eye"></i></a>
                                                <br>
                                            {% endif %}
                                            <a href="{{ path('edit_place', { 'id': place.id }) }}"> <i class="far fa-edit"></i></a>
                                            <br>
                                            <a href="{{ path('delete_place', { 'id': place.id }) }}"
                                               onclick="return confirm(' you want to delete?');" class="action-delete"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <th scope="col">
                                    <h3>PSA</h3>
                                </th>
                                {% for place in arrayPSA %}
                                    <tr>
                                        <th scope="row">{{ place.id }}</th>
                                        <td>{{ place.libelle }}</td>
                                        <td>{{ place.longitude }}</td>
                                        <td>{{ place.latitude }}</td>
                                        <td>{{ place.getPlace.count }}</td>
                                        <td>
                                            {% if place.getPlace.count > 0 %}
                                                <a href="{{ path('manage_extra_place', { 'id': place.id() }) }}"> <i class="far fa-eye"></i></a>
                                                <br>
                                            {% endif %}
                                            <a href="{{ path('edit_place', { 'id': place.id }) }}"> <i class="far fa-edit"></i></a>
                                            <br>
                                            <a href="{{ path('delete_place', { 'id': place.id }) }}"
                                               onclick="return confirm(' you want to delete?');" class="action-delete"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
