{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <!-- Striped table start -->
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tout les Pays</h4>
                    <a href="{{ path('create_country') }}" style="color: darkslategrey; margin-left: 5%" class="btn btn-light"><i class="fas fa-map-marked-alt"></i> Ajouté un pays</a>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Nom FR</th>
                                    <th scope="col">Nom EN</th>
                                    <th scope="col">UE</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for country in countrie %}
                                    <tr>
                                        <th scope="row">{{ country.id }}</th>
                                        <td>{{ country.code }}</td>
                                        <td>{{ country.getNameFr }}</td>
                                        <td>{{ country.getNameEn }}</td>
                                        {% if country.getIsEu == true %}
                                            <td><i class="fas fa-check-circle" style="color: green"></i></td>
                                        {% else %}
                                            <td><i class="fas fa-times" style="color: red"></i></td>
                                        {% endif %}
                                        <td>
                                            <a href="{{ path('delete_country', { 'id': country.id }) }}"
                                               onclick="return confirm(' you want to delete?');" class="action-delete"><i class="ti-trash"></i></a>
                                            <br>
                                            <a href="{{ path('edit_country', { 'id': country.id }) }}"> <i class="far fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
