{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        <!-- Striped table start -->
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">All Accessories</h4>
                    <a href="{{ path('create_place') }}" style="color: darkslategrey; margin-left: 5%" class="btn btn-light"><i class="fas fa-map-marked-alt"></i> Add Place</a>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Libelle</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for place in places %}
                                    <tr>
                                        <th scope="row">{{ place.id }}</th>
                                        <td>{{ place.libelle }}</td>

                                        <td>
                                            <a href="{{ path('edit_place', { 'id': place.id }) }}"> <i class="far fa-edit"></i></a>
                                            <br>
                                            <a href="{{ path('delete_place', { 'id': place.id }) }}"
                                               onclick="return confirm(' you want to delete?');" class="action-delete"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Striped table end -->
    </div>
{% endblock %}
