{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="group_text">
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-warning flash-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <!-- Striped table start -->
        <div class="col-lg-12 mt-5" style="padding-bottom: 5%">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Toutes les tranches de prix</h4>
                        <div class="single-table">
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">       <!-- Modal -->
                                            <h3>Tranches client</h3>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Code</th>
                                            <td>Prix de base</td>
                                            {% for slice in slices %}
                                                <td>{{ slice.getCodePrice }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th scope="row">Jours</th>
                                            <td>21</td>
                                            {% for slice in slices %}
                                                <td>{{ slice.getDays }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th scope="row">Valeur</th>
                                            <td>{{ originalPrice }}</td>
                                            {% for slice in slices %}
                                                <td>{{ slice.value }}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <th scope="row">Action</th>
                                            {% for slice in slices %}
                                                <td><a href="{{ path('edit_slice', { 'id': slice.id }) }}"><i class="fas fa-edit"></i></a></td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped text-center">
                                    <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">       <!-- Modal -->
                                            <h3>Tranches Fournisseur</h3>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">Code</th>
                                        <td>Prix de base</td>
                                        {% for sliceSupplier in slicesSupplier %}
                                            <td>{{ sliceSupplier.getCodePrice }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">Jours</th>
                                        <td>21</td>
                                        {% for sliceSupplier in slicesSupplier %}
                                            <td>{{ sliceSupplier.getDays }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">Valeur</th>
                                        <td>{{ originalPriceSupplier }}</td>
                                        {% for sliceSupplier in slicesSupplier %}
                                            <td>{{ sliceSupplier.value }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th scope="row">Action</th>
                                        {% for sliceSupplier in slicesSupplier %}
                                            <td><a href="{{ path('edit_slice_supplier', { 'id': sliceSupplier.id }) }}"><i class="fas fa-edit"></i></a></td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
