{% extends 'admin/admin.html.twig' %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('order') }}
    {% endblock %}
{% block body %}

    <div class="card" style="margin-bottom: 5%">
        <div class="title">Purchase Reciept</div>
        <div class="info">
            <div class="row">
                <div class="col-7"> <span id="heading">Date</span><br> <span id="details">{{ order.getCreateDate|date("m/d/Y") }}</span> </div>
                <div class="col-5 pull-right"> <span id="heading">Order No.</span><br> <span id="details">{{ order.id }}</span> </div>
            </div>
            <div class="row">
                <div class="col-7"> <span id="heading">Adresse</span><br> <span id="details">{{ order.adress }} <br>
                    {{ order.adressCityHue }} {{ order.adressCodeHue }}</span> </div>
                <div class="col-5 pull-right"> <span id="heading">Numero de téléphone</span><br> <span id="details">{{ order.phone }}</span> </div>
                <div class="col-5 pull-right"> <span id="heading">Email</span><br> <span id="details">{{ order.email }}</span> </div>
            </div>
        </div>
        <div class="pricing">
            <div class="row">
                <div class="col-9"> <span id="name">{{  order.carLibelle }}</span> </div>
                <div class="col-3" style="text-align: right"> <span id="price">{{ order.price }}€</span> </div>
            </div>
            <div class="row">
                <div class="col-9"> <span id="name">Shipping</span> </div>
                <div class="col-3" style="text-align: right"> <span id="price">{{ order.departPrice }}€</span> </div>
                <div class="col-3" style="text-align: right"> <span id="price">{{ order.returnPrice }}€</span> </div>
            </div>
        </div>
        <div class="total">
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3"><big>{{ order.price }}€</big></div>
            </div>
        </div>
        <div class="tracking">
            <div class="title" style="font-weight: bold">Tracking Order</div>
        </div>
        <div class="progress-track">
            <ul id="progressbar">
                <li class="step0 active " id="step1">Ordered</li>
                <li class="step0 active text-center" id="step2">Shipped</li>
                <li class="step0 active text-right" id="step3">On the way</li>
                <li class="step0 text-right" id="step4">Delivered</li>
            </ul>
        </div>
        <div class="footer center-block">
            <div class="row">
                <div class="col-2"><img class="img-fluid center-block" src="{{ asset('build/tt-groupimg.png') }}"></div>
                <div class="col-10">Want any help? Please &nbsp;<a href="{{ path('contact') }}"> contact us</a></div>
            </div>
        </div>
    </div>

{% endblock %}
