{% extends 'base.html.twig' %}

{% block body %}
<style>
    .active, .accordion:hover {
        background-color: transparent;
    }

</style>
<body id="key">
<header></header>
<main id="key-reservation">
    <section class="section bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <ul class="progressbar">
                        <li class="active">Devis</li>
                        <li>Choix du véhicule</li>
                        <li>Confirmation et paiement</li>
                    </ul>
                </div>

                <div class="col-lg-9 mx-auto">
                    <div class="bg-blue-light-transparent card mb-3">
                        <div class="p-5">
                            <div class="wrapper">
                                <p class="text-center">
                                    <em>Ces tarifs sont exclusivement réservés aux <strong>non-résidents</strong> en France métropolitaine</em>
                                </p>
                                <form action="" method="get">
                                    <div class="row mb-3">
                                        <div class="col-sm-2 my-auto text-center">
                                            <span class="col-form-label">Départ</span>
                                        </div>
                                        <div class="col-sm-5 my-auto">
                                            <div class="input-title">
                                                <span>Ville</span>
                                                <select class="form-select" aria-label="">
                                                    <option>Choisissez une ville</option>
                                                    <option value="1">14 h 00</option>
                                                    <option value="2">15 h 00</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 date-input my-auto">
                                            <div class="input-title">
                                                <span>Date</span>
                                                <label class="control-label sr-only">DatePicker</label>
                                                <input type="text" class="form-control date-picker" />
                                                <i class="fa fa-calendar form-control-feedback"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 my-auto">
                                            <select class="form-select" aria-label="">
                                                <option>13 h 00</option>
                                                <option value="1">14 h 00</option>
                                                <option value="2">15 h 00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2 my-auto text-center">
                                            <span class="col-form-label">Retour</span>
                                        </div>
                                        <div class="col-sm-5 my-auto">
                                            <div class="input-title">
                                                <span>Ville</span>
                                                <select class="form-select" aria-label="">
                                                    <option>Choisissez une ville</option>
                                                    <option value="1">14 h 00</option>
                                                    <option value="2">15 h 00</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 date-input my-auto">
                                            <div class="input-title">
                                                <span>Date</span>
                                                <label class="control-label sr-only">DatePicker</label>
                                                <input type="text" class="form-control date-picker" />
                                                <i class="fa fa-calendar form-control-feedback"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 my-auto">
                                            <select class="form-select" aria-label="">
                                                <option>13 h 00</option>
                                                <option value="1">14 h 00</option>
                                                <option value="2">15 h 00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-check offset-md-2 mt-3">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Restitution au même endroit
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <span class="checkmark"></span>
                                            </label>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="w-100 overflow-hidden">
                                <svg height="50" width="1000">
                                    <g fill="none" stroke="#FFFFFF" stroke-width="1">
                                        <path stroke-dasharray="10,15" d="M5 20 l1200 0" />
                                    </g>
                                </svg>
                            </div>

                            <div class="wrapper sub-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form action="">
                                            <div class="row mb-2">
                                                <div class="col-md-5 my-auto">
                                                    <label class="col-form-label">Numéro de vol</label>
                                                </div>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 my-auto">
                                                    <label class="col-form-label">Type de véhicule</label>
                                                </div>
                                                <div class="col-md-7 my-auto">
                                                    <select class="form-select" aria-label="">
                                                        <option selected>Tous les véhicules</option>
                                                        <option value="1">One</option>
                                                        <option value="2">Two</option>
                                                        <option value="3">Three</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-4 offset-md-2 my-auto">
                                        <button class="btn btn-alt has-shadow px-5" id="btn-submit">Voir nos tarifs<i class="fa-solid fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card bg-blue-light-transparent p-4 mb-3">
                        <h2 class="mb-3">Choisir Key Services :</h2>
                        <div class="">
                            <div class="d-flex flex-row">
                                <div class="services-icon-img">
                                    <div class="icon-wrapper"><img src="{{ asset('build/key/icon-key-jauge-blue.png') }}" alt="" /></div>
                                </div>
                                <p><strong>Kilométrage</strong><br><em>illimité</em></p>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="services-icon-img">
                                    <div class="icon-wrapper"><img src="{{ asset('build/key/icon-key-franchise-blue.png') }}" alt="" /></div>
                                </div>
                                <p><strong>Suppression totale de
                                        franchise</strong><em> en cas d’accident
                                        et de vol dès 14 jours pour
                                        les principales catégoriesmaritime</em></p>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="services-icon-img">
                                    <div class="icon-wrapper"><img src="{{ asset('build/key/icon-key-conducteur-blue.png') }}" alt="" /></div>
                                </div>
                                <p><strong>2ème conducteur</strong><br><em>gratuit</em></p>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="services-icon-img">
                                    <div class="icon-wrapper"><img src="{{ asset('build/key/icon-key-livraison-blue.png') }}" alt="" /></div>
                                </div>
                                <p><strong>Plus de 500 points</strong><br><em>de livraison et retour
                                        en France</em></p>
                            </div>
                        </div>
                        <a class="btn btn-alt mx-auto mb-2">Aide en ligne</a>
                        <a class="btn btn-alt mx-auto blue">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>

    {% block javascripts %}
        {{ parent() }}
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script>
        /*    $( "#stations" ).click(function() {
                let stationArray = [];
                let stationIdArray = [];

                $.getJSON( "{{ path('resacar_find_stations') }}").done(function( json ) {
                    $.each(json, function( index, station ) {
                        stationArray.push(station['station_name'])
                        stationIdArray.push({
                            station_name : station['station_name'],
                            station_id : station['station_id']
                        });
                    });
                })

                $( "#stations" ).autocomplete({
                    delay: 3,
                    source: stationArray,
                })
                return false;
            });

            $( "#stations-return" ).click(function() {
                let stationArray = [];
                $.getJSON( "{{ path('resacar_find_stations') }}").done(function( json ) {
                    $.each(json, function( index, station ) {
                        stationArray.push(station['station_name'])
                    });
                })

                $( "#stations-return" ).autocomplete({
                    source: stationArray
                });
                return false;
            });

            $( "#numberPlane" ).click(function( event ) {
                event.preventDefault();
                    $.getJSON( "{{ path('resacar_find_stations') }}").done(function( json ) {
                        $.each(json, function( index, station ) {
                            if (station['station_name'] === $( "#stations" ).val())
                            {
                                $( "#stations_id" ).val( station['station_id'])
                                // $( "#stations_id" ).val( )
                            }
                            if (station['station_name'] === $( "#stations-return" ).val())
                            {
                               $( "#stations_id_return" ).val( station['station_id'])
                            }

                        });
                    });
                return false;
            });

            $( "#searchFromResa" ).submit(function( event ) {
                $.ajax({
                        url:{{ path('searchResacar') }},
                        type:"POST",
                        dataType:"json",
                        data: {stationStart: $( "#stations_id" ).val(),stationEnd:  $( "#stations_id_return" ).val( ),dateStart: $( "#startDate" ).val() ,dateEnd: $( "#endDate" ).val() ,numberPlane: $( "#numberPlane" ).val() ,typeSelect: $( "#typeSelect" ).val()},
                        success: function(data){
                            if (data['dateToOpen']) {
                                let d = new Date(data['dateToOpen']['date']);
                                let c = new Date(data['dateToClose']['date']);

                                $('#hoursOpen').html('Ouverture : le ' + d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear() + ' A ' + d.getHours() + ':' + d.getMinutes());
                                $('#hoursClose').html('Fermeture : le ' + c.getDate() + '/' + c.getMonth() + '/' + c.getFullYear() + ' A ' + c.getHours() + ':' + c.getMinutes());

                                $("#myModal").css("display", "block");
                            } else {
                                $('#hoursOpen').html('Ouvert');
                                $("#myModal").css("display", "block");
                            }
                        }
                    });
                return false;
            });

            function CloseModal() {
                $("#myModal").css("display", "none");
            }*/
        </script>
    {% endblock %}
{% endblock %}
