{% extends 'keyServiceBase.html.twig' %}

{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('index') }}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    {% endblock %}

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-warning flash-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <style>

        #search_form_mark {
            margin-left: 190px;
            width: 100%;
            margin-top: -35px;
        }
        .search_depart {
            position: absolute;
            width: 824px;
            height: 65px;
            left: 50px;
            top: 110px;
            overflow: visible;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(32,137,214,1);
        }

        .search_depart span {
            display: inline-block;
            border-radius: 40px;
            background-color: rgba(32,137,214,1);
            height: 60px;
            width: 170px;
            padding-top: 18px;
            padding-left: 40px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(255,255,255,1);
        }

        #search_form_placeDepart {
            position: absolute;
            overflow: visible;
            width: 366px;
            height: 65px;
            padding: 15px;
            left: 180px;
            border-radius: 30px;
            top: 0;
        }

        #search_form_date_start {
            position: absolute;
            width: 266px;
            height: 65px;
            left: 558px;
            top: 0;
            overflow: visible;
            border-radius: 30px;
        }

        .search_return {
            position: absolute;
            width: 824px;
            height: 65px;
            left: 50px;
            top: 230px;
            overflow: visible;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(32,137,214,1);
            padding: 15px;
        }

        .search_return span {
            display: inline-block;
            border-radius: 40px;
            background-color: rgba(32,137,214,1);
            height: 60px;
            width: 170px;
            padding-top: 18px;
            padding-left: 40px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(255,255,255,1);
        }

        #search_form_placeReturn {
            position: absolute;
            width: 366px;
            height: 65px;
            left: 180px;
            overflow: visible;
            border-radius: 30px;
            top: 0;
        }

        #search_form_date_end {
            position: absolute;
            width: 266px;
            height: 65px;
            left: 558px;
            top: 0;
            overflow: visible;
            border-radius: 30px;
        }

        .trait {
            width: 100%;
            margin-top: 300px;
        }

        .search_promo_btn {
            position: absolute;
            width: 370px;
            height: 65px;
            left: 45px;
            top: 295px;
            overflow: visible;
        }

        .search_promo_btn span {
            border-radius: 40px;
            background-color: rgba(32,137,214,1);
            height: 60px;
            width: 170px;
            padding-top: 18px;
            padding-left: 40px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(255,255,255,1);
        }

        #search_form_promo {
            position: absolute;
            overflow: visible;
            width: 216px;
            height: 38px;
            left: 200px;
            top: -10px;
            border-radius: 30px;
        }

        .btn_search_send button {
            left: 650px;
            top: 455px;
            position: absolute;
            overflow: visible;
            width: 180px;
            height: 80px;
            padding: 18px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(247,43,55,1);
            border-radius: 40px;
            border: none;
            background-color: rgba(255,255,255,1);
        }

        .polygon_1 {
            margin-left: 240px;
        }

        .btn_search_send a{
            left: 650px;
            top: 405px;
            position: absolute;
            overflow: visible;
            width: 180px;
            height: 80px;
            padding: 18px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(247,43,55,1);
            border-radius: 40px;
            border: none;
            background-color: rgba(255,255,255,1);
        }

        .newsletter_banner {
            margin-top: 0;
        }

        .search_data {
            top: 280px;
            background-color: rgba(32,137,214,1);
            opacity: 0.698;
            width: 891px;
            height: 569px;
            left: 125px;
        }

        .key_info {
            position: absolute;
            overflow: visible;
            width: 303px;
            height: 569px;
            left: 1080px;
            top: 280px;
            opacity: 0.698;
            background-color: rgba(32,137,214,1);
            border-radius: 40px;
        }

        .subtilble_key {
            left: 135px;
            top: 53px;
            position: absolute;
            overflow: visible;
            width: 631px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .search_plane {
            left: 55px;
            top: 390px;
            position: absolute;
            overflow: visible;
            width: 109px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }

        .search_type {
            top: 470px;
            left: 55px;
            position: absolute;
            overflow: visible;
            width: 124px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }

        .tilte_key {
            left: 30px;
            top: 53px;
            position: absolute;
            overflow: visible;
            width: 222px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(255,255,255,1);
        }

        .icon1 {
            position: absolute;
            width: 22px;
            height: 19px;
            left: 35px;
            top: 120px;
            overflow: visible;
        }

        .kilo {
            left: 70px;
            top: 125px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .illi {
            left: 70px;
            top: 145px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: italic;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .conduc {
            left: 70px;
            top: 190px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .free {
            left: 70px;
            top: 210px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: italic;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .icon2 {
            position: absolute;
            width: 22px;
            height: 19px;
            left: 35px;
            top: 190px;
            overflow: visible;
            background-color: white;
        }

        .suppre {
            left: 70px;
            top: 250px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .acci {
            left: 70px;
            top: 267px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: italic;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .icon3 {
            position: absolute;
            width: 22px;
            height: 19px;
            left: 35px;
            top: 250px;
            overflow: visible;
            background-color: white;
        }

        .point {
            left: 70px;
            top: 330px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }

        .france {
            left: 70px;
            top: 350px;
            position: absolute;
            overflow: visible;
            width: 103px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2px;
            text-align: left;
            font-family: Montserrat;
            font-style: italic;
            font-weight: bold;
            font-size: 15px;
            color: rgba(255,255,255,1);
        }


        .icon4 {
            position: absolute;
            width: 22px;
            height: 19px;
            left: 35px;
            top: 330px;
            overflow: visible;
            background-color: white;
        }

        .btn_key {
            left: 100px;
            top: 405px;
            position: absolute;
            overflow: visible;
            width: 130px;
            height: 50px;
            padding: 18px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(247,43,55,1);
            border-radius: 40px;
            border: none;
            background-color: rgba(255,255,255,1);
        }

        .btn_key a {
            left: 25px;
            top: 15px;
            position: absolute;
            overflow: visible;
            width: 98px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2.5px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(247,43,55,1);
        }

        .btn_key2 {
            left: 100px;
            top: 480px;
            position: absolute;
            overflow: visible;
            width: 130px;
            height: 50px;
            padding: 18px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(32,137,214,1);
            border-radius: 40px;
            border: none;
            background-color: rgba(255,255,255,1);
        }

        .btn_key2 a{
            left: 25px;
            top: 15px;
            position: absolute;
            overflow: visible;
            width: 98px;
            white-space: nowrap;
            line-height: 19px;
            margin-top: -2.5px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(32,137,214,1);
        }
        .trait_result {
            top: 350px;
            position: absolute;
            border: 8px dotted white;
            width: 100%;
        }

        .ui-widget input {
            border-radius: 30px;
            width: 225px;
            height: 50px;
            color: rgba(52,95,138,1);
            padding: 15px;
        }

        #stations {
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(52,95,138,1);
        }

        .plane_number, .type {
            border-radius: 30px;
            width: 225px;
            height: 50px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(52,95,138,1);
        }

        .newsletter_key {
            width: 307px;
            height: 48px;
            margin-left: 760px;
            margin-top: -30px;
            background-color: rgba(242,242,242,1);
            border: none;
            border-radius: 40px;
            padding: 30px;
            color: rgba(32,137,214,1);
            font-weight: bold;
        }

        .newsletter_btn {
            background-color: rgba(32,137,214,1);
        }

        .newsletter_tilte, .newsletter_subtilte {
            color: rgba(32,137,214,1);
          }
    </style>
    <div class="img_search">
        <img src="{{ asset('build/modern-metropolis-skyline-chon.png') }}" alt="sliderImg" />
    </div>
    <div class="search_bar_V1">
        <div class="step_search">
            <span class="span_step1">1</span>
            <span class="span_step2">2</span>
            <span class="span_step3">3</span>
        </div>

        <div class="search_data">
            <span class="subtilble_key">
                Ces tarifs sont exclusivement réservés aux non-résidents en France métropolitaine.
            </span>
            <form type="post" id="searchFromResa" action="#">
                <div class="search_depart">
                    <span>Depart</span>
                           <div class="ui-widget">
                    <label for="stations">Stations : </label>
                    <input id="stations" placeholder="Saisissez votre ville">
                    <input id="stations_id">

                    <input type="datetime-local" id="startDate"
                           name="meeting-time" value="12-02-2023T19:30">

                </div>
                </div>
                <div class="search_return">
                    <span>Retour</span>
                    <div class="ui-widget">
                        <label for="stations-return">Stations : </label>
                        <input id="stations-return" placeholder="Saisissez votre ville">
                        <input id="stations_id-return">

                        <input type="datetime-local" id="endDate"
                               name="meeting-time" value="12-02-2024T19:30">
                    </div>

                </div>
                <span class="trait_result" style="display: none"></span>
                <div class="search_plane">
                    <span>Numéro de vol</span>
                    <input type="text" id="numberPlane" class="plane_number" minlength="4" maxlength="8" size="10" required>
                </div>
                <div class="search_type">
                    <span>Type de véhicule</span>
                    <select name="type" class="type" id="typeSelect">
                        <option value="">--Choisir un type--</option>
                        <option value="1">Type1</option>
                        <option value="2">Type2</option>
                        <option value="3">Type3</option>
                    </select>
                </div>
                <div class="btn_search_send" id="searchBtn">
                   <button type="submit">Voir nos tarif</button>
{#                    <a href="#" id="searchBtn">Voir nos tarifs</a>#}
                </div>
            </form>
        </div>
        <div class="key_info">
            <span class="tilte_key">Choisir Key Services :</span>
            <p>
                <img src="{{ asset('build/Groupe_237.png') }}" class="icon1">
                <span class="kilo">Kilométrage</span>
                <span class="illi">illimité</span>
            </p>

            <p>
                <img src="{{ asset('build/Groupe_239.png') }}" class="icon2">
                <span class="conduc">2ème conducteur</span>
                <span class="free">gratuit</span>
            </p>

            <p>
                <img src="{{ asset('build/Groupe_241.png') }}" class="icon3">
                <span class="suppre">Suppression totale de franchise</span>
                <span class="acci">en cas d’accident et de vol dès 14 <br> jours pour les principales catégories</span>
            </p>

            <p>
                <img src="{{ asset('build/Groupe_243.png') }}" class="icon4">
                <span class="point">Plus de 500 points</span>
                <span class="france">de livraison et retour en France</span>
            </p>
            <div class="btn_key">
                <a href="#">Aide en ligne</a>
            </div>
            <div class="btn_key2">
                <a href="#">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="newsletter_banner">
        <img src="{{ asset('build/Groupe_281.png') }}" alt="newsletter" class="newsletter_img"/>
        <div class="newsletter_tilte">Recevez les bons plans TT</div>
        <div class="newsletter_subtilte">Inscrivez-vous à notre newsletter</div>
        <div class="newsletter_form">
           <form>
               <input type="text" class="newsletter_key" placeholder="Email">
            <div class="newsletter_btn1">
                <button type="submit" class="newsletter_btn" id="seachButton">OK</button>
            </div>
           </form>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script>
            $( function() {
                function split( val ) {
                    return val.split( /,\s*/ );
                }
                function extractLast( term ) {
                    return split( term ).pop();
                }
                $( "#stations" ).autocomplete({
                    delay: 0,
                    source: function( request, response ) {
                        $.getJSON( "{{ path('resacar_find_stations') }}", {
                            term: extractLast( request.term ),
                            voiture: 'test'
                        }, response );
                    },
                    minLength: 0,
                    focus: function( event, ui ) {
                        $( "#stations" ).val( ui.item.station_name );
                        return false;
                    },
                    select: function (event, ui) {
                        $( "#stations" ).val( ui.item.station_name );
                        $( "#stations_id" ).val( ui.item.station_id );
                        return false;
                    }
                }).autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $( "<li>" )
                        .append( "<div>" + item.station_name + "<br>" + item.station_id + "</div>" )
                        .appendTo( ul );
                };
            } );

            $( function() {
                function split( val ) {
                    return val.split( /,\s*/ );
                }
                function extractLast( term ) {
                    return split( term ).pop();
                }
                $( "#stations-return" ).autocomplete({
                    delay: 0,
                    source: function( request, response ) {
                        $.getJSON( "{{ path('resacar_find_stations') }}", {
                            term: extractLast( request.term ),
                            voiture: 'test'
                        }, response );
                    },
                    minLength: 0,
                    focus: function( event, ui ) {
                        $( "#stations-return" ).val( ui.item.station_name );
                        return false;
                    },
                    select: function (event, ui) {
                        $( "#stations-return" ).val( ui.item.station_name );
                        $( "#stations_id-return" ).val( ui.item.station_id );
                        return false;
                    }
                }).autocomplete( "instance" )._renderItem = function( ul, item ) {
                    return $( "<li>" )
                        .append( "<div>" + item.station_name + "<br>" + item.station_id + "</div>" )
                        .appendTo( ul );
                };
            } );

            $( "#searchFromResa" ).submit(function( event ) {
                event.preventDefault();

                let stationStart = $( "#stations_id" ).val();
                let stationEnd = $( "#stations_id-return" ).val();
                let dateStart = $( "#startDate" ).val();
                let dateEnd = $( "#endDate" ).val();
                let numberPlane = $( "#numberPlane" ).val();
                let typeSelect = $( "#typeSelect" ).val();

                $.ajax({
                    url:{{ path('searchResacar') }},
                    type:"POST",
                    dataType:"json",
                    data: {stationStart: stationStart,stationEnd:  stationEnd,dateStart: dateStart ,dateEnd: dateEnd ,numberPlane: numberPlane ,typeSelect: typeSelect},
                    success: function(data){
                        console.log(data)
                        if (data === false) {
                            console.log('station fermé');
                        }
                    }
                });

            });
        </script>
    {% endblock %}
{% endblock %}
