{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .footer_v1 {
            margin-top: 2122px;
        }
        .container_result {
            width: 100%;
            height: 100%;
        }
        .img_new {
            width: 100%;
            height: 833px;
        }
        .div_result_search {
            position: absolute;
            width: 1041px;
            height: 294px;
            left: 60px;
            top: 289px;
            background: rgba(32,137,214,1);
            opacity: 0.837;
            border-radius: 30px;
        }
        .polygon_1 {
            margin-left: 240px;
        }
        .div_info_search {
            position: absolute;
            padding: 25px;
            width: 229px;
            height: 294px;
            left: 1150px;
            top: 289px;
            background: rgba(32,137,214,1);
            opacity: 0.837;
            border-radius: 30px;
        }
        .price_info {
            width: 106px;
            white-space: nowrap;
            line-height: 20px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        .ul_info li {
            line-height: 22px;
            margin-top: 5px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: rgba(255,255,255,1);
        }
        .result_search {
            background-color: rgba(255,255,255,1);
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 1059px;
            height: 60px;
            left: 55px;
            border-radius: 20px;
            top: 603px;
        }
        .filtre {
            background-color: rgba(32,137,214,1);
            position: absolute;
            overflow: visible;
            width: 186px;
            height: 100%;
            border-radius: 20px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
            padding: 20px;
        }
        .cars {
            position: absolute;
            width: 1041px;
            left: 65px;
            top: 685px;
            background-color: white;
        }
        .car_result {
            border-radius: 20px;
            border: solid 2px grey;
        }
        .car_container {
            padding: 45px;
        }
        .car_tilte  {
            width: 323px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            color: rgba(32,137,214,1);
            margin-top: 15px;
        }
        .car_desc {
            line-height: 20px;
            margin-top: 15px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(32,137,214,1);
            width: 417px;
            height: 120px;
        }
        .car_icon {
            margin-top: 20px;
            display: inline-block;
        }

        .car_icon span {
            margin-left: 15px;
            width: 11px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            color: rgba(32,137,214,1);
        }
        .car_img {
            position: absolute;
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            overflow: visible;
            width: 435px;
            height: 274px;
            left: 520px;
            top: 40px;
            border-radius: 60px;
            padding: 18px;
        }

        .car_img img{
            width: 90%;
        }

        .car_btn {
            background-color: rgb(240 240 240);
            height: 90px;
            border-radius: 15px;
            padding-top: 25px;
        }

        .btn_car {
            left: 64px;
            top: 380px;
            position: absolute;
            overflow: visible;
            width: 237px;
            font-family: Montserrat;
            font-style: italic;
            font-weight: normal;
            font-size: 15px;
            color: rgba(32,137,214,1);
        }
        .dispo {
            white-space: nowrap;
            line-height: 22px;
            margin-top: -5px;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            color: rgba(255,255,255,1);
            background-color: red;
            padding: 10px;
            border-radius: 30px;
        }
        .soon {
            width: 291px;
            height: 42px;
            background-color: white;
            border-radius: 20px;
            margin-left: 550px;
            padding: 15px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(32,137,214,1);
        }
        .contact {
            width: 291px;
            height: 42px;
            background-color: white;
            border-radius: 20px;
            margin-left: 550px;
            padding: 15px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(32,137,214,1);
        }
        .btn_price {
            margin-left: 470px;
            overflow: visible;
            width: 90px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: rgba(247,43,55,1);
        }
        .reservez {
            width: 291px;
            height: 42px;
            background-color: rgba(32,137,214,1);
            border-radius: 20px;
            margin-left: 65px;
            padding: 15px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(255,255,255,1);
        }
        .logo_renault_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_peugeot_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_citroen_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .logo_ds_form {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 35px;
            top: 30px;
            padding: 10px;
            overflow: visible;
            background-color: rgb(106 132 154);
            border-radius: 30px;
        }
        .trait_result {
            position: absolute;
            border: 8px dotted white;
            width: 100%;
        }
        .search_depart_result {
            margin-left: 275px;
            margin-top: 45px;
        }
        .search_depart_result span{
            background-color: rgba(32,137,214,1);
            border-radius: 30px;
            padding: 5px;
            overflow: visible;
            width: 67px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        .search_return_result {
            margin-left: 275px;
            margin-top: 60px;
            margin-bottom: 30px;
        }
        .search_return_result span{
            background-color: rgba(32,137,214,1);
            border-radius: 30px;
            padding: 5px;
            overflow: visible;
            width: 67px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }
        #form_placeDepart {
            position: absolute;
            overflow: visible;
            width: 301px;
            height: 55px;
            padding: 15px;
            left: 380px;
            border-radius: 30px;
            top: 35px;
        }
        #form_date_start {
            position: absolute;
            width: 167px;
            height: 55px;
            left: 745px;
            top: 35px;
            overflow: visible;
            border-radius: 30px;
        }
        #form_placeReturn {
            position: absolute;
            overflow: visible;
            width: 301px;
            height: 55px;
            padding: 15px;
            left: 380px;
            border-radius: 30px;
            top: 110px;
        }
        #form_date_end {
            position: absolute;
            width: 167px;
            height: 55px;
            left: 745px;
            top: 110px;
            overflow: visible;
            border-radius: 30px;
        }
        .search_promo_btn_result {
            margin-top: 15px;
            margin-left: 20px;
        }
        .span_code_result {
            border-radius: 40px;
            background-color: rgba(32,137,214,1);
            height: 60px;
            width: 170px;
            padding-top: 18px;
            padding-left: 40px;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            color: rgba(255,255,255,1);
        }
        #form_promo {
            position: absolute;
            overflow: visible;
            width: 216px;
            height: 38px;
            left: 190px;
            border-radius: 30px;
            top: 230px;
        }
        .btn_search_send_resul button {
            left: 635px;
            top: 225px;
            position: absolute;
            overflow: visible;
            height: 50px;
            padding: 15px;
            width: 215px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: rgba(247,43,55,1);
            border-radius: 40px;
            border: none;
            background-color: rgba(255,255,255,1);
        }

        #form_mark {
            position: absolute;
            width: 75px;
            left: 180px;
            top: 50px;
            overflow: visible;
        }

        #form_mark  label{
            overflow: visible;
            width: 61px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: rgba(255,255,255,1);
        }

        .btn_resacar_result {
            background-color: rgba(32,137,214,1);
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 1059px;
            height: 60px;
            left: 60px;
            top: 603px;
            color: white;
            border-radius: 30px;
        }

        .resarcar_cat {
            left: 400px;
            top: 15px;
            position: absolute;
            overflow: visible;
            width: 261px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: rgba(255,255,255,1);
        }
        .btn_price_agence {
            position: absolute;
            margin-left: 20px;
            margin-top: -62px;
            overflow: visible;
            width: 90px;
            white-space: nowrap;
            text-align: left;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: rgba(247,43,55,1);
        }
        .europcar {
            margin-left: 90px;
        }

        .div_info_search_not {
            position: absolute;
            padding: 25px;
            width: 229px;
            height: 294px;
            left: 1150px;
            top: 605px;
            background: rgba(32,137,214,1);
            opacity: 0.837;
            border-radius: 30px;
        }
    </style>
    <div class="container_result">

        <div class="img_new">
            <img src="{{ asset('build/img04.png') }}" alt="ttcar_search">
        </div>
        <div class="step_search">
            <span class="span_step1">1</span>
            <span class="span_step2">2</span>
            <span class="span_step3">3</span>
        </div>
        <div class="div_result_search">
            <div class="search_depart_result">
                <span>Livraison</span>
                <input type="date" id="start" name="trip-start">
            </div>

            <div class="search_return_result">
                <span>Retour</span>
                <input type="date" id="start" name="trip-start">
            </div>

            <span class="trait_result"></span>
            <br>
            <div class="search_promo_btn_result">
                <span class="span_code_result">Code spécial</span>
                <input type="text" id="name" name="name" required
                       minlength="4" maxlength="8" size="10">
            </div>
            <div class="btn_search_send_resul">
                <button id="searchBtn_resul">Modifier ma recherche</button>
            </div>
        </div>
        <div class="div_info_search">
            <span class="price_info">Ce prix inclut :</span>
            <br>
            <ul class="ul_info">
                <li> <img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Un forfait 6 jours</li>
                <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Un véhicule neuf</li>
                <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> L’assurance multirisques
                    sans franchise</li>
                <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Le kilométrage illimité</li>
                <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> L’assistance 7j / 7
                    et 24h / 24</li>
                <li><img src="{{ asset('build/Groupe_216.png') }}" class="info_img"> Les frais de livraison
                    et de restitution</li>
            </ul>
        </div>
        <div class="div_info_search_not">
            <span class="price_info">Ce prix n'inclut pas :</span>
            <br>
            <ul class="ul_info">
                <li> <img src="{{ asset('build/resarcarNot.png') }}" style="width: 30px"> Un forfait 6 jours</li>
            </ul>
        </div>
        <div class="result_search" style="display:none;">
            <span class="filtre">Filtrer par :</span>
        </div>
        <div class="btn_resacar_result">
           <span class="resarcar_cat">Choisissez une catégorie</span>
        </div>
        <div class="cars">
            <div class="car_result">
                {% for key, car in pagination %}
                <div class="car_container">
                        <span class="dispo">{{ car.veh_type }}</span>
                       {# <div class="car_tilte"> {{ car.veh_text }} </div>#}
                        <div class="car_desc">
                            Le design intérieur gagne en attractivité. Dacia Sandero inaugure une nouvelle planche de bord carbone
                            foncé ou bi-ton (selon versions) à l’instrumentation complète et au traité moderne avec des contours
                            de cadrans chromés (selon versions) et des commandes dont l’ergonomie a été complètement repensée.
                        </div>
                        <div class="car_icon">
                            <span>
                                <img src="{{ asset('build/Groupe_259_resa.png') }}" alt="car" class="car_icon">
                                x 4
                            </span>
                            <span>
                                <img src="{{ asset('build/Groupe_261_resacar.png') }}" alt="car" class="car_icon">
                                x 5
                            </span>
                            <span>
                                <img src="{{ asset('build/Groupe_263_resacar.png') }}" alt="car" class="car_icon">
                                x 4
                            </span>
                            <span>
                                <img src="{{ asset('build/Groupe_265_resacar.png') }}" alt="car" class="car_icon">
                            </span>
                            <span>
                                <img src="{{  asset('build/Groupe_267_resacar.png') }}" alt="car" class="car_icon">
                            </span>
                        </div>
                    </div>
                    <img src="{{ car.veh_img }}" alt="car" class="car_img">
                    <div class="car_btn">
                        <span class="btn_price">{{ car.agence_price }}€
                            <a href="#" class="reservez" style="background-color: rgba(178,178,178,1)">Payer en agence</a>
                            <img src="{{ asset('build/europcar-logo-vector-download-_cs@2x.png') }}" alt="europcar" class="europcar">
                        </span>
                    </div>
                    <div class="car_btn_agence" style="border-bottom: solid 2px grey; border-radius: 20px;">
                        <span class="btn_price_agence">{{ car.fare_price }}€
                            <a href="{{ path('resacar_order') }}" class="reservez">Payer maintenant</a>
                        </span>
                    </div>
                {% endfor %}
            </div>
            {{ knp_pagination_render(pagination) }}

        </div>
    </div>
{% endblock %}
