{% extends 'douane/base_douane.html.twig' %}

{% block body %}
    <main id="douane-export">
        <section class="bg-img">
            <div class="container">
                <div class="row px-3 mb-5">
                    <div class="col-lg-10 mx-auto">
                        <div class="bg-white-transparent card mb-5">
                            <div class="p-md-5 p-3 mx-lg-auto text-center col-lg-10">
                                <h1>Choisir TT Douane Export :</h1>
                                <div class="douane-icons-wrapper p-3 my-4">
                                    <div class="container">
                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                                            <div class="col">
                                                <div class="douane-icon-img">
                                                    <img src="{{ asset('build/icon-douane-world.png') }}" alt="" />
                                                </div>
                                                <p><strong>World export</strong><br><em>et transit temporaire</em></p>
                                            </div>
                                            <div class="col">
                                                <div class="douane-icon-img">
                                                    <img src="{{ asset('build/icon-douane-transport.png') }}" alt="" />
                                                </div>
                                                <p><strong>Transport</strong><br><em>maritime</em></p>
                                            </div>
                                            <div class="col">
                                                <div class="douane-icon-img">
                                                    <img src="{{ asset('build/icon-douane-immatriculation.png') }}" alt="" />
                                                </div>
                                                <p><strong>Immatriculation</strong><br><em>France</em></p>
                                            </div>
                                            <div class="col">
                                                <div class="douane-icon-img">
                                                    <img src="{{ asset('build/icon-douane-assurance.png') }}" alt="" />
                                                </div>
                                                <p><strong>Assurance</strong><br><em>courte durée</em></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ path('contactDouane') }}" class="btn btn-alt fw-bold has-shadow">Contactez-nous</a>
                                <div class="w-100 overflow-hidden">
                                    <svg height="50" width="1000">
                                        <g fill="none" stroke="#345f8a" stroke-width="1">
                                            <path stroke-dasharray="10,15" d="M5 20 l1200 0" />
                                        </g>
                                    </svg>
                                </div>
                                <a href="" class="btn btn-primary">Déclaration Douane</a>
                                <p class="mt-4"><strong>La déclaration douanière d’exportation seule, est réservée aux véhicules déjà immatriculés
                                        destinés à être exportés hors Union Européenne.</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="separator">
            <div>Obtenez les informations</div>
        </div>

        <section>
            <div class="container">
                <div class="row px-3 mb-5">
                    <div class="col-lg-10 mx-auto">
                        <div class="card bg-grey mb-5 p-5">
                            <h2>Sélectionnez votre immatriculation</h2>

                            <form action="" class="mb-4">
                                <div class="row row-cols-1 row-cols-md-3 g-3 mb-3">
                                    <div class="col">
                                        <div class="col-form-label">Type d’immatriculation</div>
                                    </div>
                                    <div class="col">
                                        <label>
                                            <input type="radio" name="test" value="selected" id="wwww" onclick="ClickWWW()">
                                            <div class="douane-form-label">Véhicule immatriculé en WW</div>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label>
                                            <input type="radio" name="test" value="big" id="other" onclick="ClickOther()">
                                            <div class="douane-form-label">Autres types</div>
                                        </label>
                                    </div>
                                </div>
                            </form>

                            <div class="w-100 overflow-hidden">
                                <svg height="50" width="1000">
                                    <g fill="none" stroke="#345f8a" stroke-width="1">
                                        <path stroke-dasharray="10,15" d="M5 20 l1200 0" />
                                    </g>
                                </svg>
                            </div>
                            <h2 id="tilte_other" style="display: none">Déclaration Douanière d’Exportation<br>
                                (Autres types d’immatriculation)</h2>
                            <h2 id="tilte_ww">Déclaration Douanière d’Exportation<br>
                                (Immatriculation en WW)</h2>
                            <div class="row">
                                <div class="col-md-6 mb-md-3">
                                    <div class="card bg-white p-4 text-center douane-price">
                                        <h3>Tarif :</h3>
                                        <div>Nous proposons un forfait à<br>
                                            <span>100 €</span></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card bg-blue-transparent p-4">
                                        <p><strong>Ce tarif comprend :</strong></p>
                                        <ul class="check-list">
                                            <li>La déclaration douanière d’exportation</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="text-center"><strong>Conditions d’application :</strong> Pour une destination d’export hors de l’Union Européenne.</p>
                        </div>

                        <div class="card p-5 mb-5">
                            <div class="px-md-5 px-3 mx-lg-auto col-lg-10">
                                <h2>Documents nécessaires :</h2>
                                <span class="red text-center">» Justificatifs à fournir pour finaliser votre dossier :</span>

                                <div class="has-decoration-filigrane" id="text_other" style="display: none">
                                    <p><strong>- Copie de la carte grise barrée datée et signée de la part du vendeur</strong> avec la mention vendu le ../../..</p>
                                    <p><strong>- Copie du certificat de cession</strong> (vente)</p>
                                    <p><strong>- Certificat de situation</strong> (non gage)</p>
                                    <p><strong>- Fin de démonstration si véhicule de démonstration</strong> (à réclamer au concessionnaire) ou déclaration d’achat si véhicule racheter par la concession</p>
                                    <p><strong>- Copie du passeport en cours de validité</strong></p>
                                    <p><strong>- Justificatif de domicile de moins de trois mois</strong></p>
                                    <p><strong>- Copie de la facture du véhicule hors taxe</strong></p>
                                </div>

                                <div class="has-decoration-filigrane" id="text_ww">
                                    <p><strong>- Copie du certificat de conformité </strong> ou PV des Mines (3 en 1)</p>
                                    <p><strong>- Copie du certificat provisoire d’immatriculation</strong></p>
                                    <p><strong>- Copie du passeport en cours de validité</strong></p>
                                    <p><strong>- Justificatif de domicile de moins de trois mois</strong></p>
                                    <p><strong>- Copie de la facture du véhicule hors taxe</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-grey px-5 py-2">
                            <span class="red"><strong>ATTENTION:</strong> Si votre véhicule n’a jamais été immatriculé, ce service ne vous sera pas accessible. Veuillez utiliser un TT ou un W Export dans ce cas.</span>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>

        function ClickWWW() {
            let title_other = document.getElementById("tilte_other");
            let tilte_ww = document.getElementById("tilte_ww");

            let text_other = document.getElementById("text_other");
            let text_ww = document.getElementById("text_ww");

            tilte_ww.style.display = "block";
            title_other.style.display = "none";

            text_ww.style.display = "block";
            text_other.style.display = "none";
        }

        function ClickOther() {
            let title_other = document.getElementById("tilte_other");
            let tilte_ww = document.getElementById("tilte_ww");

            let text_other = document.getElementById("text_other");
            let text_ww = document.getElementById("text_ww");

            tilte_ww.style.display = "none";
            title_other.style.display = "block";

            text_ww.style.display = "none";
            text_other.style.display = "block";
        }
    </script>
{% endblock %}
