{% extends 'douane/base_douane.html.twig' %}

{% block body %}
    <section class="b-pageHeader">
        <div class="container">
            <h1 class=" wow zoomInLeft"> {{ 'douanePage.h11'|trans({}, 'messages') }}</h1>
            {#   <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.3s">
            <h3>Read Latest Auto News &amp; Reviews</h3>
        </div>#}
        </div>
    </section><!--b-pageHeader-->

    <div class="b-blog s-shadow" style="margin-bottom: 15%">
        <div class="container" style="text-align: center">
            <h3> {{ 'douane.declaration'|trans({}, 'messages') }}</h3>
            <p> {{ 'douane.declaSubtilte'|trans({}, 'messages') }}</p>
            <div class="row">
                <h5>»  {{ 'douanePage.h51'|trans({}, 'messages') }}:</h5>

                <button class="accordion">{{ 'douanePage.btn1'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'douanePage.h31'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }} <span style="font-weight: bold">100 €.</span></p>
                        <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>{{ 'douanePage.h32'|trans({}, 'messages') }}.</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :   </p>
                        <ul>
                            <li>1. {{ 'douanePage.li1'|trans({}, 'messages') }}</li>
                       </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'douanePage.li2'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li4'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li10'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li5'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="border_red">{{ 'douanePage.p1'|trans({}, 'messages') }}</p>

                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">{{ 'douanePage.btn2'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'douanePage.h33'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }} <span style="font-weight: bold">100 €.</span></p>
                        <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>{{ 'douanePage.h32'|trans({}, 'messages') }}.</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :   </p>
                        <ul>
                            <li>1. {{ 'douanePage.li1'|trans({}, 'messages') }}</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'douanePage.li6'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li7'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li8'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li9'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li10'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li11'|trans({}, 'messages') }}</li>
                            <li>- {{ 'douanePage.li12'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="border_red">{{ 'douanePage.p3'|trans({}, 'messages') }}</p>

                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
