{% extends 'douane/base_douane.html.twig' %}

{% block body %}

    <section class="b-pageHeader">
        <div class="container">
            <h1 class=" wow zoomInLeft" data-wow-delay="0.3s"> {{ 'douane.w'|trans({}, 'messages') }}</h1>
            {#   <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.3s">
            <h3>Read Latest Auto News &amp; Reviews</h3>
        </div>#}
        </div>
    </section><!--b-pageHeader-->

    <div class="b-blog s-shadow" style="margin-bottom: 15%">
        <div class="container" style="text-align: center">
            <h3> {{ 'douane.w'|trans({}, 'messages') }}</h3>
            <p>{{ 'export.p1'|trans({}, 'messages') }}</p>
            <div class="row">
                <h5>» {{ 'export.p2'|trans({}, 'messages') }}</h5>
                <button class="accordion">{{ 'export.p8'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'export.p3'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }} <span style="font-weight: bold">150 €.</span></p>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>{{ 'export.li1'|trans({}, 'messages') }}</li>
                            <li>{{ 'export.li2'|trans({}, 'messages') }}</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p7'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> » {{ 'export.p8'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li5'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li6'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li7'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li8'|trans({}, 'messages') }}</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">{{ 'export.btn1'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'export.h31'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">250 €.</span></p>
                        <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>{{ 'export.li1'|trans({}, 'messages') }}</li>
                            <li>{{ 'export.li2'|trans({}, 'messages') }}/li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> »{{ 'export.p7'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li5'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li6'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li7'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li8'|trans({}, 'messages') }}</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">{{ 'export.btn2'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'export.h32'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }} <span style="font-weight: bold">150 €.</span></p>
                        <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>{{ 'export.li1'|trans({}, 'messages') }}</li>
                            <li>{{ 'export.li2'|trans({}, 'messages') }}</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li9'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li10'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li7'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li8'|trans({}, 'messages') }}</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">{{ 'export.btn3'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'export.h33'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">250 €.</span></p>
                        <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>- {{ 'export.li1'|trans({}, 'messages') }}/li>
                            <li>- {{ 'export.li2'|trans({}, 'messages') }}</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li11'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li10'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li7'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li8'|trans({}, 'messages') }}</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">{{ 'export.btn4'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'export.h34'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">250 €.</span></p>
                        <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>{{ 'export.li1'|trans({}, 'messages') }}/li>
                            <li>{{ 'export.li2'|trans({}, 'messages') }}</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li5'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li7'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li6'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li8'|trans({}, 'messages') }}</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

                <button class="accordion">{{ 'export.btn5'|trans({}, 'messages') }}</button>
                <div class="panel">
                    <h3>{{ 'export.h35'|trans({}, 'messages') }}</h3>
                    <div>
                        <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">250 €.</span></p>
                        <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                        <ul>
                            <li>{{ 'export.li1'|trans({}, 'messages') }}/li>
                            <li>{{ 'export.li2'|trans({}, 'messages') }}</li>
                        </ul>
                    </div>
                    <br>
                    <div>
                        <p>{{ 'export.p6'|trans({}, 'messages') }} :</p>

                        <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li3'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li4'|trans({}, 'messages') }}</li>
                        </ul>
                        <br>
                        <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                        <ul>
                            <li>- {{ 'export.li9'|trans({}, 'messages') }}.</li>
                            <li>- {{ 'export.li7'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li10'|trans({}, 'messages') }}</li>
                            <li>- {{ 'export.li8'|trans({}, 'messages') }}</li>
                        </ul>
                        {#
                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
