{% extends 'douane/base_douane.html.twig' %}

{% block body %}

<body class="m-home" data-scrolling-animations="true" data-equal-height=".b-auto__main-item">

<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-warning flash-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<section class="b-slider">
    <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ asset('build/nightCars.jpg') }}" alt="sliderImg"  style="height: 800px"/>
                <div class="container">
                    <div class="carousel-caption b-slider__info">
                        <h3>{{ 'douane.tiltle2'|trans({}, 'messages') }}</h3>
                        <h2>{{ 'douane.rent'|trans({}, 'messages') }} <br/>{{ 'douane.cars'|trans({}, 'messages') }}</h2>
                        <p>A definir</p>
                        <a class="btn m-btn" href="#">{{ 'douane.details'|trans({}, 'messages') }}<span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--b-slider-->

<section class="b-world" style="padding-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="b-world__item wow zoomInLeft" data-wow-delay="0.3s">
{#
                    <img class="img-responsive" src="{{ asset('build/location-de-voiture.png') }}" alt="wolks" />
#}
                    <div class="b-world__item-val">
                        <span class="b-world__item-val-title">A DEFINIR</span>
                    </div>
                        <h2>{{ 'douane.w'|trans({}, 'messages') }}</h2>
                        <p>{{ 'douane.wSubtilte'|trans({}, 'messages') }}</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="b-world__item wow zoomInUp" data-wow-delay="0.3s">
{#
                    <img class="img-responsive"  src="media/370x200/mazda.jpg" alt="mazda" />
#}
                    <div class="b-world__item-val">
                        <span class="b-world__item-val-title">A DEFINIR</span>
                    </div>
                    <h2>{{ 'douane.declaration'|trans({}, 'messages') }}</h2>
                    <p>{{ 'douane.declaSubtilte'|trans({}, 'messages') }}</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="b-world__item wow zoomInRight" data-wow-delay="0.3s">
{#
                    <img class="img-responsive"  src="media/370x200/chevrolet.jpg" alt="chevrolet" />
#}
                    <div class="b-world__item-val">
                        <span class="b-world__item-val-title">A DEFINIR</span>
                    </div>
                    <h2>{{ 'douane.transport'|trans({}, 'messages') }}</h2>
                    <p>{{ 'douane.transportSubtiltle'|trans({}, 'messages') }}</p>
                </div>
            </div>
        </div>
    </div>
</section><!--b-world-->

<section class="b-welcome">
    <div class="container">
        <div class="row">
            <div class="b-welcome__services">
                <div class="col-md-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-auto wow zoomInLeft" data-wow-delay="0.3s">
                                <div class="b-welcome__services-img m-auto">
                                    <a href="{{ path('transit') }}">
                                        <img src="{{ asset('build/transit-temporaire.png') }}" style="width: 80%">
                                    </a>
                                </div>
                                <h3>{{ 'douane.tt'|trans({}, 'messages') }}</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 text-right visible-md visible-lg">
                            <div class="m-circle wow slideInRight" data-wow-delay="0.3s">
                                <span class="b-welcome__services-circle"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-buying wow zoomInLeft" data-wow-delay="0.3s">
                                <div class="b-welcome__services-img m-buying">
                                    <a href="{{ path('export') }}">
                                        <img src="{{ asset('build/location-de-voiture.png') }}" style="width: 80%">
                                    </a>
                                </div>
                                <h3>{{ 'douane.w'|trans({}, 'messages') }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="b-welcome__text wow zoomInUp" data-wow-delay="0.3s">
                    <h2>{{ 'douane.tiltle3'|trans({}, 'messages') }}</h2>
                    <h3>{{ 'douane.tiltle2'|trans({}, 'messages') }}</h3>
                    <p>{{ 'douane.ttSubtilte'|trans({}, 'messages') }}</p>
                    <ul>
                        <li><span class="fa fa-check"></span> {{ 'douane.list1'|trans({}, 'messages') }}</li>
                        <li><span class="fa fa-check"></span>{{ 'douane.list2'|trans({}, 'messages') }}</li>
                        <li><span class="fa fa-check"></span> {{ 'douane.list3'|trans({}, 'messages') }}</li>
                        <li><span class="fa fa-check"></span> {{ 'douane.list4'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
            </div>
            <div class="b-welcome__services">
                <div class="col-md-3 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-trade wow zoomInRight" data-wow-delay="0.3s">
                                <div class="b-welcome__services-img m-trade">
                                    <a href="{{ path('douane') }}">
                                        <img src="{{ asset('build/declaration-douane.png') }}" style="width: 80%">
                                    </a>
                                </div>
                                <h3>{{ 'douane.declaration'|trans({}, 'messages') }}</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 text-left visible-md visible-lg">
                            <div class="m-circle pull-right wow slideInLeft" data-wow-delay="0.3s">
                                <span class="b-welcome__services-circle m-left"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 m-padding">
                            <div class="b-welcome__services-support wow zoomInRight" data-wow-delay="0.3s">
                                <div class="b-welcome__services-img m-support">
                                    <a href="{{ path('transport') }}">
                                        <img src="{{ asset('build/transport-maritime.png') }}" style="width: 80%">
                                    </a>
                                </div>
                                <h3>{{ 'douane.transport'|trans({}, 'messages') }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--b-welcome-->
<section class="b-asks">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-offset-1">
                <div class="b-asks__first m-second wow zoomInRight" data-wow-delay="0.3s">
                    <div class="b-asks__first-circle">
                        <span class="fa fa-usd"></span>
                    </div>
                    <div class="b-asks__first-info">
                        <h2>{{ 'douane.serviceTiltle'|trans({}, 'messages') }}</h2>
                        <p>{{ 'douane.services'|trans({}, 'messages') }}
                           <span> {{ 'douane.servicesSpan'|trans({}, 'messages') }}</span></p>
                    </div>
                    <div class="b-asks__first-arrow">
                        <a href="#"><span class="fa fa-angle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--b-asks-->
{% endblock %}
