{% extends 'douane/base_douane.html.twig' %}

{% block body %}
<section class="b-pageHeader">
    <div class="container">
        <h1 class=" wow zoomInLeft" data-wow-delay="0.3s">{{ 'menu.temporary'|trans({}, 'messages') }}</h1>
     {#   <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.3s">
            <h3>Read Latest Auto News &amp; Reviews</h3>
        </div>#}
    </div>
</section><!--b-pageHeader-->

<div class="b-blog s-shadow" style="margin-bottom: 15%">
    <div class="container">
        <h3>{{ 'menu.temporary'|trans({}, 'messages') }}</h3>
        <p>{{ 'tt.p1'|trans({}, 'messages') }}</p>

        <div class="row" style="text-align: center">
            <h5>{{ 'tt.p2'|trans({}, 'messages') }}</h5>
            <button class="accordion">{{ 'tt.btn1'|trans({}, 'messages') }}</button>
            <div class="panel">
                <div>
                    <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">300 € + Malus CO2.</span></p>
                    <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                    <ul>
                        <li>- {{ 'tt.li1'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li2'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li3'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :   </p>
                    <ul>
                        <li>1. {{ 'tt.li4'|trans({}, 'messages') }}</li>
                        <li>2. {{ 'tt.li5'|trans({}, 'messages') }}.</li>
                        <li>3. {{ 'tt.li6'|trans({}, 'messages') }}.</li>
                    </ul>
                </div>
                <br>
                <p class="border_red">{{ 'tt.p3'|trans({}, 'messages') }}</p>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :</p>

                       <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                            <ul>
                                <li>- {{ 'tt.li7'|trans({}, 'messages') }}</li>
                                <li>- {{ 'tt.li8'|trans({}, 'messages') }}</li>
                                <li>- {{ 'tt.li9'|trans({}, 'messages') }}</li>
                            </ul>
                    <br>
                    <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                    <ul>
                        <li>- {{ 'tt.li10'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li11'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li12'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li13'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li14'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li15'|trans({}, 'messages') }}</li>
                    </ul>
                        {#
                                        <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                        #}
                </div>
                <br>
                <p class="bold_red">{{ 'tt.p4'|trans({}, 'messages') }}</p>
            </div>

            <button class="accordion">{{ 'tt.btn2'|trans({}, 'messages') }}</button>
            <div class="panel">
                <h3>{{ 'tt.h31'|trans({}, 'messages') }}</h3>
                <div>
                    <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">300 € + Malus EcoTaxe.</span></p>
                    <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                    <ul>
                        <li>{{ 'tt.li1'|trans({}, 'messages') }}</li>
                        <li>{{ 'tt.li2'|trans({}, 'messages') }}</li>
                        <li>{{ 'tt.li3'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :   </p>
                    <ul>
                        <li>1. {{ 'tt.li16'|trans({}, 'messages') }}</li>
                        <li>2. {{ 'tt.li17'|trans({}, 'messages') }}</li>
                        <li>3. {{ 'tt.li18'|trans({}, 'messages') }}</li>
                        <li>4. {{ 'tt.li19'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
                <br>
                <p class="border_red">{{ 'tt.p5'|trans({}, 'messages') }}</p>
                <div>
                    <p>{{ 'tt.p6'|trans({}, 'messages') }}: </p>
                    <p class="bold_red">{{ 'tt.p7'|trans({}, 'messages') }}</p>
                </div>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :</p>

                    <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                    <ul>
                        <li>- {{ 'tt.li21'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li22'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li23'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li24'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li25'|trans({}, 'messages') }}</li>
                    </ul>
                    <br>
                    <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                    <ul>
                        <li>- {{ 'tt.li10'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li26'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li27'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li28'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li29'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li13'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li14'|trans({}, 'messages') }}</li>
                    </ul>
                    {#
                    <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                    #}
                </div>
                <br>
                <p class="bold_red">{{ 'tt.p4'|trans({}, 'messages') }}</p>
            </div>

            <button class="accordion">{{ 'tt.btn3'|trans({}, 'messages') }}</button>
            <div class="panel">
                <h3>{{ 'tt.h32'|trans({}, 'messages') }}</h3>
                <div>
                    <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">300 € +  Malus CO2.</span></p>
                    <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                    <ul>
                        <li>{{ 'tt.li1'|trans({}, 'messages') }}</li>
                        <li>{{ 'tt.li2'|trans({}, 'messages') }}</li>
                        <li>{{ 'tt.li3'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :   </p>
                    <ul>
                        <li>1. {{ 'tt.li30'|trans({}, 'messages') }}.</li>
                        <li>2. {{ 'tt.li31'|trans({}, 'messages') }}</li>
                        <li>3. {{ 'tt.li32'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
                <br>
                <p class="border_red">{{ 'tt.p5'|trans({}, 'messages') }}</p>
                <div>
                    <p>{{ 'tt.p6'|trans({}, 'messages') }}: </p>
                    <p class="bold_red">{{ 'tt.p8'|trans({}, 'messages') }}</p>
                </div>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :</p>

                    <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                    <ul>
                        <li>- {{ 'tt.li33'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li34'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li35'|trans({}, 'messages') }}</li>
                    </ul>
                    <br>
                    <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                    <ul>
                        <li>- {{ 'tt.li10'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li13'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li14'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li36'|trans({}, 'messages') }}<</li>
                        <li>- {{ 'tt.li37'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li38'|trans({}, 'messages') }}</li>
                    </ul>
                    {#
                    <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                    #}
                </div>
                <br>
                <p class="bold_red">{{ 'tt.p4'|trans({}, 'messages') }}</p>
            </div>

            <button class="accordion">{{ 'tt.btn4'|trans({}, 'messages') }}</button>
            <div class="panel">
                <h3>{{ 'tt.h34'|trans({}, 'messages') }}</h3>
                <div>
                    <p>{{ 'export.p4'|trans({}, 'messages') }}<span style="font-weight: bold">300 € +  Malus CO2.</span></p>
                    <p>{{ 'export.p5'|trans({}, 'messages') }} :</p>
                    <ul>
                        <li>{{ 'tt.li1'|trans({}, 'messages') }}</li>
                        <li>{{ 'tt.li2'|trans({}, 'messages') }}</li>
                        <li>{{ 'tt.li3'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :   </p>
                    <ul>
                        <li>1. {{ 'tt.li39'|trans({}, 'messages') }}</li>
                        <li>2. {{ 'tt.li40'|trans({}, 'messages') }}</li>
                    </ul>
                </div>
                <br>
                <p class="border_red">{{ 'tt.p5'|trans({}, 'messages') }}</p>
                <div>
                    <p>{{ 'tt.p6'|trans({}, 'messages') }}: </p>
                    <p class="bold_red">{{ 'tt.p9'|trans({}, 'messages') }}</p>
                </div>
                <div>
                    <p>{{ 'douanePage.p1'|trans({}, 'messages') }} :</p>

                    <p class="subtilble"> » {{ 'export.p7'|trans({}, 'messages') }}:</p>
                    <ul>
                        <li>- {{ 'tt.li41'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li42'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li43'|trans({}, 'messages') }}</li>
                    </ul>
                    <br>
                    <p class="subtilble">» {{ 'export.p9'|trans({}, 'messages') }}:</p>
                    <ul>
                        <li>- {{ 'tt.li10'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li13'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li14'|trans({}, 'messages') }}</li>
                        <li>- {{ 'tt.li20'|trans({}, 'messages') }}</li>
                    </ul>
                    {#
                    <a href="public/build/doc/dounaExport/tt-touriste.pdf" download> Télecharger les doc</a>
                    #}
                </div>
                <br>
                <p class="bold_red">{{ 'tt.p4'|trans({}, 'messages') }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
