<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TTcar Transit{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('bootstrap_css') }}
            {{ encore_entry_link_tags('refonteV1') }}
            {{ encore_entry_link_tags('animate') }}
            {{ encore_entry_link_tags('blog') }}
            {{ encore_entry_link_tags('colors') }}
            {{ encore_entry_link_tags('demo') }}
            {{ encore_entry_link_tags('compare') }}
            {{ encore_entry_link_tags('custom') }}
            {{ encore_entry_link_tags('detail') }}
            {{ encore_entry_link_tags('doc') }}
            {{ encore_entry_link_tags('home') }}
            {{ encore_entry_link_tags('home-2') }}
            {{ encore_entry_link_tags('bxslider') }}
            {{ encore_entry_link_tags('listings') }}
            {{ encore_entry_link_tags('master') }}
            {{ encore_entry_link_tags('pages') }}
            {{ encore_entry_link_tags('site-colors') }}
            {{ encore_entry_link_tags('start') }}
            {{ encore_entry_link_tags('submits') }}
            {{ encore_entry_link_tags('theme') }}
            {{ encore_entry_link_tags('owl_css') }}
            {{ encore_entry_link_tags('account') }}
        {% endblock %}
        <link rel="icon" type="image" href="{{ asset('build/images/tt-groupimg.5f2a4f9d.png') }}" />
        <style>
            .active_locale {
                color: rgba(247,42,54,1); !important;
            }
        </style>
    </head>
    <body>

    <meta name="viewport" content="width=device-width" />
    <header class="Rectangle_1" data-wow-delay="0.7s" style="background: rgba(52,95,138,1)">  
        <a href="{{ path('preHome') }}">
            <img src="{{ asset('build/tt-groupimg.png') }}" id="tt-group" alt="ttcar" width="120" />
        </a>
        <div class="row d-flex justify-content-center">
            <nav id="nav_1">
                <ul>
                    <li><a href="{{ path('main') }}">Transit Temporaire</a></li>
                    <li><a href="{{ path('resacar') }}">Location</a></li>
                    <li><a href="{{ path('douane') }}">Douane Export</a></li>
                </ul>
                <svg class="polygon_1" viewBox="0 0 26 11">
                    <path id="polygon_1" d="M 12.99999904632568 0 L 26 11 L 0 11 Z">
                    </path>
                </svg>
            </nav>
        </div>
        <div class="row d-flex justify-content-end">
        <nav id="nav_2">
            <ul>
                {% if app.user %}
                <li id="nav_btn"><a href="{{ path('account') }}"><i class="fas fa-user"></i> {{ 'menu.compte'|trans({}, 'messages') }}</a></li>
                {% else %}
                <li id="nav_btn"><a href="{{ path('app_login') }}"><i class="fas fa-user"></i> {{ 'login.login'|trans({}, 'messages') }}</a></li>
                {% endif %}
                <li id="nav_btn"><a href="{{ path('contact') }}"> <i class="fas fa-envelope"></i> {{ 'menu.contact'|trans({}, 'messages') }}</a></li>
                {% if app.request.locale == 'fr' %}
                    {# <li id="nav_btn"><a href="{{ path('change_locale',{ 'locale': 'fr' }) }}" style="color: rgba(247,42,54,1)">FR</a></li> #}
                    <li id="nav_btn"><a href="{{ path('change_locale',{ 'locale': 'en' }) }}">EN</a></li>
                    {% else %}
                        <li id="nav_btn"><a href="{{ path('change_locale',{ 'locale': 'fr' }) }}" style="color: rgba(247,42,54,1)">FR</a></li>
                        {# <li id="nav_btn"><a href="{{ path('change_locale',{ 'locale': 'en' }) }}" style="color: rgba(247,42,54,1)">EN</a></li> #}
                {% endif %}
            </ul>
        </nav>
        </div>

        </header><!--b-topBar-->
    
        <div class="sub_nav">
            <div class="row d-flex justify-content-center">
                <span class="span_header">Un véhicule en TT pour <br>votre séjour en Europe</span>
                <nav id="sub_nav">
                    <ul>
                        <li><a href="#">{{ 'menu.booking'|trans({}, 'messages') }}</a></li>
                        <li><a href="#">{{ 'menu.presentation'|trans({}, 'messages') }}</a></li>
                        <li><a href="{{ path('mark_listing') }}">{{ 'menu.range'|trans({}, 'messages') }}</a></li>
                        <li><a href="{{ path('promotions') }}">{{ 'menu.promo'|trans({}, 'messages') }}</a></li>
                        <li><a href="{{ path('groupe') }}">{{ 'menu.groupe'|trans({}, 'messages') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>


    <nav class="show_nav container-fluid navbar navbar-light navbar-expand-md" style="background-color: rgba(52,95,138,1);">
        <a class="navbar-brand" href="{{ path('preHome') }}"><img src="{{ asset('build/tt-groupimg.png') }}" id="tt-group" alt="ttcar" width="120" /></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a id="nav_btn" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transit Temporaire
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:13px;">
                        <a class="dropdown-item d-flex justify-content-center" href="{{ path('main') }}">{{ 'menu.booking'|trans({}, 'messages') }}</a>
                        <a class="dropdown-item d-flex justify-content-center" href="#">{{ 'menu.presentation'|trans({}, 'messages') }}</a>
                        <a class="dropdown-item d-flex justify-content-center" href="{{ path('mark_listing') }}">{{ 'menu.range'|trans({}, 'messages') }}</a>
                        <a class="dropdown-item d-flex justify-content-center" href="{{ path('promotions') }}">{{ 'menu.promo'|trans({}, 'messages') }}</a>
                        <a class="dropdown-item d-flex justify-content-center" href="{{ path('groupe') }}">{{ 'menu.groupe'|trans({}, 'messages') }}</a>
                    </div>
                </li>
                <li id="nav_btn" class="nav-item">
                    <a  class="nav-link" href="{{ path('resacar') }}">Location</a>
                </li>
                <li id="nav_btn" class="nav-item">
                    <a class="nav-link" href="{{ path('douane') }}">Douane Export</a>
                </li>

                <li id="nav_btn" class="nav-item"><a href="{{ path('contact') }}"> <i class="fas fa-envelope"></i> {{ 'menu.contact'|trans({}, 'messages') }}</a></li>
                {% if app.user %}
                    <li id="nav_btn" class="nav-item"><a href="{{ path('account') }}"><i class="fas fa-user"></i> {{ 'menu.compte'|trans({}, 'messages') }}</a></li>
                {% else %}
                    <li id="nav_btn" class="nav-item"><a href="{{ path('app_login') }}"><i class="fas fa-user"></i> {{ 'login.login'|trans({}, 'messages') }}</a></li>
                {% endif %}
                {% if app.request.locale == 'fr' %}
                    {# <li id="nav_btn" class="nav-item"><a href="{{ path('change_locale',{ 'locale': 'fr' }) }}" style="color: rgba(247,42,54,1)">FR</a></li> #}
                    <li id="nav_btn" class="nav-item"><a href="{{ path('change_locale',{ 'locale': 'en' }) }}" style="color: rgba(247,42,54,1)">EN</a></li>
                {% else %}
                    <li id="nav_btn" class="nav-item"><a href="{{ path('change_locale',{ 'locale': 'fr' }) }}" style="color: rgba(247,42,54,1)">FR</a></li>
                    {# <li id="nav_btn" class="nav-item"><a href="{{ path('change_locale',{ 'locale': 'en' }) }}" style="color: rgba(247,42,54,1)">EN</a></li> #}
                {% endif %}
            </ul>
        </div>
    </nav>
<!--b-nav-->
  {% block body %}

    {% endblock %}
{% block footer %}
<footer class="footer_v1 container-fluid">
    <div class="container_footer">
        <div class="row align-items-center d-flex justify-content-center">
            <div class="col-md-3 col-sm-4 col-12 align-items-center d-flex justify-content-center">
                <div class="media_footer">
                    <a href="#" id="media_logo"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" id="media_logo2"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-9 col-sm-6 col-12 text-center">
                <div class="footer_nav">
                <div class="row">
                    <div class="col-md-3 col-6 span_footer_red">
                        <span>Besoin d'aide ?</span>
                    </div>
                    <div class="col-md-3 col-6">
                        <span class="span_footer_number">01 40 71 72 40</span>
                    </div>
                    <div class="col-md-3 col-6">
                        <a href="#" class="span_footer_mail">Par mail</a>
                    </div>
                    <div class="col-md-3 col-6">
                        <a href="#" class="span_footer_inline_help">Aide en ligne</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-12 align-items-center d-flex justify-content-center text-center">
                <div class="footer_nav2">
                    <a href="#" class="span_footer_subnav">Qui sommes-nous</a>
                    <a href="#" class="span_footer_subnav">Mentions légales</a>
                    <a href="#" class="span_footer_subnav">CGU</a>
                    <a href="{{ path('dashboard') }}" class="span_footer_subnav">Admin</a>
                    <a href="#" class="span_footer_subnav">Centres de livraison</a>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!--b-footer-->
{% endblock %}

        {% block javascripts %}
            <script>
                function toogleMenu() {
                    let x = document.getElementById("toogle_menu");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>

            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('bxslider_js') }}
            {{ encore_entry_script_tags('classie') }}
            {{ encore_entry_script_tags('easypiechart') }}
            {{ encore_entry_script_tags('placeholder') }}
            {{ encore_entry_script_tags('smooth') }}
            {{ encore_entry_script_tags('modernizr') }}
            {{ encore_entry_script_tags('theme_js') }}
            {{ encore_entry_script_tags('waypoints') }}
            {{ encore_entry_script_tags('wow') }}
            {{ encore_entry_script_tags('carousel') }}
            {{ encore_entry_script_tags('owl_min') }}
            {{ encore_entry_script_tags('owl_transitions') }}
            {{ encore_entry_script_tags('owl_theme') }}
            {{ encore_entry_script_tags('bootsDate') }}
            {{ encore_entry_script_tags('datepicker') }}

        {% endblock %}
    </body>
</html>

